<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 font-weight">Gestión de Usuarios</span>
        </div>
        <div class="card-content lighten-4">
          <div class="row">
            <div *ngIf="this.auth.tienePermiso('addusr')" class="col s4 offset-s8">
              <a class="waves-light btn modal-trigger" boton="positivo" href="#modalUsuario" (click)="addNewUser()">Agregar Usuario</a>
            </div>
          </div>
          <div class="row">
            <div class="col m2 s12 offset-m10">
              <input class="form-control margen-cero cssipunt" placeholder="Buscar" [(ngModel)]="buscarTexto">
          </div>
            <div class="col s12">
              <!--TABLA-->
              <table class="striped" style="margin-bottom: unset">
                <thead>
                  <tr>
                    <th class="tabla-header-izquierda sortOrderActive" (click)="sortBy('nombre')">Nombre <span>{{sortIcon('nombre')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('apellido')">Apellido <span>{{sortIcon('apellido')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('usuario')">Usuario <span>{{sortIcon('usuario')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('idEstado')">Estado <span>{{sortIcon('idEstado')}}</span></th>
                    <th>Sucursales</th>
                    <th class="tabla-header-derecha">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pto of listaUsuarios  | busqueda : buscarTexto | paginate: { itemsPerPage: regXpag, currentPage: p, id: 'tablaStock' }">
                    <td>{{ pto.nombre }}</td>
                    <td>{{ pto.apellido }}</td>
                    <td>{{ pto.usuario }}</td>
                    <td>{{ nombreEstado(pto.idEstado) }}</td>
                    <td> <span *ngFor="let sucs of pto.sucursales">{{ sucs.codSucursal }} <br></span></td>
                    <td>
                                  <!--editar datos del usuario-->
                        <button *ngIf="this.auth.tienePermiso('editusr')" (click)="getInfoUser(pto.id); updUsr = true" class="btn btnAction waves-light modal-trigger tooltipped"
                        data-target="modalUsuario" data-tooltip="Editar datos del Usuario" style="float: inherit">
                        <i class="material-icons">edit</i>
                      </button>
                      <!--ver los roles asignados-->
                      <button *ngIf="!this.auth.tienePermiso('gstrolusr')" (click)="getInfoUser(pto.id)" class="btn btnAction waves-light modal-trigger tooltipped"
                        data-target="modalRolesAsignados" data-tooltip="Ver datos usuario" style="float: inherit">
                        <i class="material-icons">search</i>
                      </button>
                      <!--asignar y desasignar roles-->
                      <button  *ngIf="this.auth.tienePermiso('gstrolusr')" (click)="getInfoUser(pto.id)" class="btn btnAction waves-light modal-trigger tooltipped"
                        data-target="modalEditRolesAsignados" data-tooltip="Gestionar Roles de Usuario" style="float: inherit">
                        <i class="material-icons">recent_actors</i>
                      </button>
                      <!--gestionar sucursales usuario-->
                      <button  *ngIf="this.auth.tienePermiso('gstsucusr')" (click)="getInfoUserSucursal(pto.id)" class="btn btnAction waves-light modal-trigger tooltipped"
                        data-target="modalSucursalesAsignados" data-tooltip="Gestionar Sucursales de Usuario" style="float: inherit">
                        <i class="material-icons">store</i>
                      </button>
                      <!--eliminar usuario -->
                      <button *ngIf="(this.auth.tienePermiso('delusr') && pto.idEstado == 12)" (click)="inactivarUsuario(pto)" class="btn btnAction btnDel waves-light tooltipped"
                        data-tooltip="inactivar usuario" style="float: inherit">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="listaUsuarios.length==0">
                    <td colspan="6">
                      <p class="novalue">No se encontraron registros</p>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="listaUsuarios.length">
                  <tr>
                    <th colspan="6">
                      <pagination-controls id="tablaStock" class="paginationcss" (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </th>
                  </tr>
                </tfoot>
              </table>
              <!--TABLA-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalUsuario" class="modal">
  <div class="modal-content">
    <div class="row popup">
      <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
        <div class="row popup popup_int">
          <div class="col s10 offset-s1">
            <div class="input-field col s12">
              <input [(ngModel)]="datosUsuario.nombre" required name="nombre" #nombre="ngModel" id="nombre" type="text" class="validate active"
                autofocus>
              <label class="active" for="nombre">Nombre</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="datosUsuario.apellido" required name="apellido" #apellido="ngModel" id="apellido" type="text" class="validate active">
              <label for="apellido">Apellido</label>
            </div>

            <div class="input-field col s12">
              <input [(ngModel)]="datosUsuario.usuario" required name="usuario" #usuario="ngModel" id="username" type="text" class="validate">
              <label class="active" for="username">Nombre de Usuario</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="datosUsuario.pass" required #pass="ngModel" name="pass" id="pass_txt" type="password" class="validate">
              <label class="active" for="pass_txt">Contraseña</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="repeatPass" required name="repeatPass" id="repeatPass_txt" type="password" class="validate">
              <label class="active" for="repeatPass_txt">Confirmar Contraseña</label>
            </div>
            <div class="col s12">
              <div class="col s4" style="margin-top: 10.5px; color: rgb(163, 163, 166);">Estado:</div>
              <div class="col s8 left">
                <select [(ngModel)]="datosUsuario.idEstado" class="browser-default" required #idEstado="ngModel" name="idEstado">
                  <option value="-1" disabled selected>Estado</option>
                  <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{ estados.descripcion }}</option>
                </select>
              </div>
            </div>
            <div class="col s6">
              <br><button type="submit" class="btn   waves-light left">Guardar</button>
            </div>
            <div class="col s6">
              <br><button type="button" (click)="resetForm()" id="closeUsuarios" class="btn waves-light right modal-close">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modalEditRolesAsignados" class="modal">
  <div class="modal-content">
    <div class="row popup">
      <form class="col s12" #forma2="ngForm" (ngSubmit)="guardar(forma2)">
        <div class="row popup popup_int">
          <div class="col s10 offset-s1">
            <div class="col s12">
              <div class="row">
                <div class="col s6">
                  <p>Roles Disponibles</p>
                  <select [(ngModel)]="datosRol" #rolesAll="ngModel" name="rolesAll" id="datosRol_select"
                    class="browser-default" multiple style="min-height: 200px;">
                    <option *ngFor="let rol of rolesDispUsuario" value="{{ rol.id }}">{{ rol.rol }}</option>
                  </select>
                  <a *ngIf="datosRol.length > 0" (click)="agregarRol(datosUsuario.id)" class="  waves-light btn">
                    <p style="display:inline">asignar</p>
                    <i class="material-icons">fast_forward</i>
                  </a>
                </div>
                <div class="col s6">
                  <p>Roles Asignados</p>
                  <select [(ngModel)]="rolAsigLocal" #rolAsig="ngModel" name="rolAsig" id="roles_select"
                    class="browser-default" multiple style="min-height: 200px;">
                    <option *ngFor="let rolUsr of rolesUsuario" value="{{ rolUsr.id }}">{{ rolUsr.rol }}</option>
                  </select>
                  <a *ngIf="rolAsigLocal.length > 0" (click)="removerRol(datosUsuario.id)" class="  waves-light btn left">
                    <i class="material-icons">fast_rewind</i>
                    <p style="display:inline">desasignar</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12">
              <br><button type="button" (click)="resetForm()" id="btnCancelModal2" class="btn waves-light modal-close">Cerrar</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div id="modalRolesAsignados" class="modal">
  <div class="modal-content">
    <div class="row popup">
      <table class="bordered">
        <thead>
          <th>Roles asignados</th>
        </thead>
        <tbody>
          <tr *ngFor="let rolAsig of rolesUsuario">
            <td>{{rolAsig.rol}}</td>
          </tr>
        </tbody>
      </table>
      <div class="col s12">
        <br><button type="button" (click)="resetForm()" id="btnCancelModal3" class="btn waves-light modal-close">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalSucursalesAsignados" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s6">
        <h6>Sucursales asociadas al usuario <b>{{ datosUsuario.usuario }}</b></h6>
      </div>
      <div class="col s6">
        <div class="switch right-align">
          Incluir asociaciones vencidas ?
          <label> 
            No
            <input name="incluirVencidas" [(ngModel)]="incVencidas" type="checkbox" (change)="buscarAsociaciones(datosUsuario.id)">
            <span class="lever"></span>
            Sí
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <br>
      <div *ngIf="this.auth.tienePermiso('addusrsuc')" class="col s12 center-align">
        <a class="waves-light btn modal-trigger" style="float:none" (click)="nuevaAso(datosUsuario.id)" href="#modalNuevaAsociacion">Asociar nueva sucursal</a>
      </div>
    </div>
    <br>
    <div class="row">
        <table class="striped">
          <thead>
            <tr>
              <th>Código Sucursal</th>
              <th>Nombre</th>
              <th>Inicio Vigencia</th>
              <th>Fin Vigencia</th>
              <th>Fecha de Registro</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of sucursalesUsuario">
              <td>{{ item.codSucursal }}</td>
              <td style="width: 25%">{{ sucursalNombre(item.idSucursal) }}</td>
              <td style="width: 15%">{{ item.inicioVigencia | date:'dd/MM/yyyy' }}</td>
              <td style="width: 15%">{{ item.finVigencia | date:'dd/MM/yyyy' }}</td>
              <td style="width: 15%">{{ item.fechaRegistro | date:'dd/MM/yyyy' }}</td>
              <td>{{ (item.vigente) ? 'Vigente' : 'Finalizado' }}</td>
              <td>
                <!-- vencer vigencia -->
                <button *ngIf="(this.auth.tienePermiso('delusr')) && (item.vigente)" (click)="vencerAsoSucursal(item)" class="btn btnAction btnDel waves-light tooltipped"
                  data-tooltip="Finalizar la vigencia" style="float: inherit">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col s12">
          <button type="button" (click)="resetForm()" id="CloseModal3" class="btn waves-light right modal-close">Cerrar</button>
        </div>
    </div>
  </div>
</div>

<div id="modalNuevaAsociacion" class="modal">
  <div class="modal-content">
    <h6 class="center-align">Nueva Asociación</h6>
    <form class="col s12" #forma3="ngForm">
      <div class="row popup popup_int">
        <div class="col s10 offset-s1">
          <div class="input-field col s12">
            <select [(ngModel)]="newAso.idSucursal" #idSucursal="ngModel" name="idSucursal">
              <option value="-1" disabled selected>selecciona una sucursal</option>
              <option *ngFor="let suc of sucursalesDispUsuario" value="{{ suc.id }}">{{ suc.codigoSucursal + ' - ' + suc.descripcion }}</option>
            </select>
            <label>Sucursales disponibles</label>
          </div>
          <div class="input-field col s12">
            <input [(ngModel)]="newAso.inicioVigencia" id="iniVigencia" placeholder="" name="iniVigencia" type="date" class="validate">
            <label for="iniVigencia">Inicio Vigencia</label>
          </div>
          <div class="input-field col s12">
            <input [(ngModel)]="newAso.finVigencia" id="finVigencia" placeholder="" name="finVigencia" type="date" class="validate">
            <label for="finVigencia">Fin Vigencia</label>
          </div>
          <div class="col s6">
            <br><button type="submit" (click)="guardarAsociacion()" class="btn waves-light left">Guardar</button>
          </div>
          <div class="col s6">
            <br><button type="button" (click)="resetForm()" id="CloseModal4" class="btn waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>