<div class="container">
  <br>
  <div class="row" style="margin: 10px auto;">
      <a class="waves-effect waves-light btn btnTransparent left" (click)="goBack()">
        <i class="material-icons left" style="    margin-right: 5px;">arrow_back</i>
        Volver
      </a>
  </div> 
  <h5 class="managingTitle">Estado de Cuenta Proveedor</h5>
  <div class="card col s12" style="margin-top:40px">
    <br>
    <div class="row" >
      <div class="col s6 left" style="margin-left:20px">
        <h6 style="display: inline">Proveedor:  {{datosCuenta.proveedor}} </h6>
      </div>
      <div class="col s3 right" style="margin-right:20px"> 
        <label>Mes</label>              
        <select class="browser-default" (change)=" getEstadoCuenta()" [(ngModel)]="datosCuenta.mes">                   
            <option value="0">Enero</option>
            <option value="1">Febrero</option>
            <option value="2">Marzo</option>
            <option value="3">Abril</option>
            <option value="4">Mayo</option>
            <option value="5">Junio</option>
            <option value="6">Julio</option>
            <option value="7">Agosto</option>
            <option value="8">Setimbre</option>
            <option value="9">Octubre</option>
            <option value="10">Noviembre</option>
            <option value="11">Diciembre</option>
        </select>

      </div>
    </div>

    <div class="card ">
      <div class="card-content col s10">
 
          <output> <h5 style="display: inline">Saldo: {{datosCuenta.saldo | iFormatNumber}}</h5> </output>
      </div>  
    </div>

    <table class="striped" id="reporteEstadoCuenta">
        <thead>
            <tr>
              <th style="width: 15% ">Fecha</th>
              <th style="width: 15% ">Comprobante</th>
              <th style="width: 15% ">Transaccion</th>
              <th style="width: 15% ">Debito</th>
              <th style="width: 15% ">Credito</th>
              <th style="width: 15% ">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaTransacciones | paginate: { itemsPerPage: regXpag, currentPage: p }">
              <td>{{ item.fecha  | date:'dd/MM/yyyy'}}</td>
              <td >{{ item.comprobante  }}</td>
              <td >{{ item.transaccion  }}</td>
              <td >{{ item.debito | iFormatNumber }}</td>
              <td >{{ item.credito | iFormatNumber }}</td>
              <td >{{ item.saldo | iFormatNumber }}</td>
            </tr>
          </tbody>

    </table>
        <h5 *ngIf="listaTransacciones.length==0" class="center-align"> No existen transacciones en el mes seleccionado</h5>
         <!-- paginado -->
    <div class="row">
          <div class="col s2">
            <a class="waves-effect waves-light btn" (click)="getReporte()"><i class="material-icons right">file_download</i>Descargar Excel</a>
          </div>

          <div class="col s8 center-align">
            <pagination-controls (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
          <div class="col s1">
            <p class="right-align">cant. reg.</p>
          </div>
          <div class="col s1" >
            <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
        </div>

  </div>
</div>