<div class="container">
  <br>
  <h5 class="managingTitle">Gestión de Cheques</h5>

  <a *ngIf="this.auth.tienePermiso('addcheques')" class="waves-light btn modal-trigger" (click)="addNewChequera()" href="#modalCheque">Agregar Cheques</a>
  <br>
  <br>
  <br>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th style="width:15%">Banco</th>
          <th style="width:15%">Nro.Cuenta</th>
          <th style="width:10%">Serie</th>
          <th style="width:15%">Tipo</th>
          <th style="width:10%">Nro. Inicial</th>
          <th style="width:10%">Nro. Final</th>
          <th style="width:10%">Estado</th>
          <th style="width:15%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cheques of listaCheques">
          <td>{{ cheques.banco }}</td>
          <td>{{ cheques.cuentaBanco }}</td>
          <td>{{ cheques.serie }}</td>
          <td>{{ cheques.tipoCheque }}</td>
          <td>{{ cheques.numeroInicial }}</td>
          <td>{{ cheques.numeroFinal }}</td>
          <td>{{ cheques.estado }}</td>
          <td style="width:450px">
            <!--editar datos de la cuenta bancaria-->
            <button *ngIf="this.auth.tienePermiso('editcheques')" (click)="getInfoCheques(cheques.id)" class="btn btnAction waves-light modal-trigger tooltipped"
              data-target="modalCheque" style="float: inherit" data-tooltip="Editar datos de la Chequera">
              <i class="material-icons">edit</i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="modalCheque" class="modal">
    <div class="modal-content">
      <div class="row popup">
        
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">

          <div class="row popup popup_int">
              <div *ngIf="(!this.updCheques && !this.search)" class="row" style="text-align:center">
                  <h6 >Nueva Chequera</h6>
              </div>

            <div class="col s10 offset-s1">
               <div class="col s10 left" style="padding: 0px;">
                  <label class="active">Banco</label>
                  <select [disabled]="search" [(ngModel)]="datosCheque.idBanco" class="browser-default" (click)="getLstCtaBanco()" required #idBanco="ngModel" name="idBanco">
                    <option value="-1" disabled selected>Banco</option>
                    <option *ngFor="let banco of listaBancos"  value="{{banco.id }}">{{banco.nombre}}</option>
                  </select>
                </div> 

               <div class="col s10 left" style="padding: 0px;">
                  <label class="active">Cuenta</label>
                  <select [disabled]="search" [(ngModel)]="datosCheque.idCuentaBanco" class="browser-default" required #idCuentaBanco="ngModel" name="idCuentaBanco">
                    <option value="-1" disabled selected>Cuenta Bancaria</option>
                    <option *ngFor="let ctaBco of listaCuentaBanco"  value="{{ctaBco.id }}">{{ctaBco.nroCuenta}}</option>
                  </select>
                </div>

                <div class="col s10 left" style="padding: 0px;">
                  <label class="active">Tipo</label>
                  <select [disabled]="search" [(ngModel)]="datosCheque.idTipoCheque" class="browser-default" required #idTipoCheque="ngModel" name="idTipoCheque">
                    <option value="-1" disabled selected>Tipo Cheque</option>
                    <option *ngFor="let tipoCheque of listaTipoCheque"  value="{{tipoCheque.id }}">{{tipoCheque.descripcion}}</option>
                  </select>
                </div>

                 <div class="input-field col s12">
                  <input [(ngModel)]="datosCheque.serie" required name="serie" #serie="ngModel" id="serie" type="text" class="validate active"
                    autofocus>
                  <label class="active" for="serie">Serie</label>
                </div>


                <div class="input-field col s12">
                  <input [(ngModel)]="datosCheque.numeroInicial" required name="numeroInicial" #serie="ngModel" id="numeroInicial" type="text" class="validate active"
                    autofocus>
                  <label class="active" for="numeroInicial">Nro. Inicial</label>
                </div>

                <div class="input-field col s12">
                  <input [(ngModel)]="datosCheque.numeroFinal" required name="numeroFinal" #serie="ngModel" id="numeroFinal" type="text" class="validate active"
                    autofocus>
                  <label class="active" for="numeroFinal">Nro. Final</label>
                </div>

                <div class="col s10 left" style="padding: 0px;">
                <label class="active" >Estado</label>
                    <select [(ngModel)]="datosCheque.idEstado" class="browser-default" required #idEstado="ngModel" name="idEstado">
                      <option value="-1" disabled selected>Estado</option>
                      <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{ estados.descripcion }}</option>
                    </select>
                </div> 

                  <div class="col s6">
                    <br><button type="submit" class="btn waves-light left">Guardar</button>
                  </div>
                  <div class="col s6">
                    <br><button type="button" (click)="resetForm()" id="btnCancelModal" class="btn waves-light right modal-close">Cancelar</button>
                  </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
