<div class="container">
  <br>
  <h5 class="managingTitle">Gestión de Permisos</h5>

  <a *ngIf="this.auth.tienePermiso('addrol')" class="  waves-light btn modal-trigger" href="#modalRol">Agregar Perfil</a>
  <br>
  <br>
  <br>

  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th style="width: 20%">Nombre del Perfil</th>
          <th>Descripcion</th>
          <th style="width: 35%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rol of listaRoles">
          <td>{{ rol.rol }}</td>
          <td>{{ rol.descripcion}}</td>
          <td style="width:350px">
            <button *ngIf="this.auth.tienePermiso('editrol')" (click)="getInfoRol(rol)" class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Editar Perfil"
              data-target="modalRol" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>
            <button *ngIf="this.auth.tienePermiso('conroles')" (click)="showFuncRol(rol.funcionalidades, rol)" class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Ver Funcionalidades"
              data-target="modalFuncionalidades" style="float: inherit">
              <i class="material-icons">search</i>
            </button>
            <button *ngIf="this.auth.tienePermiso('gstfuncrol')" (click)="getInfoRol(rol)" class="btn tooltipped btnAction waves-light modal-trigger"  data-position="top" data-delay="50" data-tooltip="Asignar Funcionalidades"
              data-target="modalEditRoles" style="float: inherit">
              <i class="material-icons">add</i>
            </button>
            <button *ngIf="this.auth.tienePermiso('delrol')" (click)="getInfoRol(rol)" class="btn tooltipped btnDel btnAction waves-light modal-trigger"  data-position="top" data-delay="50" data-tooltip="Eliminar Perfil"
              data-target="modalAlertDelete">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="modalFuncionalidades" class="modal  modal-fixed-footer">
    <div class="modal-content">
      <div class="row popup">
        <h6 style="display: inline">Perfil:  </h6>
        <output><b>{{datosRol.rol}}</b></output>
        <br>
        <table class="bordered" style="margin-bottom: unset">
          <thead>
            <th class="center">Funcionalidades asignadas</th>
          </thead>
          <tbody>
            <tr *ngFor="let funcRol of listaFuncRol">
              <td>{{funcRol.funcionalidad}}</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="resetForm()" id="btnCancelModal" class="btn waves-effect waves-light modal-close">Cerrar</a>
    </div>
  </div>

  <div id="modalRol" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <form class="col s12" #formaR="ngForm" (ngSubmit)="guardar(formaR)">
          <div class="row popup popup_int">
            <div class="col s8 offset-s2">
              <div class="input-field col s12">
                <input [(ngModel)]="datosRol.rol" required name="rol" #nombre="ngModel" id="nombre_txt" type="text" class="validate" autofocus>
                <label class="active" for="nombre_txt">Nombre del Rol</label>
              </div>
              <div class="input-field col s12">
                <input [(ngModel)]="datosRol.descripcion" required name="descripcion" #apellido="ngModel" id="descripcion_txt" type="text"
                  class="validate">
                <label class="active" for="descripcion_txt">Descripcion</label>
              </div>
              <br>
              <div class="col s6">
                <br>
                <button type="submit" class="btn   waves-light left " name="action">Guardar</button>
              </div>
              <div class="col s6">
                <br>
                <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn   waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="modalEditRoles" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <form class="col s12">
          <div class="row popup popup_int">
            <div class="col s12">
              <h6 style="display: inline">Perfil:</h6>
              <output>{{datosRol.rol}}</output>
              <br>
              <br>
              <div class="col s12">
                <div class="row">
                  <div class="col s6">
                    <p>Func. Disponibles</p>
                    <select [(ngModel)]="datosFuncionalidad" #funcionalidadAll="ngModel" name="funcionalidadAll" id="datosFuncionalidad_select"
                      class="browser-default" multiple style="min-height: 200px;">
                      <option *ngFor="let func of listaFunc" value="{{ func.id }}">{{ func.funcionalidad }}</option>
                    </select>
                    <a *ngIf="datosFuncionalidad.length > 0" (click)="agregarFunc(datosRol.id)" class="  waves-light btn">
                      <p style="display:inline">Asignar</p>
                      <i class="material-icons">fast_forward</i>
                    </a>
                  </div>
                  <div class="col s6">
                    <p>Func. Asignadas</p>
                    <select [(ngModel)]="funcionalidadAsigLocal" #funcionalidadAsig="ngModel" name="funcionalidadAsig" id="funcionalidades_select"
                      class="browser-default" multiple style="min-height: 200px;">
                      <option *ngFor="let funcRol of datosRol.funcionalidades" value="{{ funcRol.id }}">{{ funcRol.funcionalidad }}</option>
                    </select>
                    <a *ngIf="funcionalidadAsigLocal.length > 0" (click)="removerFunc(datosRol.id)" class="  waves-light btn left">
                      <i class="material-icons">fast_rewind</i>
                      <p style="display:inline">Desasignar</p>
                    </a>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn   waves-light right modal-close">Cerrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="modalAlertDelete" class="modal">
    <div class="modal-content">
      <div class="row popup" style="text-align: center">
        <h5 style="display: inline;"> Esta seguro que quiere borrar el perfil
          "<output>{{datosRol.rol}}</output>" ?
        </h5>
        <br>
        <br>
        <div class="col s8 offset-s2">
          <div class="col s6">
            <br>
            <button type="submit" (click)="borrarRol(datosRol.id)" class="btn waves-light left " name="action">Borrar</button>
          </div>
          <div class="col s6">
            <br>
            <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn   waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
