<div class="container">
  <br>
  <div *ngIf="!ordenCompra" >
    <br>
    <h5 class="managingTitle">Proveedores</h5>
    <a *ngIf="this.auth.tienePermiso('addprov')" class="  waves-light btn modal-trigger" href="#modalProveedor">Agregar Proveedor</a>
    <br>
    <br>
    <br>
    <div class="card">
      <div class="row">
        <div class="col s2">
          <label>Buscar</label>
          <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th style="width: 10%">Ruc</th>
            <th style="width: 15%">Razon Social</th>
            <th style="width: 15%">Nombre Fantasia</th>
            <th style="width: 20%">Direccion</th>
            <!--<th>Fecha Registro</th>-->
            <th>Fecha Modificacion</th>
            <!--<th>Estado</th>-->
            <th style="width: 15%">Notas</th>
            <th style="width: 25%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveedor of (listaProveedores | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p}">
            <td>{{ proveedor.ruc }}-{{ proveedor.dv }}</td>
            <td>{{ proveedor.razonSocial }}</td>
            <td>{{ proveedor.nombreFantasia }}</td>
            <td>{{ proveedor.direccion }}</td>
            <!--<td>{{ proveedor.fechaRegistro | date:'dd/MM/yyyy' }}</td>-->
            <td>{{ proveedor.fechaModificacion | date:'dd/MM/yyyy' }}</td>
            <!--<td>{{ (proveedor.idEstado == 1) ? 'Activo' : 'Inactivo' }}</td>-->
            <td>{{ proveedor.notas}}</td>
            <td>
              <!--editar datos del proveedor-->
              <button *ngIf="this.auth.tienePermiso('editprov')" (click)="getInfoProveedores(proveedor.id)" class="btn tooltipped btnAction waves-light modal-trigger"
                data-position="top" data-delay="50" data-tooltip="Editar Proveedor" data-target="modalProveedor" style="float: inherit">
                <i class="material-icons">edit</i>
              </button>
              <!--ver los contactos del proveedor-->
              <button *ngIf="this.auth.tienePermiso('concontactoprov')" (click)="getInfoContactosProveedor(proveedor.id)" class="btn tooltipped btnAction waves-light modal-trigger"
                data-position="top" data-delay="50" data-tooltip="Ver contactos" data-target="modalContactosProveedor" style="float: inherit">
                <i class="material-icons">search</i>
              </button>
              <!--agregar nuevo contacto-->
              <button *ngIf="this.auth.tienePermiso('addcontactoprov')" (click)="resetFormContacto(); getInfoProveedores(proveedor.id)"
                class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Agregar contacto"
                data-target="modalContacto" style="float: inherit">
                <i class="material-icons">add</i>
              </button>
               <!--reporte estado Cuenta
              <button  routerLink="/reporteEstadoCuenta/{{proveedor.id}}"
              class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Ver estado de Cuenta"
              style="float: inherit">
              <i class="material-icons">description</i>
            </button>-->
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
    </div>

  </div>

  <div id="modalProveedor" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
          <div class="row popup popup_int">
              <div *ngIf="(!this.updPro && !this.search)" class="row" style="text-align:center">
                  <h6 >Nuevo Proveedor</h6>
              </div>
            <div class="col s8 offset-s2">
              <div class="input-field col s4">
                <input [(ngModel)]="datosProveedor.ruc" required name="ruc" #ruc="ngModel" id="ruc_txt" type="text" class="validate">
                <label for="nombre_txt">Ruc</label>
              </div>
              <div class="input-field col s2 left" style="display: inline">
                <input [(ngModel)]="datosProveedor.dv" required name="dv" #ruc="ngModel" id="dv_txt" type="text" class="validate">
                <label for="nombre_txt">Dv</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosProveedor.razonSocial" required name="razonSocial" #razonSocial="ngModel" id="razonSocial_txt" type="text"
                  class="validate">
                <label for="apellido_txt">Razon Social</label>
              </div>


              <div class="input-field col s12">
                <input [(ngModel)]="datosProveedor.nombreFantasia" required name="nombreFantasia" #nombreFantasia="ngModel" id="nombreFantasia" type="text"
                  class="validate">
                <label for="nombreFantasia">Nombre Fantasia</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosProveedor.direccion" required name="direccion" #direccion="ngModel" id="direccion_txt" type="text"
                  class="validate">
                <label for="direccion_txt">Direccion</label>
              </div>
    
              <div class="input-field col s12">
                <input [(ngModel)]="datosProveedor.notas" required name="notas" #notas="ngModel" id="notas_txt" type="text" class="validate">
                <label for="notas_txt">Notas</label>
              </div>

              <div class="col s6">
                <br>
                <button type="submit" class="btn waves-light left">Guardar</button>
              </div>
              <div class="col s6">
                <br>
                <button type="button" (click)="resetForm()" id="btnCancelModalProv" class="btn btnDel waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div  *ngIf="!ordenCompra" id="modalContactosProveedor" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <br>
        <h6 style="display: inline">Proveedor: </h6>
        <output class="modalTitle">{{datosProveedor.razonSocial}}</output>
        <br>
        <br>
        <table class="bordered">
          <thead>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let contactos of listaContactos">
              <td>{{contactos.nombre}}</td>
              <td>{{contactos.telefono}}</td>
              <td>{{contactos.correo}}</td>
              <td>
                <!--editar datos del contacto-->
                <button *ngIf="this.auth.tienePermiso('editcontactoprov')" (click)="getInfoContactoById(contactos)" class="btn tooltipped btnAction waves-light modal-trigger"
                  data-position="top" data-delay="50" data-tooltip="Editar Proveedor" data-target="modalContacto" style="float: inherit">
                  <i class="material-icons">edit</i>
                </button>
                <!--eliminar contacto-->
                <button *ngIf="this.auth.tienePermiso('delcontactoprov')" (click)="EliminarContacto(contactos)" class="btn tooltipped btnDel btnAction waves-light modal-trigger"
                  data-position="top" data-delay="50" data-tooltip="Eliminar Proveedor" style="float: inherit">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col s12">
          <br>
          <button type="button" id="btnCancelModal" class="btn waves-light modal-close">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div  *ngIf="!ordenCompra" id="modalContacto" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <h5 class="modalName">Nuevo Contacto</h5>
        <form class="col s12" #formaContacto="ngForm" (ngSubmit)="guardarContacto(formaContacto)">
          <div class="row popup popup_int">
            <div class="col s8 offset-s2">
              <div class="input-field col s12">
                <input [(ngModel)]="datosContacto.nombre" required name="nombre" #nombre="ngModel" id="nombre_txt" type="text" class="validate"
                  autofocus>
                <label for="nombre_txt">Nombre</label>
              </div>
              <div class="input-field col s12">
                <input [(ngModel)]="datosContacto.telefono" required name="telefono" #telefono="ngModel" id="telefono_txt" type="text" class="validate">
                <label for="telefono_txt">Telefono</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosContacto.correo" required name="correo" #correo="ngModel" id="correo_txt" type="text" class="validate">
                <label for="correo_txt">Correo</label>
              </div>

              <div class="col s6">
                <br>
                <button type="submit" class="btn   waves-light left">Guardar</button>
              </div>
              <div class="col s6">
                <br>
                <button type="button" (click)="resetFormContacto()" data-target="modalContactosProveedor" id="btnCancelModal"
                  class="btn  btnDel waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>