<div class="container">
  <br>
  <h4 class="managingTitle">Notas de Remision</h4>

  <a *ngIf="this.auth.tienePermiso('addrem')" class="waves-effect waves-light btn modal-trigger" (click)="addProducto()" href="#modalRemision">Nueva Remision</a>
  <br>
  <br>
  <br>
  <div class="card-tabs">
    <table class="striped">
      <thead>
        <tr>
          <th style="min-width: 140px;">Nro. Remision</th>
          <th style="min-width: 140px;">Nro. Orden de Compra</th>
          <th style="min-width: 200px;">Proveedor</th>
          <th>Fecha registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let remi of listaRemi">
          <td>{{ remi.nroRemision }}</td>
          <td>{{ remi.nroOC }}</td>
          <td>{{ remi.proveedor }}</td>
          <td>{{ remi.fechaRegistro | date:'dd/MM/yyyy' }}</td>
          <td style="width:350px">
            <!--editar la nota de remision-->
            <button *ngIf="(this.auth.tienePermiso('editrem')) && (remi.idEstado == 18)" (click)="chargeLstForEdit(remi.id)" class="btn btnAction tooltipped waves-light waves-effect modal-trigger" data-position="top" data-delay="50" data-tooltip="Editar Remision"
              data-target="modalRemision" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>
            <!--ver la completa-->
            <button (click)="chargeLstForView(remi.id); search = true" class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Ver Remision"
              data-target="modalRemision" style="float: inherit">
              <i class="material-icons">search</i>
            </button>
            <!--imprimir la remision-->
            <button *ngIf="this.auth.tienePermiso('descrem')" (click)="getInfoRemi(remi.id)" class="btn tooltipped btnAction waves-light" data-position="top" data-delay="50" data-tooltip="Descargar Remision"
              style="float: inherit">
              <i class="material-icons">file_download</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="modalRemision" class="modal modalRemi">
    <div class="modal-content">
      <div class="row popup">
        <div class= "col s12 cabecera">
          <div class="col s6 lef"><h5>Nota de Remision</h5></div>
          <div class="col s6">
            <button *ngIf="search && datosRemi.idEstado == 18" style="float: right !important;" type="submit"  class="btn waves-light left" (click)="confirmar(datosRemi.id)">Confirmar</button>
            <p *ngIf="search && datosRemi.idEstado == 19"> {{ datosRemi.estado }}</p>
          </div>
          
          <br><br><br>

          <div class="col s6 lef">
            <p style="display: inline-block">Nro. Remision: </p>
            <output *ngIf="updRemi" >{{ datosRemi.nroRemision }}</output>
          </div>
          <div class="col s6 right" style="text-align: end;">
            <p style="display: inline-block">Fecha: </p>
            <output *ngIf="!updRemi">{{ fechaRemi | date:'dd/MM/yyyy' }}</output>
            <output *ngIf="updRemi">{{ datosRemi.fechaRegistro | date:'dd/MM/yyyy' }}</output>
          </div>
          
          <div class="col s3 lef">
            <p style="display: inline-block">Nro. Orden de Compra: </p>
          </div>
          <div class="col s2 lef">
            <select  *ngIf="!search && !updRemi" [(ngModel)]="ocSelected" (blur)="chargeDatos1()"  class="browser-default" required name="idOrdenCompra" id="idOrdenCompra">
              <option value="-1" disabled selected>N. Orden de Compra</option>
              <option *ngFor="let oc of listaOC; let i = index" value="{{ i }}">{{ oc.nroOrdenCompra }}</option>
            </select>
            <select  *ngIf="search || updRemi" [(ngModel)]="datosRemi.idOrdenCompra" disabled class="browser-default" required name="idOrdenCompra" id="idOrdenCompra">
                <option value="{{ datosRemi.idOrdenCompra }}">{{ datosRemi.nroOC }}</option>
              </select>
          </div>
          
          <div class="col s6 right" style="text-align: end;">
            <p style="display: inline-block">Proveedor: </p>
            <output>{{ datosRemi.proveedor }}</output>
          </div>
        </div>
        
        <br><br>

        <div class="col s12 detalle" style="margin-top:50px">
            <div class="">
                <table class="striped">
                  <thead>
                    <tr>
                      <th style="width: 5%"></th>
                      <th>Codigo</th>
                      <th style="width: 40%">Descripcion</th>
                      <th>Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detRemi of listaDetRemi; let i = index">
                      <td style="width:350px">
                        <button *ngIf="!search"  (click)="lessProducto(i)" class="btn-floating btnAction waves-light waves-effect"
                          style="float: inherit">
                          <i class="material-icons">remove</i>
                        </button>
                      </td>
                      <td>
                        <input [disabled]="search"  [(ngModel)]="detRemi.codProducto" required (blur)="getProductoByCod(codProducto.value, i)" name="codProducto" #codProducto="ngModel" id="codProducto_txt" type="text" class="validate">
                      </td>
                      <td>
                        <span>{{detRemi.producto}}</span>
                      </td>
                      <td>
                        <input [disabled]="search"  [(ngModel)]="detRemi.cantidad" name="cantidad" #cantidad="ngModel" id="cantidad_txt" type="text" class="validate">
                      </td>
                    </tr>
                  </tbody>
                  
                </table>
                <div>
                  <button *ngIf="!search" class="btn-floating waves-light waves-effect right" (click)="addProducto()" style="margin-top:15px;">
                    <i class="material-icons">add</i>
                  </button>
                </div>
            </div>
        </div>
        <div class="col s6">
            <br>
            <button *ngIf="!search"  type="submit" (click)="guardar()"  class="btn waves-light left">Guardar</button>
          </div>
          <div class="col s6">
            <br>
            <button *ngIf="!search" type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-light right modal-close">Cancelar</button>
            <button *ngIf="search" type="button" (click)="resetForm()" id="btnCancelModal" class="btn waves-light right modal-close">Cerrar</button>
          </div>
        </div>
    </div>
  </div>
</div>

