input {
    background-color: white !important;
    border-bottom: 0px !important;
    height: 2rem !important;
    border-radius: 5px !important;
    margin: 0px !important;
    box-shadow: 0 0 0 0 !important;
}

.modalRemi {
    height: 90% !important;
    max-height: 90% !important;
    width: 90% !important;
    top: 5% !important;
}

