label{
    font-weight: bold;
}
input{
    width:5px;
    font-size:5px;
}

#buscarCliente{
    margin-top: 22px;
}

.sumable {
    text-align: right !important;
    padding-right: 20px !important;
}

.detalleCompra {
    float: right;
}

select {
    height: 2rem !important;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead, tr, th {
    text-align: center;
}

.tbody-ventas, tr, td {
    text-align: center;
}



