<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col s2">
      <span><b>Cajero:  </b>  {{cajero}}</span>
    </div>
    <div class="col s3">
      <span><b>Punto de Exp. N°:  </b>  {{ptoExp}}</span>
    </div>
    <div class="col s5">
      <span><b>Sucursal: </b></span>
    </div>
    <div class="col s2">
      <span><b>Fecha: </b>{{fechaHoy}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card col s12">
        <div class="row">
          <div class="col s12">
            <h5 class="center-align"><b>Factura Venta</b></h5>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="txtCedulaRuc">Cédula/Ruc</label>
            <input class="form-control" id="txtCajero" [(ngModel)]="rucCliente" type="text">
          </div>
          <div class="col s4">
            <label for="txtCliente">Cliente</label>
            <input class="form-control" id="txtCliente" [(ngModel)]="clienteDescripcion"  type="text" readonly>
          </div>
          <div class="col s3">
            <label for="txtTelefono">Telefono</label>
            <input class="form-control" id="txtTelefono" [(ngModel)]="telefonoCliente"  type="text" readonly>
          </div>
          <div class="col s1">
            <button id="buscarCliente" class="btn btn-primary" style="margin-top: 22px;"><i class="material-icons" (click)="buscarCliente()">search</i></button>
          </div>
        </div>
        <div class="row">
          <form class="row espacio-inicial" #forma="ngForm" (keyup.enter)="addProducto(forma)">
            <div class="col s2">
              <label for="txtProductoCod">Código</label>
              <div style="display: flex;justify-content: flex-start;align-items: center;">
                <input type="text" name="txtProductoCod" id="txtProductoCod" name="txtProductoCod" (blur)="searchProducto()">
                <button class="btn btn-outline-secondary-sm" (click)="abrirModalBuscarProducto()" type="button" style="margin-left: 5px; margin-bottom: 8px;"><i class="material-icons">search</i></button>
              </div>
            </div>
            <div class="col s4">
              <label for="txtArticulo">Articulo</label>
              <input class="form-control" id="txtArticulo" type="text" name="txtArticulo"readonly>
            </div>
            <div class="col s2">
              <label for="txtStock">Stock Actual</label>
              <input class="form-control" id="txtStock" type="text" name="txtStock"readonly>
            </div>
            <div class="col s2">
              <label for="txtPrecio">Precio</label>
              <input class="form-control" id="txtPrecio" name="txtPrecio" type="text" readonly>
            </div>
            <div class="col s2">
              <label for="txtCantidad">Cantidad</label>
              <input class="form-control" id="txtCantidad" name="txtCantidad" [(ngModel)]="cantidad" type="text">
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col s12">
            <table style="border:1px solid black">
              <thead>
                  <tr>
                    <th style="width: 10%"></th>
                    <th >Codigo</th>
                    <th >Descripción</th>
                    <th >U/M</th>
                    <th >Cantidad</th>
                    <th >Precio Unitario</th>
                    <th >Precio Total</th>
                  </tr>
              </thead>
              <tbody style="display:block;max-height:250px;overflow-y:scroll;" class="tbody-ventas">
                <tr *ngFor="let detFV of listaDetFV; let i = index">

                  <td>
                    <button class="btn-floating btnAction waves-light waves-effect" (click)="lessProducto(i)"><i
                    class="material-icons">remove</i></button>
                  </td>

                  <td [innerText]="(detFV.producto && detFV.producto.cod) ? detFV.producto.cod : ''"></td>
                  
                  <td [innerText]="(detFV.producto && detFV.producto.nombre) ? detFV.producto.nombre : ''"></td>

                  <td [innerText]="(detFV.producto && detFV.producto.unidadMed) ? detFV.producto.unidadMed : ''"></td>
                  
                  <td [innerText]="(detFV.producto && detFV.cantidad) ? detFV.cantidad : ''"></td>
                  
                  <td [innerText]="detFV.precioUnitario | iFormatNumber"></td>

                  <td [innerText]="detFV.precioTotal ? (detFV.precioTotal | iFormatNumber) : ''"></td>

                </tr>
              </tbody>
          </table>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="row" style="margin-left: 20px;">
              <b>Total Gravadas 5%: </b>{{ (listaDetFV | totalFactVenta:'IVA 5') / 21 | number:'1.0-0' }}
            </div>
  
            <div class="row" style="margin-left: 20px;">
              <b>Total Gravadas 10%: </b>{{ (listaDetFV | totalFactVenta:'IVA 10') / 11 | number:'1.0-0' }}
            </div>
  
            <div class="row" style="margin-left: 20px;">
              <b>Total Exenta: </b>{{ listaDetFV | totalFactVenta:'EXCENTO' | number:'1.0-0' }}
            </div>
  
          </div>
          <div class="col s6">
            <h5 class="center-align">TOTAL</h5>
            <h4 class="center-align">{{ listaDetFV | totalFactVenta | iFormatNumber }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="button" name="action" (click)="resetForm()">Cancelar</button>
            <button class="btn waves-effect waves-light" type="button" (click)="registrarVenta()" name="action" style="float: left;">Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="busquedaProducto" class="modal largeModal" style="width: 200px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h5 class="center">Productos</h5>
      <div class="row">
        <div class="col s2">
          <label for="textBuscarProducto">Buscar</label>
          <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText" id="textBuscarProducto">
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th style="min-width: 140px;">Codigo</th>
            <th style="min-width: 160px;">Producto</th>
            <th style="min-width: 300px;">Descripcion</th>
            <th style="min-width: 100px;">Unidad de Medida</th>
            <th>Stock Minimo</th>
            <th >Agrupación</th>
            <th >Marca</th>
            <th>Detalle Fiscal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (listaProd | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p }" (click)="seleccionarProducto(item)">
            <td>{{ item.cod }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ (item.unidadMed) }}</td>
            <td>{{ item.stockMin }}</td>
            <td>{{ item.grupo }}</td>
            <td>{{ item.marca }}</td>
            <td>{{ item.tipoTributo }}</td>        
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row"> 
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>
</div>


<!--div id="newFactura" class="container">
  <div class="row">
    <div class="col s12">
      <h5 class="center-align">Factura Venta</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card col s12">
        <div class="row">

          <div class="col s9">

            <div class="row">

              <div class="input-field col s2">
                <input id="txtFecha" type="date" [(ngModel)]="fechaHoy" readonly>
                <label for="txtFecha">Fecha</label>
              </div>

              <div class="input-field col s4 offset-s1">
                <i class="material-icons prefix" (click)="abrirModalBuscarCliente()" style="cursor: pointer;"
                  title="Buscar">search</i>
                <input id="txtCliente" type="text" (blur)="searchCliente(clienteId.value)" #clienteId
                  style="width: calc(100% - 3rem) !important; margin-left: 3rem !important; padding-top: 5px;">
                <label for="txtCliente">Cliente</label>
              </div>

              <div class="input-field col s7">
                <label [innerText]="clienteDescripcion ? clienteDescripcion : ''"></label>
              </div>

            </div>

          </div>
          <div class="col s3">

            <div class="row">

              <div class="col s12">
                <h5 class="center-align">TOTAL</h5>
                <h4 class="center-align">{{ listaDetFV | totalFactVenta | iFormatNumber }}</h4>
              </div>

            </div>

          </div>

        </div>

        <div class="row">

          <div class="col s12">
            <table class="striped">
              <thead>
                <tr>
                  <th style="width: 5%"></th>
                  <th style="width: 16%">Codigo</th>
                  <th style="width: 5%"></th>
                  <th style="width: 40%">Descripción</th>
                  <th style="width: 5%">U/M</th>
                  <th style="width: 8%" class="sumable">Cantidad</th>
                  <th style="width: 15%" class="sumable">Precio Unitario</th>
                  <th class="sumable">Precio Total</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let detFV of listaDetFV; let i = index">

                  <td style="width:350px">
                    <button class="btn-floating btnAction waves-light waves-effect" (click)="lessProducto(i)" style="float: inherit"><i
                        class="material-icons">remove</i></button>
                  </td>

                  <td>
                    <input (blur)="getProductoByCod(idProducto.value, i)" #idProducto name="idProducto"
                      id="codProducto_txt{{ idProducto.value ? ('_' + idProducto.value) : '' }}" type="text">
                  </td>
                  <td>
                      <i class="material-icons prefix" (click)="abrirModalBuscarProducto(i)" style="cursor: pointer;"
                      title="Buscar">search</i>
                  </td>

                  <td [innerText]="(detFV.producto && detFV.producto.nombre) ? detFV.producto.nombre : ''"></td>

                  <td [innerText]="(detFV.producto && detFV.producto.unidadMed) ? detFV.producto.unidadMed : ''"></td>

                  <td class="sumable">
                    <input name="cantidad" type="number"
                      id="txtCantProducto{{ detFV.producto.cod ? '_' + detFV.producto.cod : '' }}" [attr.data-pos]="i" class="sumable2"
                      [(ngModel)]="detFV.cantidad" (blur)="detFV.precioTotal = (detFV.precioUnitario * detFV.cantidad); detFV.cantidad ? addProducto() : ''">
                  </td>

                  <td class="sumable" [innerText]="detFV.precioUnitario | iFormatNumber"></td>

                  <td class="sumable" [innerText]="detFV.precioTotal ? (detFV.precioTotal | iFormatNumber) : ''"></td>

                </tr>

              </tbody>
            </table>

            <div>
              <button *ngIf="!search" class="btn-floating waves-light waves-effect right" (click)="addProducto()"
                style="margin-top:15px;">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col s4">
            Total Gravadas 5%: {{ listaDetFV | totalFactVenta:'IVA 5' | iFormatNumber }}
          </div>

          <div class="col s4">
            Total Gravadas 10%: {{ listaDetFV | totalFactVenta:'IVA 10' | iFormatNumber }}
          </div>

          <div class="col s4">
            Total Exenta: {{ listaDetFV | totalFactVenta:'Exenta' | iFormatNumber }}
          </div>

        </div>

        <div class="row">

          <div class="col s12">

            <button class="btn waves-effect waves-light" type="button" name="action" (click)="resetForm()">Cancelar</button>

            <button class="btn waves-effect waves-light" type="button" (click)="registrarVenta()"
              name="action">Siguiente</button>

          </div>

        </div>

      </div>
    </div>
  </div>
</div-->

<div id="busquedaCliente" class="modal" style="width: 90% !important;">
  <div class="modal-content">
    <h5 class="center">Buscar Cliente</h5>

    <div class="row">
      <div class="input-field col s2">
        <input placeholder="Buscar..." id="textBuscarCliente" (keyup.enter)="searchCliente(buscarModal.value, true)"
          #buscarModal type="text" style="margin-top: 10px !important;">
        <label for="textBuscarCliente">Buscar</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table>
          <thead>
            <tr>
              <th>RUC</th>
              <th>Razón Social</th>
              <th>Nombre Fantasia</th>
              <th>Dirección</th>
              <th>Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of lstClientes" style="cursor: pointer;" (click)="seleccionarCliente(cliente)">
              <td [innerText]="cliente.ruc"></td>
              <td [innerText]="cliente.razonSocial"></td>
              <td [innerText]="cliente.nombreFantasia"></td>
              <td [innerText]="cliente.direccion"></td>
              <td [innerText]="cliente.correo"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Confirmar</a>
  </div>
</div>

<div id="modalPagos" class="modal largeModal" style="width: 80%">

  <div *ngIf="responseVenta" class="modal-content">

    <div class="row">

      <div class="col s2">

        <div class="col s12">
          <h5 class="center-align">TOTAL</h5>
          <h4 class="center-align">{{ responseVenta.montoTotal | iFormatNumber   }}</h4>
        </div>

      </div>
      <div class="col s10">

        <div class="row">
          <div class="col s6">
            <div class="row">
              <div class="col s7 right-align"><b>Gravado 5:</b></div>
              <div class="col s5 right-align">{{ responseVenta.gravada5 | iFormatNumber }}</div>
            </div>
          </div>
          <div class="col s6">
            <div class="row">
              <div class="col s7 right-align"><b>Total IVA 5:</b></div>
              <div class="col s5 right-align">{{ responseVenta.iva5 | iFormatNumber }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s6">
            <div class="row">
              <div class="col s7 right-align"><b>Gravado 10:</b></div>
              <div class="col s5 right-align">{{ responseVenta.gravada10 | iFormatNumber }}</div>
            </div>
          </div>
          <div class="col s6">
            <div class="row">
              <div class="col s7 right-align"><b>Total IVA 10:</b></div>
              <div class="col s5 right-align">{{ responseVenta.iva10 | iFormatNumber }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s6">
            <div class="row">
              <div class="col s7 right-align"><b>Exenta:</b></div>
              <div class="col s5 right-align">{{ responseVenta.exenta | iFormatNumber }}</div>
            </div>
          </div>
          <div class="col s6">
            <div class="row">
              <div class="col s7 right-align"><b>Total desct:</b></div>
              <div class="col s5 right-align">{{ responseVenta.descuentos | iFormatNumber }}</div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col s12">

        <h6>Formas de Pago</h6>

        <table>
          <thead>
            <tr>
              <th style="width: 15%">Medio</th>
              <th style="width: 20%">Tipo</th>
              <th>Marca/Banco</th>
              <th style="width: 15%">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detFormaPago of detalleVentaCompleta.formasPago; let i = index">
              <td>
                <select class="browser-default" [(ngModel)]="detFormaPago.medioPago"
                  (change)="setearMedioDePagoId(i, detFormaPago.medioPago.id)">
                  <option value="-1" disabled selected>Seleccione una opción</option>
                  <option *ngFor="let medioPago of lstMedioPago" [ngValue]="medioPago"
                    [innerText]="medioPago.descripcion"></option>
                </select>
              </td>
              <td>
                <select class="browser-default">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </td>
              <td>
                <select *ngIf="detFormaPago.medioPago.abreviatura == 'MPTAR'" class="browser-default"
                  [(ngModel)]="detFormaPago.detallesPagos[0].idBanco" style="width: 30%;display: unset;">
                  <option value="-1" disabled selected>Seleccione una opción</option>
                  <option *ngFor="let banco of lstBancos" [value]="banco.id" [innerText]="banco.nombre"></option>
                </select>
                <input *ngIf="detFormaPago.medioPago.abreviatura == 'MPTAR'" placeholder="N° de Tarjeta" type="text"
                  name="txtNroTarjeta" id="txtIdNroTarjeta" [(ngModel)]="detFormaPago.detallesPagos[0].numeroTarjeta"
                  style="width: 35%; text-align: center">
                <input *ngIf="detFormaPago.medioPago.abreviatura == 'MPTAR'" placeholder="Nro Cupón" type="text"
                  name="txtNroCupon" id="txtIdNroCupon" [(ngModel)]="detFormaPago.detallesPagos[0].nroCupon"
                  style="width: 30%; text-align: center">
              </td>
              <td>
                <input placeholder="Monto" id="txtMonto" type="number" [(ngModel)]="detFormaPago.montoPago">
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="col s12">
        <div>
          <button *ngIf="!search" class="btn-floating waves-light waves-effect right" (click)="agregarFormaPago()"
            style="margin-top:15px;">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col s12">
        <h4 class="center-align"><b>Vuelto:</b>
          {{ ((detalleVentaCompleta | pDetalleVentaPagos) - responseVenta.montoTotal) | iFormatNumber }}</h4>
      </div>

    </div>

  </div>
  <div class="modal-footer row">
    <div class="col s6">
      <a class="waves-light btn modal-trigger " (click)="crearRegistroVenta()">Confirmar</a>
    </div>
    <div class="col s6">
      <a class="modal-close btn btnDel waves-light left">Cancelar</a>
    </div>
  </div>
</div>

<div id="facturarVenta" class="modal">
  <div class="modal-content">
    <h5 class="center">Datos de Facturación</h5>
    <div class="row">
      <div class="col s11">
        <select [(ngModel)]="datosFV.idCliente" required #idCliente="ngModel" name="idCliente" id="idCliente">
          <option value="-1" disabled selected>Cliente</option>
          <option *ngFor="let cli of listaClientes" value="{{ cli.id }}">{{ cli.razonSocial }}</option>
        </select>
      </div>
      <div class="col s1 right" style="margin-top: 15px">
        <button class="btn-floating btnAction waves-light waves-effect modal-trigger" href="#modalCliente"
          style="float: inherit">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Confirmar</a>
  </div>
</div>


<!-- <app-gestion-clientes [facturaVenta]="true"></app-gestion-clientes> -->

