<div class="container">
  <br>
  <h5 class="managingTitle">Productos más Vendidos</h5>
  <br>

  <div class="row">
    <div class="col s12 left" style="padding-left: 0">

      <a class="waves-effect waves-light btn btn-small left" (click)="mostrarFrmFiltro()" style="margin: 0">
        <i class="icon-filter_list right"></i>Filtrar</a>

      <div class="contenedorFiltro" id="filtroReporte">

        <div class="row">
          <div class="col s12 center-align">
            <button type="button" (click)="limpiarFiltro()" class="btn waves-light btn-primaryInvertido left btnLimpiarFiltro">Limpiar</button>

            <button type="button" class="btn waves-light btn-primary right btnListoFiltro" (click)="loadRegistros()">Listo</button>
          </div>
        </div>

        <div class="row" style="padding-top: 10px">
          <div class="col s6">
            desde:
            <div class="input-field">
              <input [(ngModel)]="filtro.fechaDesde" id="fechaDesde" name="fechaDesde" type="date" style="text-align: center;">
            </div>
          </div>

          <div class="col s6">
            hasta:
            <div class="input-field">
              <input [(ngModel)]="filtro.fechaHasta" id="fechaHasta" name="fechaHasta" type="date" style="text-align: center;">
            </div>
          </div>

        </div>

        <div class="row" style="padding-top: 10px">
          <div class="col s12"><p>
            <label>
              <input type="checkbox" class="filled-in" (click)="pressCheck()" />
              <span>Más vendidos por Grupo de productos</span>
            </label>
          </p></div>
        </div>

      </div>
      <app-show-chips-filter [lstFiltros]="listaFiltros" (removeFilter)="removerFiltro($event)"></app-show-chips-filter>
    </div>
  </div>

  <div class="row">

    <div class="col s12" style="padding: unset;">
      <ul class="tabs tabs-fixed-width" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);">
        <li class="tab col s3">
          <a class="active" href="#Grafico">Gráficos</a>
        </li>
        <li class="tab col s3">
          <a href="#listaProVend">Listado</a>
        </li>
      </ul>
    </div>

    <div class="card" id="listaProVend" style="position: unset;">
      <br>
      <table *ngIf="(!filtro.grupo)" class="striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Grupo</th>
            <th class="center-align">
              <b>Cantidad</b>
            </th>
            <th class="center-align">Unidad de Medida</th>
            <th class="center-align">Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaProductosVen | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.producto?.cod }}</td>
            <td>{{ item.producto?.nombre }}</td>
            <td>{{ item.producto?.grupo }}</td>
            <td style="text-align: right">{{ item.cantVendida | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.producto?.unidadMed }}</td>
            <td style="text-align: right">{{ item.montoRecaudado | iFormatNumber }}</td>
          </tr>
        </tbody>
      </table>
      <table  *ngIf="(filtro.grupo)">
        <thead>
          <tr>
            <th>Grupo</th>
            <th>Cantidad Vendida</th>
            <th>Monto Recaudado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaProductosVen | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.grupo }}</td>
            <td>{{ item.cantVendida | iFormatNumber }}</td>
            <td>{{ item.montoRecaudado | iFormatNumber }}</td>
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row">
        <div class="col s2">
          <a class="waves-effect waves-light btn" (click)="getReporte()"><i class="material-icons right">file_download</i>Descargar Excel</a>
        </div>
        <div class="col s8 center-align">
          <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

    <div id="Grafico"  class="contenedorGraphic">
      <div class="row">
        <div class="col s6">
          <br>
          <h6 class="center-align">Por cantidad vendida</h6>
          <canvas id="grafCant" #grafCant></canvas>
        </div>
        <div class="col s6">
          <br>
          <h6 class="center-align">Por monto recaudado</h6>
          <canvas id="grafMonto" #grafMonto></canvas>
        </div>
      </div>
    </div>

  </div>
</div>