<div class="container">
  <br>
  <br>
  <h5 class="managingTitle">Proveedores</h5>
  <br>
      <table class="striped">
        <thead>
          <tr>
          <th style="width: 20% ">Proveedor</th>
          <th style="width: 20% ">RUC</th>
          <th style="width: 20% ">Nombre Fantasia</th>
          <th style="width: 20% ">Saldo</th>
          <th style="width: 20% ">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaProv | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.proveedor }}</td>
            <td>{{ item.ruc }}</td>
            <td>{{ item.nombreFantasia  }}</td>
            <td>{{ item.montoTotal | iFormatNumber }}</td>
            <td> 
                <button  routerLink="/reporteEstadoCuenta/{{item.idProveedor}}" 
                class="btn tooltipped waves-light modal-trigger " data-position="top" data-delay="50" data-tooltip="Ver estado de Cuenta"
                style="margin-right: 25%">
                <i class="material-icons">description</i>
                </button>
            </td>
            
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div>
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">Cant. reg:{{creg}} </p>
        </div>
        <div class="col s1 right">
          <!-- <label>Reg. por pag.</label> -->
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
      </div>
      </div>
    </div>


