<div class="container">
  <div class="row" style="margin: 10px auto;">
      <a class="waves-effect waves-light btn btnTransparent left" (click)="goBack()">
        <i class="material-icons left" style="    margin-right: 5px;">arrow_back</i>
        Volver
      </a>
  </div>
  <h5 class="managingTitle">Lista de Precios Nro. {{ nroLista }}</h5>
  <p>Vigente hasta el <b>{{ datosListaPrecio.finVigencia | date:'dd/MM/yyyy' }}</b></p>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th style="width: 12%;">Código</th>
          <th style="width: 25%;">Producto</th>
          <th style="width: 7%;">Costo Base</th>
          <th style="width: 10%;">Tipo Recarga</th>
          <th style="width: 8%;">Monto</th>
          <th style="width: 10%;">Precio Venta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listLPdetalle | paginate: { itemsPerPage: regXpag, currentPage: p }">
          <td>{{ item.stock?.codProducto }}</td>
          <td>{{ item.stock.productoDTO.nombre }}</td>
          <td>{{ item.costoBase }}</td>
          <td>{{ item.idTipoRecarga }}</td>
          <td>{{ item.montoRecarga }}</td>
          <td>{{ item.precioVenta }}</td>
          <td>
            <a class="waves-effect waves-light btn btnAction"><i class="material-icons">delete</i></a>
            <button *ngIf="this.auth.tienePermiso('updLstP')" (click)="getInfoLPD(item.id); updLP = true" class="btn btnAction waves-light modal-trigger tooltipped"
              data-target="modalLPdetalle" data-tooltip="Editar datos" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
     <!-- paginado -->
    <div class="row"> 
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>

  <div id="modalLPdetalle" class="modal" style="width: 75%">
    <div class="modal-content" *ngIf="datosLPdetalle.stock">
      <div class="row popup">
        <form class="col s12" #forma="ngForm">
          <div class="row popup popup_int">
            <div class="col s10 offset-s1">
              <div class="input-field col s6">
                <input [(ngModel)]="datosLPdetalle.stock.codProducto" disabled name="codProducto" id="codProducto" type="text">
                <label for="codProducto">Codigo</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosLPdetalle.stock.productoDTO.nombre" disabled  name="nombre"  id="nombre" type="text">
                <label for="nombre">Descripcion</label>
              </div>

              <div class="col s4">
                Ultimo precio de compra:  
                <div class="input-field inline">
                  <input [(ngModel)]="datosLPdetalle.stock.ultCostoCompra" disabled name="ultCostoCompra" #ultCostoCompra="ngModel"  id="ultCostoCompra" type="number">
                </div>
              </div>

              <div class="col s4">
                  Promedio ponderado actual:  
                  <div class="input-field inline">
                    <input [(ngModel)]="datosLPdetalle.stock.promPonderado" disabled name="promPonderado" #promPonderado="ngModel"  id="promPonderado" type="number">
                  </div>
                </div>

              <div class="col s4">
                Costo base actual:  
                <div class="input-field inline">
                  <input [(ngModel)]="datosLPdetalle.costoBase" name="costoBase" (change)="calcularPrecio(datosLPdetalle.idTipoRecarga)" #costoBase="ngModel"  id="costoBase" type="number" class="validate">
                </div>
              </div>

              <div class="col s6" style="padding: 0px;">
                <label>Tipo de Calculo de precio venta</label>
                <select [(ngModel)]="datosLPdetalle.idTipoRecarga" (change)="cambioTR()" class="browser-default" required #idTipoRecarga="ngModel" name="idTipoRecarga">
                  <option value="-1" disabled selected>tipo de calculo</option>
                  <option *ngFor="let tipRec of listaTipoRecarga"  value="{{ tipRec.id }}">{{ tipRec.descripcion }}</option>
                </select>
              </div>


              <div class="col s6"  *ngIf="datosLPdetalle.idTipoRecarga != 25">
                Gs.  
                <div class="input-field inline">
                  <input [(ngModel)]="datosLPdetalle.montoRecarga" placeholder="0" (keyup)="calcularPrecio(1)" name="montoRecarga" #montoRecarga="ngModel"  id="montoRecarga" type="number" class="validate">
                  <label class="activate" for="montoRecarga">Monto Recarga</label>
                </div>
              </div>
              <div class="col s6" *ngIf="datosLPdetalle.idTipoRecarga == 25">
                %  
                <div class="input-field inline">
                  <input [(ngModel)]="datosLPdetalle.montoRecarga" placeholder="0" (keyup)="calcularPrecio(2)" name="montoRecarga" #montoRecarga="ngModel"  id="montoRecarga" type="number" class="validate">
                  <label for="montoRecarga">Monto Recarga</label>
                </div>
              </div>

              <div class="col s12">
                Gs.  
                <div class="input-field inline">
                  <input [(ngModel)]="datosLPdetalle.precioVenta" disabled placeholder="0"  name="precioVenta" #precioVenta="ngModel"  id="precioVenta" type="number">
                  <label for="precioVenta">Precio de Venta</label>
                </div>
              </div>

              <div class="col s6">
                <br>
                <button type="submit" (click)="guardar()" class="btn waves-light left">Guardar</button>
              </div>
              <div class="col s6">
                <br>
                <button type="button" (click)="resetForm()" id="btnCancelModalMarca" class="btn waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>