<div class="container">
  <br>
  <h5 class="managingTitle">Productos</h5>

  <a *ngIf="this.auth.tienePermiso('addpro')" class="waves-effect waves-light btn modal-trigger" href="#modalFichaProducto" (click)="chargeLsts()">Agregar Producto</a>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="row">
      <div class="col s2">
        <label>Buscar</label>
        <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
      </div>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th style="min-width: 140px;">Codigo</th>
          <th style="min-width: 160px;">Producto</th>
          <th style="min-width: 300px;">Descripcion</th>
          <th style="min-width: 100px;">Unidad de Medida</th>
          <th>Stock Minimo</th>
          <th >Agrupación</th>
          <th >Marca</th>
          <th>Detalle Fiscal</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (listaProductos | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p }">
          <td>{{ item.cod }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ (item.unidadMed) }}</td>
          <td>{{ item.stockMin }}</td>
          <td>{{ item.grupo }}</td>
          <td>{{ item.marca }}</td>
          <td>{{ item.tipoTributo }}</td>        
          <td style="width:350px">
            <button *ngIf="this.auth.tienePermiso('editprod')" (click)="getInfoProducto(item.id)" class="btn btnAction waves-light waves-effect modal-trigger"
              data-target="modalFichaProducto" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginado -->
    <div class="row"> 
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>

  <div id="modalFichaProducto" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <form class="col s12" #forma1="ngForm" (ngSubmit)="guardar(forma1)">
          <div class="row popup popup_int">
            <div class="col s10 offset-s1">
              <div *ngIf="!this.updPro" class="input-field col s8">
                <input [(ngModel)]="datosProducto.cod" required name="cod" #nombre="ngModel" id="cod_txt" type="text" class="validate active">
                <label for="cod_txt">Código</label>
              </div>
              <div *ngIf="this.updPro" class="input-field col s8">
                <input disabled [(ngModel)]="datosProducto.cod" required name="cod" #nombre="ngModel" id="cod_txt" type="text" class="validate active">
                <label for="cod_txt">Código</label>
              </div>
              
              <div  *ngIf="!this.updPro" class="col s4">
                <a (click)="genCodigoPro()" class="btn waves-light waves-effect" style="float: inherit">Generar</a>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosProducto.nombre" required name="nombre" #nombre="ngModel" id="nombre_txt" type="text" class="validate active">
                <label for="nombre_txt">Nombre del Producto</label>
              </div>
              <div class="input-field col s12">
                <input [(ngModel)]="datosProducto.descripcion" name="descripcion" #descripcion="ngModel" id="descripcion_txt" type="text" class="validate">
                <label for="descripcion_txt">Descripcion</label>
              </div>

              <div class="col s6 left"> 
                <div class="col s10 left" style="padding: 0px;">
                  <label>Unidad de Medida</label>
                  <select [(ngModel)]="datosProducto.idUnidadMed" class="browser-default" required #idUnidadMed="ngModel" name="idUnidadMed">
                    <option value="-1" disabled selected>Unidad de Medida</option>
                    <option *ngFor="let unimed of listaUniMed"  value="{{ unimed.id }}">{{ unimed.descripcion }}</option>
                  </select>
                </div>
                <div class= "col s1">
                  <button *ngIf="(this.auth.tienePermiso('addpromant') && !search)" class="btn-floating small btnAction waves-light waves-effect modal-trigger" href="#modalUniMed"
                    style="float: inherit" (click)="newUniMed()">
                    <i class="material-icons">add</i>
                  </button>
                </div>
              </div>

              <div class="col s6 left"> 
                <div class="col s10 left" style="padding: 0px;">
                  <label>Agrupación</label>
                  <select [(ngModel)]="datosProducto.idGrupo" class="browser-default" required #idGrupo="ngModel" name="idGrupo">
                    <option value="-1" disabled selected>Agrupación</option>
                    <option *ngFor="let grupo of listaGrupo" value="{{ grupo.id }}">{{ grupo.nombre }}</option>
                  </select>
                </div>
                <div class= "col s1">
                  <button *ngIf="(this.auth.tienePermiso('addpromant') && !search)" class="btn-floating small btnAction waves-light waves-effect modal-trigger" href="#modalFamilia"
                  style="float: inherit" (click)='newGrupo()'>
                    <i class="material-icons">add</i>
                  </button>
                </div>
              </div>

              <div class="col s6 left">
                <div class="col s10 left" style="padding: 0px;">
                  <label>Marca</label>
                  <select [(ngModel)]="datosProducto.idMarca" class="browser-default" required #idMarca="ngModel" name="idMarca">
                    <option value="-1" disabled selected>Marca</option>
                    <option *ngFor="let marca of listaMarca"  value="{{ marca.id }}">{{ marca.descripcion }}</option>
                  </select>
                </div>
                <div class= "col s1">
                  <button *ngIf="(this.auth.tienePermiso('addpromant') && !search)" class="btn-floating small btnAction waves-light waves-effect modal-trigger" href="#modalMarca"
                  style="float: inherit" (click)='newMarca()'>
                    <i class="material-icons">add</i>
                  </button>
                </div>
              </div>

              <div class="col s6 left">
                <label>Tipo de Tributo</label>
                <select [(ngModel)]="datosProducto.idTipoTributo" class="browser-default" required #idTipoTributo="ngModel" name="idTipoTributo">
                  <option value="-1" disabled selected>Tipo Tributo</option>
                  <option *ngFor="let tributos of listaTributos"  value="{{ tributos.id }}">{{ tributos.descripcion }}</option>
                </select>
              </div>

              <div class="input-field col s3">
                <input [(ngModel)]="datosProducto.stockMin" required name="stockMin" #stockMin="ngModel" id="stockMin_txt" type="text" class="validate">
                <label for="stockMinimo_txt">Stock Minimo</label>
              </div>

              <div class="input-field col s6 push-s3">
                <input [(ngModel)]="datosProducto.porcRecarga" required name="porcRecarga" #porcRecarga="ngModel" id="porcRecarga" type="text" class="validate">
                <label for="porcRecarga">Porcentaje estimado p/ recarga</label>
              </div>
              
              <div class="col s12">
                <div class="col s6">
                  <br>
                  <button type="submit" class="btn waves-effect waves-light left">Guardar</button>
                </div>
                <div class="col s6">
                  <br>
                  <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-effect waves-light right modal-close">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<app-mantenimiento-marca [fichaProducto]="true"></app-mantenimiento-marca>
<app-mantenimiento-unidad-medida [fichaProducto]="true"></app-mantenimiento-unidad-medida>
<app-mantenimiento-familia [fichaProducto]="true"></app-mantenimiento-familia>
<!-- <app-mantenimiento-sub-familia [fichaProducto]="true" [idFamilia]="datosProducto.idFamilia"></app-mantenimiento-sub-familia> -->