<div class="container">
  <br>
  <h5 class="managingTitle">Productos próximos a Agotarse</h5>
  <br>
  <div class="row">
    <div class="col s12 left" style="padding-left: 0">

      <a class="waves-effect waves-light btn btn-small left" (click)="mostrarFrmFiltro()" style="margin: 0">
        <i class="icon-filter_list right"></i>Filtrar</a>

      <div class="contenedorFiltro" id="filtroReporte">

        <div class="row">
          <div class="col s12" (blur)="selectedRadioButton(stockMin.value)">
            <p><b>Listar los productos con stock actual...</b></p>
            <p>
              <label>
                <input class="with-gap" name="group1" id="stockMin" #stockMin type="radio" checked (click)="selectedRadioButton(stockMin.id)"/>
                <span>Inferior al stock de Seguridad</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" id="stock20" #stock20 type="radio" (click)="selectedRadioButton(stock20.id)" />
                <span>Al 20% del stock de Seguridad</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" id="stock40" #stock40 type="radio" (click)="selectedRadioButton(stock40.id)" />
                <span>Al 40% del stock de Seguridad</span>
              </label>
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12 center-align">
            <button type="button" class="btn waves-light btn-primary right btnListoFiltro" (click)="loadRegistros()">Listo</button>
          </div>
        </div>

      </div>
      <app-show-chips-filter [lstFiltros]="listaFiltros" (removeFilter)="removerFiltro($event)"></app-show-chips-filter>
    </div>
  </div>

  <div class="row">

    <div class="card" id="listaProStock" style="position: unset;">

      <table *ngIf="(!filtro.grupo)" class="striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Stock Disponible</th>
            <th>Stock Mínimo</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of listaProductosAgoDet | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.codProducto }}</td>
            <td>{{ item.productoDTO?.nombre }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.productoDTO?.stockMin }}</td>
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row">
        <div class="col s2">
          <a class="waves-effect waves-light btn" (click)="getReporte()"><i class="material-icons right">file_download</i>Descargar Excel</a>
        </div>
        <div class="col s8 center-align">
          <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</div>