<div class="container">
  <br>
  <h5 class="managingTitle">Ventas Realizadas</h5>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col s12" style="padding: unset;">
      
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a class="active" href="#facturas" (click)="getlstVentas()">Facturas</a></li>
        <li class="tab col s3"><a href="#nCreditos"  (click)="getLstNotaCredito()">Notas de Crédito</a></li>
      </ul>
    </div>

    <div class="card" id="facturas" style="position: unset;">
      <table class="striped">
        <thead>
          <tr>
            <th>N° Factura</th>
            <th class="center-align">Fecha</th>
            <th class="center-align">Gravadas 5</th>
            <th class="center-align">Gravadas 10</th>
            <th class="center-align">Exentas</th>
            <th class="center-align">IVA 5</th>
            <th class="center-align">IVA 10</th>
            <th class="center-align">Descuentos</th>
            <th class="center-align">Total</th>
            <th class="center-align">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaCV | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.nroFactura }}</td>
            <td class="center-align">{{ item.fechaCreacion | date:'dd/MM/yyyy' }}</td>
            <td style="text-align: right">{{ item.gravada5 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.gravada10 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.exenta | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.iva5 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.iva10 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.descuento | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.neto | iFormatNumber }}</td>
            <td>
              <!-- ver datos de la venta -->
              <button (click)="getInfoVenta(item.id)"
                class="btn btnAction waves-light waves-effect modal-trigger tooltipped" data-target="modalDetalles"
                data-tooltip="Ver detalles" style="float: inherit">
                <i class="material-icons">search</i>
              </button>
              <!-- reimpresion de factura -->
              <!-- <button (click)="imprimirFV(item)" class="btn btnAction waves-light waves-effect tooltipped"
                data-tooltip="Reimprimir Factura" style="float: inherit">
                <i class="material-icons">print</i>
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row">
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card" id="nCreditos" style="position: unset;">
      <table class="striped">
        <thead>
          <tr>
            <th>N° Nota Credito</th>
            <th class="center-align">Fecha Emisión</th>
            <th>Cliente</th>
            <th class="center-align">Total</th>
            <th>Usuario Creación</th>
            <th class="center-align">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaNCventa | paginate: { itemsPerPage: regXpag2, currentPage: p2 }">
            <td>{{ item.nroNotaCredito }}</td>
            <td class="center-align">{{ item.fechaCreacion | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.cliente.razonSocial }}</td>
            <td style="text-align: right">{{ item.montoTotal | iFormatNumber }}</td>
            <td> {{ item.usuarioCreacion }}</td>
            <td>
              <!-- ver datos de la nota de credito -->
              <button (click)="getInfoNCventa(item.id)"
                class="btn btnAction waves-light waves-effect modal-trigger tooltipped" data-target="modalDetallesNC"
                data-tooltip="Ver detalles" style="float: inherit">
                <i class="material-icons">search</i>
              </button>
              <!-- reimpresion de nota credito -->
              <!-- <button (click)="imprimirFV(item)" class="btn btnAction waves-light waves-effect tooltipped"
                data-tooltip="Reimprimir Factura" style="float: inherit">
                <i class="material-icons">print</i>
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row">
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag2($event)" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag2" [(ngModel)]="regXpag2">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

  </div>

  <div id="modalDetalles" class="modal">
    <div class="modal-content">
      <h6>Factura {{ datosCabVenta.nroFactura }}</h6>
      <br>
      <div class="card">
        <table class="striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Uni</th>
              <th>Precio Total</th>
              <th>Tributo</th>
              <th>descuento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaDetCV">
              <td>{{ item.producto?.cod }}</td>
              <td>{{ item.producto?.nombre }}</td>
              <td>{{ item.cantidad }}</td>
              <td>{{ item.precioUnitario | iFormatNumber }}</td>
              <td>{{ item.precioTotal | iFormatNumber }}</td>
              <td>{{ nombreTributo(item.tipoIdentificadorFiscal) }}</td>
              <td>{{ item.montoDescuento | iFormatNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn">Cerrar</a>
    </div>
  </div>

  <div id="modalDetallesNC" class="modal">
      <div class="modal-content">
        <h6>Nota de Credito {{ datosNotaCre.nroNotaCredito }}</h6>
        <br>
        <div class="card">
          <table class="striped">
            <thead>
              <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Uni</th>
                <th>Precio Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaNCVdetalles">
                <td>{{ item.producto?.cod }}</td>
                <td>{{ item.producto?.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.total/item.cantidad | iFormatNumber }}</td>
                <td>{{ item.total | iFormatNumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn">Cerrar</a>
      </div>
    </div>

</div>