input {
    background-color: white !important;
    border-bottom: 0px !important;
    height: 2rem !important;
    border-radius: 5px !important;
    margin: 0px !important;
    box-shadow: 0 0 0 0 !important;
}

.sumable {
    text-align: right !important;
    padding-right: 20px !important;
}

.sumable2 {
    text-align: right !important;
}

label{
    font-weight: bold;
}