<div class="container">
  <br>
  <h5 class="managingTitle">Ordenes de Compra</h5>

  <a *ngIf="this.auth.tienePermiso('addoc')" class="waves-effect waves-light btn modal-trigger" (click)="chargeLstNewOrder()" href="#modalOrdenCompra">Nueva Orden de Compra</a>
  <br>
  <br>
  
  <div class="card">
    <div class="row">
      <div class="col s2">
        <label>Buscar</label>
        <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
      </div>
    </div>
    <table class="striped" id="ordenCompra">
      <thead>
        <tr>
          <th style="width: 16% !important; max-width: 16% !important;">N° Orden de Compra</th>
          <th>Proveedor</th>
          <th style="width: 13% !important; max-width: 13% !important;"> Monto Total</th>
          <th style="width: 13% !important; max-width: 13% !important;">Fecha registro</th>
          <th style="width: 13% !important; max-width: 13% !important;">Estado</th>
          <th style="width: 19% !important">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oc of (listaOC | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p}">
          <td>{{ oc.nroOrdenCompra }}</td>
          <td>{{ oc.proveedor }}</td>
          <td style="text-align: right;"><p style="display: inline-block; text-align: left;">Gs. <br></p>{{ oc.montoTotal | iFormatNumber }}</td>
          <td style="text-align: center;">{{ oc.fechaRegistro | date:'dd/MM/yyyy' }}</td>
          <td>{{ oc.estado }}</td>
          <td>
            <button *ngIf="(this.auth.tienePermiso('editoc')) && (oc.estado == 'EN CURSO')"  (click)="getInfoOC(oc.id)" class="btn btnAction tooltipped waves-light waves-effect modal-trigger" data-position="top" data-delay="50" data-tooltip="Editar Orden de Compra"
              data-target="modalOrdenCompra" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>
            <!--ver los productos de la orden de compra-->
            <button (click)="chargeLst4Show(oc.id); search = true"  class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Ver Orden de Compra"
              data-target="modalOrdenCompra" style="float: inherit">
              <i class="material-icons">search</i>
            </button>
            
            <button *ngIf="oc.estado == 'EN CURSO' " (click)="anularOC(oc.id)" class="btn btnDel tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Anular Orden de Compra"
              data-target="modalProductosOC" style="float: inherit">
              <i class="material-icons">remove_circle_outline</i>
            </button>
            <!--imprimir la orden de compra-->
            <button *ngIf="(oc.estado == 'CONFIRMADA') && (this.auth.tienePermiso('descoc'))" (click)="imprimirOrdenCompra(oc.id)" class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Descargar Orden de Compra"
              data-target="modalProductosOC" style="float: inherit">
              <i class="material-icons">file_download</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginado -->
    <div class="row"> 
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>

  <div id="modalOrdenCompra" class="modal bigModal">
    <div class="modal-header">
      <div *ngIf="(!this.updOC && !this.search)" style="text-align: center"><h5>Nueva Orden de Compra</h5><br><br></div>
      <div *ngIf="(this.updOC || this.search)" style="text-align: center"><h5>Orden de Compra</h5> <br><br></div>        
    </div>
    <div class="modal-content">
      <div class="form-group">
        <div class="col s3  lef">
          <p *ngIf="(this.updOC || this.search)" style="display: inline-block"><b>Nro. Orden de Compra: </b></p>
          <output *ngIf="this.updOC">  {{ datosOC.nroOrdenCompra }}</output>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="row">
          <div class="col s6">
            <div class="row">
              <div class="col s2">
                <p style="display: inline-block;"><b>Proveedor:</b></p>
              </div>
              <div class="col s6">
                <ng-select [(ngModel)]="datosOC.idProveedor" class="ngselectborder" appearance="outline" required #idProveedor="ngModel" name="idProveedor" id="idProveedor">
                  <ng-option *ngFor="let prov of listaProv" [value]="prov.id">{{ prov.razonSocial }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col s3">
            <p style="display: inline-block"><b>Fecha: </b></p>
            <output *ngIf="!this.updOC">  {{ fechaOC | date:'dd/MM/yyyy' }}</output>
            <output *ngIf="this.updOC">  {{ datosOC.fechaRegistro | date:'dd/MM/yyyy' }}</output>
          </div>
          <div class="col s3 left">
            <p style="display: inline-block"><b>Estado: </b></p>
            <output>  {{ (datosOC.estado == '') ? 'Pendiente' : datosOC.estado }}</output>
          </div>   
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col s12 detalle">
            <div class="">
                <table class="striped">
                  <thead>
                    <tr>
                      <th style="width: 5%" *ngIf="(!this.search)"></th>
                      <th style="width: 16%">Codigo</th>
                      <th style="width: 40%">Descripcion</th>
                      <th style="width: 8%" class="sumable">Cantidad</th>
                      <th style="width: 15%" class="sumable">Costo Unitario</th>
                      <th class="sumable">Costo Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detOc of listaDetOC; let i = index">
                
                      <td style="width:350px" *ngIf="(!this.search)">
                        <button *ngIf="!search"  (click)="lessProducto(i)" class="btn-floating btnAction waves-light waves-effect"
                          style="float: inherit">
                          <i class="material-icons">remove</i>
                        </button>
                      </td>
                      <td>
                        <div style="display: flex;justify-content: flex-start;align-items: center;">
                          <input *ngIf="(!this.search)"  [(ngModel)]="detOc.codProducto" required (blur)="getProductoByCod(codProducto.value, i)" name="codProducto" #codProducto="ngModel" id="codProducto_txt" type="text" class="validate">
                          <button *ngIf="(!this.search)" class="btn btn-outline-secondary-sm" type="button" style="margin-left: 5px;" (click)="abrirModalBuscarProducto(i)"><i class="material-icons">search</i></button>
                          <span *ngIf="(this.search)">{{detOc.codProducto}}</span>
                        </div>
                      </td>
                      <td>
                        <span>{{detOc.producto}}</span>
                      </td>
                      <td class="sumable">
                        <input *ngIf="(!this.search)" [(ngModel)]="detOc.cantidad" [disabled]="!detOc.producto" (blur)="calcMontoTotal(detOc, i)" name="cantidad" #cantidad="ngModel" id="cantidad_txt" type="text" class="validate sumable2">
                        <span *ngIf="(this.search)">{{ detOc.cantidad}}</span>
                      </td>
                
                       <td class="sumable">
                        <input *ngIf="(!this.search)" [(ngModel)]="detOc.ultCostoCompra" (blur)="calcMontoTotal(detOc, i)" [disabled]="!detOc.producto" name="costo" #costo="ngModel" id="costo_txt" type="text" class="validate sumable2">
                        <span *ngIf="(this.search)">{{ detOc.ultCostoCompra}}</span>
                      </td>
                      <td class="sumable">
                          <span>{{ detOc.costoTotal }}</span>
                      </td>
                    </tr>
                  </tbody>
                  
                </table>
                <div>
                  <button *ngIf="!search" class="btn-floating waves-light waves-effect right" (click)="addProducto()" style="margin-top:15px;">
                    <i class="material-icons">add</i>
                  </button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col s12" style="margin-top:50px">
            <div class="col s4 left">
              <p style="display: inline-block; margin-right: 15px;"><b>Total I.V.A. 5%: </b></p>
              <output *ngIf="(this.updOC || this.search)" >{{ getTotalIva5  | number:'1.0-2' }}</output>
              <!--output *ngIf="(this.updOC || this.search)" >{{ datosOC.totalIva5 | number:'1.0-2' }}</output-->
              <output *ngIf="(!this.updOC && !this.search)" >{{( (listaDetOC | sumas:"TTIV5") / 21 ) | number:'1.2-2'}}</output>
            </div>
            <div class="col s4" style="text-align: center;">
              <p style="display: inline-block; margin-right: 15px;"><b>Total I.V.A. 10%: </b></p>
              <output *ngIf="(this.updOC || this.search)" >{{ getTotalIva10 | number:'1.0-2' }}</output>
              <output *ngIf="(!this.updOC && !this.search)" >{{ ((listaDetOC | sumas:"TTI10") / 11) | number:'1.2-2'}}</output>
            </div>
            <div class="col s4 right" style="text-align: end;">
              <p style="display: inline-block; margin-right: 15px;"><b>Total exentas: </b></p>
              <output *ngIf="(this.updOC || this.search)" >{{ datosOC.totalExcenta | number:'1.0-2' }}</output>
              <output *ngIf="(!this.updOC && !this.search)" >{{ listaDetOC | sumas:"TTEXC" | number:'1.0-2' }}</output>
            </div>
            <div class="col s12 right" style="text-align: end;">
              <p style="display: inline-block; margin-right: 35px;"><b>Monto Total Gs.: </b></p>
              <output *ngIf="(this.updOC || this.search)" >{{ getMontoTotal | number:'1.0-2' }}</output>
              <output *ngIf="(!this.updOC && !this.search)" >{{ getMontoTotal | number:'1.0-2' }}</output>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <button *ngIf="(!search) && (datosOC.estado == 'EN CURSO')"  type="submit" (click)="confirmar()"  class="btn waves-light left">Confirmar</button>
            <button *ngIf="!search"  type="submit" (click)="guardar()"  class="btn waves-light left">Guardar</button>
          </div>
          <div class="col s6">
            <button *ngIf="!search" type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-light right modal-close">Cancelar</button>
            <button *ngIf="search" type="button" (click)="resetForm()" id="btnCancelModal" class="btn waves-light right modal-close">Cerrar</button>
          </div>
        </div>
    </div>
  </div>

  <div id="busquedaProducto" class="modal largeModal" style="width: 80% !important; z-index: 1004;">
    <div class="modal-content">
      <h5 class="center">Productos</h5>
      <div class="row">
        <div class="input-field col s2">
          <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th style="min-width: 140px;">Codigo</th>
            <th style="min-width: 160px;">Producto</th>
            <th style="min-width: 300px;">Descripcion</th>
            <th style="min-width: 100px;">Unidad de Medida</th>
            <th>Stock Minimo</th>
            <th >Agrupación</th>
            <th >Marca</th>
            <th>Detalle Fiscal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (listaProd | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p }" (click)="seleccionarProducto(item)">
            <td>{{ item.cod }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ (item.unidadMed) }}</td>
            <td>{{ item.stockMin }}</td>
            <td>{{ item.grupo }}</td>
            <td>{{ item.marca }}</td>
            <td>{{ item.tipoTributo }}</td>        
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row"> 
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
  </div>

  </div>

<app-gestion-proveedores [ordenCompra]="true" ></app-gestion-proveedores>
