<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 font-weight">Gestion de Stock</span>
        </div>
        <div class="card-content lighten-4">
          <!--div class="row">
            <div *ngIf="this.auth.tienePermiso('addPtoExp')" class="col s4 offset-s8">
              <a class="waves-light btn modal-trigger" boton="positivo" href="#modalPtoExp" (click)="newPtoExp()">Nuevo Pto. de Expedición</a>
            </div>
          </div-->
          <div class="row">
            <div class="col m2 s12 offset-m10">
              <input class="form-control margen-cero cssipunt" placeholder="Buscar" [(ngModel)]="buscarTexto">
          </div>
            <div class="col s12">
              <!--TABLA-->
              <table class="striped" style="margin-bottom: unset">
                <thead>
                  <tr>
                    <th class="tabla-header-izquierda sortOrderActive" (click)="sortBy('codProducto')">Codigo <span>{{sortIcon('codProducto')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('productoDTO.nombre')">Descripcion <span>{{sortIcon('productoDTO.nombre')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('stock')">Stock disponible <span>{{sortIcon('stock')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('usuarioCreacion')">Ultimo Costo Compra <span>{{sortIcon('usuarioCreacion')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('usuarioCreacion')">Promedio Ponderado <span>{{sortIcon('usuarioCreacion')}}</span></th>
                    <th class="tabla-header-derecha">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pto of listaStock  | busqueda : buscarTexto | paginate: { itemsPerPage: regXpag, currentPage: p, id: 'tablaStock' }">
                    <td>{{ pto.codProducto }}</td>
                    <td>{{ pto.productoDTO.nombre }}</td>
                    <td>{{ pto.stock }}</td>
                    <td>{{ pto.ultCostoCompra | iFormatNumber }}</td>
                    <td>{{ pto.promPonderado | iFormatNumber }}</td>
                    <td>
                      <!-- ver datos del stock -->
                        <button (click)="getInfoStock(pto.id)" class="waves-light btn modal-trigger"
                        data-target="modalStock" data-tooltip="Ver Stock" style="float: inherit">
                        <i class="material-icons">search</i>
                      </button>&nbsp;
                      <!-- ajustar stock -->
                      <button *ngIf="this.auth.tienePermiso('updStock')"  (click)="ajustarStock(pto)" class="waves-light btn modal-trigger"
                        data-target="modalAjusteStock" data-tooltip="Ajustar Stock" style="float: inherit">
                        <i class="material-icons">edit</i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="listaStock.length==0">
                    <td colspan="6">
                      <p class="novalue">No se encontraron registros</p>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="listaStock.length">
                  <tr>
                    <th colspan="6">
                      <pagination-controls id="tablaStock" class="paginationcss" (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </th>
                  </tr>
                </tfoot>
              </table>
              <!--TABLA-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modalStock  (ngSubmit)="guardar(forma)">-->
<div id="modalStock" class="modal">
  <div class="modal-content">
    <div class="row popup">
      <h6 style="text-align: center">Detalles de Stock</h6>
      <form class="col s12" #forma="ngForm">
        <div class="row popup popup_int">
          <div class="col s10 offset-s1">
            <div class="input-field col s6">
              <input [(ngModel)]="datosStock.codProducto" disabled  name="codProducto" id="codProducto_txt" type="text">
              <label for="codProducto_txt">Codigo</label>
            </div>

            <div *ngIf= "datosStock.productoDTO" class="input-field col s12">
              <input [(ngModel)]="datosStock.productoDTO.nombre" disabled  name="producto"  id="producto_txt" type="text">
              <label for="producto_txt">Descripcion</label>
            </div>
            
            <div class="col s10">
              Stock disponible:  
              <div class="input-field inline">
                <input [(ngModel)]="datosStock.stock" disabled name="stock"  id="stock" type="number" class="validate">
              </div>
            </div>

            <div class="col s6">
              Ultimo precio de compra:  
              <div class="input-field inline">
                <input [(ngModel)]="datosStock.ultCostoCompra" disabled name="ultCostoCompra" #ultCostoCompra="ngModel"  id="ultCostoCompra" type="number">
              </div>
            </div>
            <div class="col s6">
              Promedio ponderado actual:  
              <div class="input-field inline">
                <input [(ngModel)]="datosStock.promPonderado" disabled name="promPonderado" #promPonderado="ngModel"  id="promPonderado" type="number" class="validate">
              </div>
            </div>

            <div class="col s6">
              <br>
              <button type="button" (click)="resetForm()" id="btnCancelModalStock" class="btn waves-light right modal-close">Cerrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modalAjusteStock -->
<div id="modalAjusteStock" class="modal">
  <div class="modal-content">
    <div class="row popup">
      <h6 style="text-align: center">Ajuste de Stock</h6>
      <div class="row popup popup_int">
        <div class="col s10 offset-s1">

          <div class="input-field col s12">
            <input [(ngModel)]="producto" name="producto" id="producto" type="text" readonly>
            <label for="codProducto_txt">Producto</label>
          </div>

          <div class="input-field col s12">
            <select [(ngModel)]="datosAjuste.idTipoMovimiento" required #idTipoMovimiento="ngModel" name="idTipoMovimiento">
              <option value="-1" disabled selected>Tipos</option>
              <option *ngFor="let tipos of listaEstados" value="{{ tipos.id }}">{{ tipos.descripcion }}</option>
            </select>
            <label>Tipo de ajuste</label>
          </div>

          <div class="input-field col s6">
            <input [(ngModel)]="datosStock.stock" name="stock" id="stock" type="text" readonly>
            <label for="codProducto_txt">Stock actual</label>
          </div>
          
          <div class="input-field col s6">
            <input [(ngModel)]="datosAjuste?.detalles[0].cantidad" name="cantidad" id="cantidad" type="text">
            <label for="codProducto_txt">Cantidad a afectar</label>
          </div>

          <div class="col s6">
            <br>
            <button type="submit" (click)="guardar()" class="btn waves-light left">Guardar</button>
          </div>
          <div class="col s6">
            <br>
            <button type="button" (click)="resetForm()" class="btn waves-light right modal-close">Cancelar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
