<section class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div  style="position:absolute; top:25%" class="col s3 offset-s2">
          <div class="card center-align">
            <span class="card-title">Pacheco Web</span>
            <div class="card-content">
              <div class="card-title-inicio">
                <span>Iniciar Sesión</span>
              </div>
              <form class="row espacio-inicial" #forma="ngForm" (ngSubmit)="ingresar(forma)">
                <div class="row">
                  <div class="input-field col s12 logincssp">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" [(ngModel)]="datosUser.usuario" name="usuario" #usuario="ngModel" id='usuario' class="login__input name"   placeholder="usuario"/>
                    
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" [(ngModel)]="datosUser.pass" name="pass" #pass="ngModel"  id='password' class="login__input pass" placeholder="contraseña"/>
                    
                    <!--i id="passwordIcon" (mousedown)="mostrarPass('password')" (mouseup)="ocultarPass('password')" class="material-icons hide-on-med-and-down login__icon svg_showPass svg-icon">visibility_off</i-->
                  </div>
                  <p>
                    <label>
                      <input type="checkbox" />
                      <span style="font-weight: 550;">Recordar contraseña</span>
                    </label>
                  </p>
                </div>
                <button  type='submit' class="btn">Ingresar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  