<nav>
  <div class="nav-wrapper">

    <a [routerLink]="['/dashboard']" class="left hide-on-med-and-down">
      <img class="brand-logo" src="../../assets/img/logo.png" alt="San Justo S.R.L.">
    </a>

    <a data-target="slide-out" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown1">Ajustes
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown2">Compras
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown3">Ventas
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown4">Stock
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown5">MenuX
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>

      <li *ngIf="auth._infoUser?.sucursales?.length > 1" style="min-width:150px;">
        <div [style.display]="this.auth._auth ? 'block' : 'none'">
          <ng-container *ngTemplateOutlet="selectSuc"></ng-container>
        </div>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" (click)="logout()">Cerrar Sesión
          <i class="Tiny material-icons right" style="margin-left: unset;">exit_to_app</i>
        </a>
      </li>
    </ul>

  </div>
</nav>


<ul id="dropdown1" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('conusr')">
    <a [routerLink]="['/usuarios']">Usuarios</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conroles')">
    <a [routerLink]="['/perfiles']">Perfiles y Permisos</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('consuc')">
    <a [routerLink]="['/sucursales']">Sucursales</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('accmant')">
    <a [routerLink]="['/mantenimiento']">Mantenimiento</a>
  </li>
</ul>

<ul id="dropdown2" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('concra')">
    <a [routerLink]="['/gestionCompras']">Gestionar Compras</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conprov')">
    <a [routerLink]="['/proveedores']">Proveedores</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conoc')">
    <a [routerLink]="['/ordenesDeCompra']">Ordenes de Compra</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('lstPagos')">
    <a [routerLink]="['/pagoProveedores']">Pagos</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conncc')">
    <a [routerLink]="['/notaCreditoCompra']">Notas de Credito</a>
  </li>

  <li *ngIf="this.auth.tienePermiso('conrepo')">
      <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger1"  data-target="ReportesCompras">Reportes
        <i class="material-icons right" style="line-height: unset;">arrow_drop_down</i>
      </a>
    </li>
</ul>

<ul id="ReportesCompras" class="dropdown-content" style="min-width:200px;">
    <li *ngIf="this.auth.tienePermiso('conrepo')">
      <a [routerLink]="['/reporteCuotasProximas']">Cuotas a Vencer</a>
      <a [routerLink]="['/reporteComprasRealizadas']">Compras Realizadas</a>
      <a [routerLink]="['/reporteProveedores']">Proveedores</a>
   </li>
</ul>

<ul id="dropdown3" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('concli')">
    <a [routerLink]="['/clientes']">Clientes</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('regvtas')">
    <a [routerLink]="['/facturaVenta']">Registrar Ventas</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('addncv')">
    <a [routerLink]="['/notaCredito']">Notas de Crédito</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conVtas')">
    <a [routerLink]="['/gestionVentas']">Ventas</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('lstcajas')">
    <a [routerLink]="['/cajaUser']">Cajas</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conrepo')">
    <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger1"  data-target="ReportesVentas">Reportes
      <i class="material-icons right" style="line-height: unset;">arrow_drop_down</i>
    </a>
  </li>
</ul>

<ul id="ReportesVentas" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('conrepo')">
    <a [routerLink]="['/reportesVenta/falloCaja']">Fallo Cajeros</a>
    <a [routerLink]="['/reportesVenta/ventas']">Ventas Realizadas</a>
    <a [routerLink]="['/reportesVenta/masVendidos']">Productos mas Vendidos</a>
    <a [routerLink]="['/reportesVenta/volumenXhorario']">Volumen de Ventas por Horario</a>
  </li>
</ul>

<ul id="dropdown4" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('conprod')">
    <a [routerLink]="['/productos']">Ficha Productos</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('constock')">
    <a [routerLink]="['/stock']">Gestion de Stock</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conLstP')">
    <a [routerLink]="['/listaPrecios']">Lista de Precios</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('condscto')">
    <a [routerLink]="['/descuentos']">Descuentos</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conMovmerc')">
    <a [routerLink]="['/movimientoMercaderias']">Movimiento de Mercaderia</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conrepo')">
    <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger1" data-target="ReportesStock">Reportes
      <i class="material-icons right" style="line-height: unset;">arrow_drop_down</i>
    </a>
  </li>
</ul>

<ul id="ReportesStock" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('conrepo')">
    <a [routerLink]="['/reportesStock/productosAagotarse']">Productos a Agotarse</a>
    <a [routerLink]="['/reportesStock/movimientoProductos']">Movimiento de Productos</a>
  </li>
</ul>

<ul id="dropdown5" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('conbancos')">
    <a [routerLink]="['/bancos']">Bancos</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conctaBco')">
    <a [routerLink]="['/cuentaBanco']">Cuenta Bancaria </a>
  </li>
  <li *ngIf="this.auth.tienePermiso('lstcheques')">
    <a [routerLink]="['/cheques']">Chequeras</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conRecau')">
    <a [routerLink]="['/recaudaciones']">Recaudación</a>
  </li>
  <li *ngIf="this.auth.tienePermiso('conrepo')">
      <a [routerLink]="['/balance']">Balance Ingresos-Egresos</a>
    </li>
</ul>




<!-- ************************************SIDENAV***************************** -->


<ul id="slide-out" class="sidenav hide-on-large-only">
  <li class="no-padding" style="height:10%;">
    <a [routerLink]="['/dashboard']" style="height: 100%; padding: 0 16px">
      <img class="brand-logo" src="../../assets/img/logo.png" alt="San Justo S.R.L.">
    </a>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Ajustes
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/usuarios']" class="sidenav-close">Usuarios</a>
            </li>
            <li>
              <a [routerLink]="['/perfiles']" class="sidenav-close">Perfiles y Permisos</a>
            </li>
            <li>
              <a [routerLink]="['/sucursales']">Sucursales</a>
            </li>
            <li>
              <a [routerLink]="['/mantenimiento']" class="sidenav-close">Mantenimiento</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Compras
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/facturaCompra']" class="sidenav-close">Registrar Compras</a>
            </li>
            <li>
              <a [routerLink]="['/proveedores']" class="sidenav-close">Proveedores</a>
            </li>
            <li>
              <a [routerLink]="['/ordenesDeCompra']" class="sidenav-close">Ordenes de Compra</a>
            </li>
            <li>
              <a [routerLink]="['/facturaCompra']" class="sidenav-close">Facturas de Compra</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Ventas
          <i class="material-icons right">arrw_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/clientes']" class="sidenav-close">Clientes</a>
            </li>
            <li>
              <a [routerLink]="['/facturaVenta']" class="sidenav-close">Registrar Ventas</a>
            </li>
            <li>
              <a [routerLink]="['/notaCredito']" class="sidenav-close">Notas de Crédito</a>
            </li>
            <li>
              <a [routerLink]="['/gestionVentas']" class="sidenav-close">Ventas</a>
            </li>
            <li>
              <a [routerLink]="['/cajaUser']" class="sidenav-close">Cajas</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Stock
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/productos']" class="sidenav-close">Ficha Productos</a>
            </li>
            <li>
              <a [routerLink]="['/stock']" class="sidenav-close">Gestion de Stock</a>
            </li>
            <li>
              <a [routerLink]="['/listaPrecios']" class="sidenav-close">Lista de Precios</a>
            </li>
            <li>
              <a [routerLink]="['/descuentos']" class="sidenav-close">Descuentos</a>
            </li>
            <li>
              <a [routerLink]="['/movimientoMercaderias']" class="sidenav-close">Movimiento de Mercaderia</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <!--<li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Menu X
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/bancos']" class="sidenav-close">Bancos</a>
            </li>
            <li>
              <a [routerLink]="['/cuentaBanco']" class="sidenav-close">Cuenta Bancaria </a>
            </li>
            <li>
              <a [routerLink]="['/cheques']" class="sidenav-close">Chequeras</a>
            </li>
            <li>
              <a [routerLink]="['/recaudaciones']" class="sidenav-close">Recaudación</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>-->

  <li *ngIf="auth._infoUser?.sucursales?.length > 1">
    <div [style.display]="this.auth._auth ? 'block' : 'none'" style="width: 90%; margin-left: 5%">
      <label>Sucursal</label>
      <ng-container *ngTemplateOutlet="selectSuc"></ng-container>
    </div>
  </li>

  <li>
    <a [style.display]="this.auth._auth ? 'block' : 'none'" (click)="logout()" class="collapsible-header sidenav-close">Cerrar Sesión
      <i class="Tiny material-icons right" style="margin-left: unset;">exit_to_app</i>
    </a>
  </li>
</ul>


<ng-template #selectSuc>
  <select class="browser-default" (change)="guardarSucursalSeleccionada()" [(ngModel)]="auth._sucursal" style="margin-top: 10px;color:black">
    <option value="-1" disabled selected>Seleccione una sucursal</option>
    <option *ngFor="let suc of auth.listaSucursales" [value]="suc.codSucursal" class="sidenav-close">{{ suc.codSucursal}}</option>
  </select>
</ng-template>