<nav>
  <div class="nav-wrapper">

    <!--a [routerLink]="['/dashboard']" class="left hide-on-med-and-down">
      <img class="brand-logo" src="../../assets/img/android-chrome-192x192.png" alt="Pacheco Web">
    </a-->

    <a data-target="slide-out" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <div class="colorblack">
      <a [style.display]="this.auth._auth ? 'block' : 'none'" (click)="logout()">Cerrar Sesión
        <i class="Tiny material-icons right" style="margin-left: unset;">exit_to_app</i>
      </a>
    </div>

    <!--ul id="nav-mobile" class="sidenav sidenav-fixed">
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown1">Ajustes
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown2">Compras
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown3">Ventas
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown4">Stock
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger" data-target="dropdown5">MenuX
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>

      <li *ngIf="auth._infoUser?.sucursales?.length > 1" style="min-width:150px;">
        <div [style.display]="this.auth._auth ? 'block' : 'none'">
          <ng-container *ngTemplateOutlet="selectSuc"></ng-container>
        </div>
      </li>
      <li style="min-width:150px;">
        <a [style.display]="this.auth._auth ? 'block' : 'none'" (click)="logout()">Cerrar Sesión
          <i class="Tiny material-icons right" style="margin-left: unset;">exit_to_app</i>
        </a>
      </li>
    </ul-->
    <ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
      <li class="logoPacheco">
        <!--a id="logo-container" href="/" class="brand-logo">
        <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a-->
        
          <a id="logo-container" class="brand-logo" [routerLink]="['/dashboard']">
            <img id="front-page-logo" class="logoimg" src="../../assets/img/android-chrome-192x192.png"/>
            <!--img class="brand-logo" src="../../assets/img/android-chrome-192x192.png" alt="Pacheco Web"-->
          </a>  
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">
            <i class="material-icons iconswhite">settings</i>Ajustes</a>
            <div class="collapsible-body">
              <ul>
                <li *ngIf="this.auth.tienePermiso('conusr')" id="idUsuarioMenu" (click)="efectAction('idUsuarioMenu')">
                  <a [routerLink]="['/usuarios']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Usuarios</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conroles')" id="idPerfilMenu" (click)="efectAction('idPerfilMenu')">
                  <a [routerLink]="['/perfiles']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Perfiles y Permisos</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('consuc')" id="idSucursalMenu" (click)="efectAction('idSucursalMenu')">
                  <a [routerLink]="['/sucursales']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Sucursales</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('accmant')" id="idMantenimientoMenu" (click)="efectAction('idMantenimientoMenu')">
                  <a [routerLink]="['/mantenimiento']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Mantenimiento</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">
            <i class="material-icons iconswhite">shopping_cart</i>Compras</a>
            <div class="collapsible-body">
              <ul>
                <li *ngIf="this.auth.tienePermiso('concra')" id="idFacturacionMenu" (click)="efectAction('idFacturacionMenu')">
                  <a [routerLink]="['/gestionCompras']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Facturación</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conprov')" id="idProveedorMenu" (click)="efectAction('idProveedorMenu')">
                  <a [routerLink]="['/proveedores']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Proveedores</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conoc')" id="idOrdenCompraMenu" (click)="efectAction('idOrdenCompraMenu')">
                  <a [routerLink]="['/ordenesDeCompra']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Ordenes de Compra</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('lstPagos')">
                  <a [routerLink]="['/pagoProveedores']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Pagos</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conncc')">
                  <a [routerLink]="['/notaCreditoCompra']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Notas de Credito</a>
                </li>
              
                <!--<li *ngIf="this.auth.tienePermiso('conrepo')">
                    <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger1"  data-target="ReportesCompras"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Reportes
                      <i class="material-icons right" style="line-height: unset;">arrow_drop_down</i>
                    </a>
                </li>-->
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">
            <i class="material-icons iconswhite">store</i>Ventas</a>
            <div class="collapsible-body">
              <ul>
                <li *ngIf="this.auth.tienePermiso('concli')" id="idClienteMenu" (click)="efectAction('idClienteMenu')">
                  <a [routerLink]="['/clientes']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Clientes</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('regvtas')">
                  <a [routerLink]="['/facturaVenta']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Facturación</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('addncv')">
                  <a [routerLink]="['/notaCredito']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Notas de Crédito</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conVtas')">
                  <a [routerLink]="['/gestionVentas']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Ventas</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('lstcajas')">
                  <a [routerLink]="['/cajaUser']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Cajas</a>
                </li>
                <!--<li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger1"  data-target="ReportesVentas"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Reportes
                    <i class="material-icons right" style="line-height: unset;">arrow_drop_down</i>
                  </a>
                </li>-->
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">
            <i class="material-icons iconswhite">unarchive</i>Stock</a>
            <div class="collapsible-body">
              <ul>
                <li *ngIf="this.auth.tienePermiso('conprod')" id="idProductoMenu" (click)="efectAction('idProductoMenu')">
                  <a [routerLink]="['/productos']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Ficha Productos</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('constock')" id="idStockMenu" (click)="efectAction('idStockMenu')">
                  <a [routerLink]="['/stock']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Ajustes de Stock</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conLstP')" id="idPrecioMenu" (click)="efectAction('idPrecioMenu')">
                  <a [routerLink]="['/listaPrecios']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Lista de Precios</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('condscto')" id="idDescuentoMenu" (click)="efectAction('idDescuent  oMenu')">
                  <a [routerLink]="['/descuentos']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Descuentos</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conMovmerc')">
                  <a [routerLink]="['/movimientoMercaderias']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Movimiento de Mercaderia</a>
                </li>
                <!--li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [style.display]="this.auth._auth ? 'block' : 'none'" class="dropdown-trigger1" data-target="ReportesStock"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Reportes
                    <i class="material-icons right" style="line-height: unset;">arrow_drop_down</i>
                  </a>
                </li>-->
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">
            <i class="material-icons iconswhite">work</i>MenuX</a>
            <div class="collapsible-body">
              <ul>
                <!--li *ngIf="this.auth.tienePermiso('conbancos')">
                  <a [routerLink]="['/bancos']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Bancos</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conctaBco')">
                  <a [routerLink]="['/cuentaBanco']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Cuenta Bancaria </a>
                </li>
                <li *ngIf="this.auth.tienePermiso('lstcheques')">
                  <a [routerLink]="['/cheques']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Chequeras</a>
                </li-->
                <li *ngIf="this.auth.tienePermiso('conRecau')">
                  <a [routerLink]="['/recaudaciones']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Recaudación</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                    <a [routerLink]="['/balance']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Balance Ingresos-Egresos</a>
                  </li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">
            <i class="material-icons iconswhite">report</i>Reportes</a>
            <div class="collapsible-body">
              <ul>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [routerLink]="['/reporteCuotasProximas']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Cuotas a Vencer</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                    <a [routerLink]="['/reporteComprasRealizadas']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Compras Realizadas</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [routerLink]="['/reporteProveedores']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Estado Cta Proveedores</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [routerLink]="['/reportesVenta/falloCaja']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Fallo de Caja</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [routerLink]="['/reportesVenta/ventas']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Ventas Realizadas</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [routerLink]="['/reportesVenta/masVendidos']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Productos más vendidos</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [routerLink]="['/reportesStock/productosAagotarse']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Productos a Agotarse</a>
                </li>
                <li *ngIf="this.auth.tienePermiso('conrepo')">
                  <a [routerLink]="['/reportesStock/movimientoProductos']"><i class="material-icons iconswhite font-size-small">fiber_manual_record</i>Movimiento de Productos</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="auth._infoUser?.sucursales?.length > 1" style="min-width:150px;">
            <div [style.display]="this.auth._auth ? 'block' : 'none'">
              <ng-container *ngTemplateOutlet="selectSuc"></ng-container>
            </div>
          </li>
        </ul>
      </li>         
    </ul>

  </div>
</nav>






<!--ul id="ReportesCompras" class="dropdown-content" style="min-width:200px;">
    <li *ngIf="this.auth.tienePermiso('conrepo')">
      <a [routerLink]="['/reporteCuotasProximas']">Cuotas a Vencer</a>
      <a [routerLink]="['/reporteComprasRealizadas']">Compras Realizadas</a>
      <a [routerLink]="['/reporteProveedores']">Proveedores</a>
   </li>
</ul-->


<!--ul id="ReportesVentas" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('conrepo')">
    <a [routerLink]="['/reportesVenta/falloCaja']">Fallo Cajeros</a>
    <a [routerLink]="['/reportesVenta/ventas']">Ventas Realizadas</a>
    <a [routerLink]="['/reportesVenta/masVendidos']">Productos mas Vendidos</a>
    <a [routerLink]="['/reportesVenta/volumenXhorario']">Volumen de Ventas por Horario</a>
  </li>
</ul-->


<!--ul id="ReportesStock" class="dropdown-content" style="min-width:200px;">
  <li *ngIf="this.auth.tienePermiso('conrepo')">
    <a [routerLink]="['/reportesStock/productosAagotarse']">Productos a Agotarse</a>
    <a [routerLink]="['/reportesStock/movimientoProductos']">Movimiento de Productos</a>
  </li>
</ul-->








<!--ul id="slide-out" class="sidenav hide-on-large-only">
  <li class="no-padding" style="height:10%;">
    <a [routerLink]="['/dashboard']" style="height: 100%; padding: 0 16px">
      <img class="brand-logo" src="../../assets/img/logo.png" alt="San Justo S.R.L.">
    </a>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Ajustes
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/usuarios']" class="sidenav-close">Usuarios</a>
            </li>
            <li>
              <a [routerLink]="['/perfiles']" class="sidenav-close">Perfiles y Permisos</a>
            </li>
            <li>
              <a [routerLink]="['/sucursales']">Sucursales</a>
            </li>
            <li>
              <a [routerLink]="['/mantenimiento']" class="sidenav-close">Mantenimiento</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Compras
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/facturaCompra']" class="sidenav-close">Registrar Compras</a>
            </li>
            <li>
              <a [routerLink]="['/proveedores']" class="sidenav-close">Proveedores</a>
            </li>
            <li>
              <a [routerLink]="['/ordenesDeCompra']" class="sidenav-close">Ordenes de Compra</a>
            </li>
            <li>
              <a [routerLink]="['/facturaCompra']" class="sidenav-close">Facturas de Compra</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Ventas
          <i class="material-icons right">arrw_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/clientes']" class="sidenav-close">Clientes</a>
            </li>
            <li>
              <a [routerLink]="['/facturaVenta']" class="sidenav-close">Registrar Ventas</a>
            </li>
            <li>
              <a [routerLink]="['/notaCredito']" class="sidenav-close">Notas de Crédito</a>
            </li>
            <li>
              <a [routerLink]="['/gestionVentas']" class="sidenav-close">Ventas</a>
            </li>
            <li>
              <a [routerLink]="['/cajaUser']" class="sidenav-close">Cajas</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Stock
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/productos']" class="sidenav-close">Ficha Productos</a>
            </li>
            <li>
              <a [routerLink]="['/stock']" class="sidenav-close">Gestion de Stock</a>
            </li>
            <li>
              <a [routerLink]="['/listaPrecios']" class="sidenav-close">Lista de Precios</a>
            </li>
            <li>
              <a [routerLink]="['/descuentos']" class="sidenav-close">Descuentos</a>
            </li>
            <li>
              <a [routerLink]="['/movimientoMercaderias']" class="sidenav-close">Movimiento de Mercaderia</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a [style.display]="this.auth._auth ? 'block' : 'none'" class="collapsible-header">Menu X
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/bancos']" class="sidenav-close">Bancos</a>
            </li>
            <li>
              <a [routerLink]="['/cuentaBanco']" class="sidenav-close">Cuenta Bancaria </a>
            </li>
            <li>
              <a [routerLink]="['/cheques']" class="sidenav-close">Chequeras</a>
            </li>
            <li>
              <a [routerLink]="['/recaudaciones']" class="sidenav-close">Recaudación</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li *ngIf="auth._infoUser?.sucursales?.length > 1">
    <div [style.display]="this.auth._auth ? 'block' : 'none'" style="width: 90%; margin-left: 5%">
      <label>Sucursal</label>
      <ng-container *ngTemplateOutlet="selectSuc"></ng-container>
    </div>
  </li>

  <li>
    <a [style.display]="this.auth._auth ? 'block' : 'none'" (click)="logout()" class="collapsible-header sidenav-close">Cerrar Sesión
      <i class="Tiny material-icons right" style="margin-left: unset;">exit_to_app</i>
    </a>
  </li>
</ul-->


<ng-template #selectSuc>
  <select class="browser-default" (change)="guardarSucursalSeleccionada()" [(ngModel)]="auth._sucursal" style="margin-top: 10px;color:black">
    <option value="-1" disabled selected>Seleccione una sucursal</option>
    <option *ngFor="let suc of auth.listaSucursales" [value]="suc.codSucursal" class="sidenav-close">{{ suc.codSucursal}}</option>
  </select>
</ng-template>