<div class="container">
  <br>
  <br>
  <h5 class="managingTitle">Fallos de Caja</h5>
  <br>
  <div class="row">
    <div class="col s12 left" style="padding-left: 0">
  
      <a class="waves-effect waves-light btn btn-small left" (click)="mostrarFrmFiltro()" style="margin: 0"> 
        <i class="icon-filter_list right"></i>Filtrar</a>
  
      <div class="contenedorFiltro" id="filtroFallo">
  
        <div class="row">
          <div class="col s12 center-align">
            <button type="button" (click)="limpiarFiltro()" class="btn waves-light btn-primaryInvertido left btnLimpiarFiltro">Limpiar</button>
  
            <button type="button" class="btn waves-light btn-primary right btnListoFiltro" (click)="loadRegistros()">Listo</button>
          </div>
        </div>
  
        <div class="row" style="padding-top: 10px">
          <div  class="col s6">
            desde:
            <div class="input-field">
              <input [(ngModel)]="filtro.fechaDesde" id="fechaDesde" name="fechaDesde" type="date" style="text-align: center;">
            </div>
          </div>
  
          <div class="col s6">
            hasta:
            <div class="input-field">
                <input [(ngModel)]="filtro.fechaHasta" id="fechaHasta" name="fechaHasta" type="date" style="text-align: center;">
            </div>
          </div>
  
        </div>
  
      </div>
      <app-show-chips-filter [lstFiltros]="listaFiltros" (removeFilter)="removerFiltro($event)"></app-show-chips-filter>
    </div>
  </div>

  <div class="row">



    <div class="card" id="listaCompras" style="position: unset;">
      <br>
      <h5 class="center-align">Total Fallo : {{fallos.total | iFormatNumber }} </h5>
      <br>
      <table class="striped">
        <thead>
          <tr>
          <th>Cajero</th>
          <th>Usuario</th>
          <th class="center-align">Monto</th>
          <th class="center-align">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaFC | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.nombre }}</td>
            <td >{{ item.usuario  }}</td>
            <td class="center-align">{{ item.monto | iFormatNumber }}</td>
            <td >
              <button 
                class="btn tooltipped waves-light modal-trigger" data-target='modalDetalleFallo' (click)=getDetalle(item) data-position="top" data-delay="50" data-tooltip="Ver detalle"
                style="margin-right: 25%">
                <i class="material-icons">description</i>
                </button>
            </td>
           </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row offset-s2">
        <div class="col s2 left">
          
            <a class="waves-effect waves-light btn" (click)="getReporte()"><i class="material-icons right">file_download</i>Descargar Excel</a>
        </div>
        <div class="col s8  center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

  </div>


  <div id="modalDetalleFallo" class="modal" style="width: 70% !important;">
    <div class="modal-content">
        <h5 class="center">Detalle Fallo </h5>
        <br>
        <div class="row s12">
          <div class="col s6 left">
           <p>Cajero : {{cajero}}</p> 
          </div>
         <div class="col s6 right" style="text-align: right">
            <p>Total : {{totalAux | iFormatNumber}}</p>  
        </div>
        </div>
        <div class="row">
            <div class="col s12">
               <h6>Forma de Pago</h6>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 20%">Usuario</th>
                            <th style="width: 15%">Fecha</th>
                            <th style="width: 20%">Punto Expedición</th>
                            <th style="width: 15%">Monto</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of detalleFallo | paginate: { itemsPerPage: regXpag, currentPage: p }">
                            <td>
                                {{ item.idUsuario }}
                            </td>
                            <td >
                                {{ item.fecha | date:'dd/MM/yyyy' }}
                            </td>
                            <td>
                                {{ item.puntoExp }}
                            </td>
                            <td >
                                {{ item.monto  | iFormatNumber}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="modal-footer">

          <div class="col s6 right"> 
          <button  class="waves-effect waves-light btn" (click)="volver()">Volver</button>
        </div>
        </div>
    </div>
</div>
</div>

