<div id="modalFamilia" class="modal smallModal">
  <div class="modal-content">
    <div class="row popup">
      <h6>Nueva Agrupación</h6>
      <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
        <div class="row popup popup_int">
          <div class="input-field col s12">
            <input [(ngModel)]="familia.nombre" required name="nombre" #descripcion="ngModel" type="text" class="validate"
              autofocus>
            <label class="active" for="nombre_txt">Agrupación</label>
          </div>

          <label>Agrupación Padre</label>
          <select class="browser-default" name="idPadre" [(ngModel)]="familia.idPadre">
            <option value="-1" disabled selected>Agrupaciones</option>
            <option *ngFor="let group of listaFamilia"  value="{{ group.id }}">{{ group.nombre }}</option>
          </select>
          
          <div class="col s6">
            <br>
            <button type="submit" class="btn   waves-light left">Agregar</button>
          </div>
          <div class="col s6">
            <br>
            <button type="button" (click)="resetForm()" id="btnCancelModalFlia" class="btn waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>