<div id="modalTimbrado" class="modal modal5060">
  <div class="modal-content">
    <div class="row popup">
      <h6>Nuevo Timbrado</h6>
      <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
        <div class="row popup popup_int">

          <div class="input-field col s7">
            <input [(ngModel)]="datosTimbrado.numero" required name="numero" #numerotimb="ngModel" type="number" autofocus>
            <label for="numero">Número</label>
          </div>
          
          <!-- <div class="input-field col s6 left">
            <input [(ngModel)]="datosTimbrado.facturaInicial" required name="facturaInicial" #facturaInicial="ngModel" type="text" autofocus>
            <label for="facturaInicial">Nro. Factura Inicial</label>
          </div>
          <div class="input-field col s6 right">
            <input [(ngModel)]="datosTimbrado.facturaFinal" required name="facturaFinal" #facturaFinal="ngModel" type="text" autofocus>
            <label for="facturaFinal">Nro. Factura Final</label>
          </div> -->

          <div class="input-field col s6 left">
            <input [(ngModel)]="datosTimbrado.inicioVigencia" required name="inicioVigencia" #inicioVigencia="ngModel" type="date" autofocus>
            <label for="inicioVigencia">Vigente desde:</label>
          </div>
          <div class="input-field col s6 right">
            <input [(ngModel)]="datosTimbrado.finVigencia" required name="finVigencia" #finVigencia="ngModel" type="date" autofocus>
            <label for="finVigencia">Vigente hasta:</label>
          </div>

          <div class="col s4 offset-s2">
            <br>
            <button type="submit" class="btn waves-light left">Agregar</button>
          </div>
          <div class="col s6 pull-s2">
            <br>
            <button type="button" (click)="resetForm()" id="cancelModalTimb" class="btn btnDel waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>