<div class="container">
  <br>
  <h5 class="managingTitle">Movimientos de Mercaderías</h5>
  <br>
  <br>
  <br>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th>Tipo movimiento</th>
          <th>Fecha</th>
          <th>Tipo operación</th>
          <th>Usuario registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaMovMerc | paginate: { itemsPerPage: regXpag, currentPage: p }">
          <td>{{ nombreMov(item.idTipoMovimiento) }}</td>
          <td>{{ item.fechaMovimiento | date:'dd/MM/yyyy' }}</td>
          <td>{{ nombreOpe(item.tipoOperacion) }}</td>
          <td>{{ item.usuarioRegistro }}</td>
          <td>
            <!-- ver datos del stock -->
            <button (click)="getInfoMov(item)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped" data-target="modalDetalles"
              data-tooltip="Ver detalles" style="float: inherit">
              <i class="material-icons">search</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginado -->
    <div class="row">
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>

  <div id="modalDetalles" class="modal">
    <div class="modal-content">
      <h6>{{ tipoOpe }}</h6>
      <br>
      <div class="card">
        <table class="striped">
          <thead>
            <tr>
              <th style="width: 20%">Código</th>
              <th style="width: 70%">Producto</th>
              <th style="width: 10%">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaMovMercDet">
              <td>{{ item.codProducto }}</td>
              <td>{{ item.producto }}</td>
              <td>{{ item.cantidad }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn">Cerrar</a>
    </div>
  </div>

</div>