<div class="container">
 <br>
 <div class="row" style="margin: 10px auto;">
    <a class="waves-effect waves-light btn btnTransparent left" (click)="goBack()">
      <i class="material-icons left" style="    margin-right: 5px;">arrow_back</i>
      Volver
    </a>
</div>
  <h5 class="managingTitle">Facturas Pendientes</h5>
<br>
  <table class="striped" id="gestionPago">
      <thead>
        <tr>
          <th style="width: 20% ">Factura</th>
          <th style="width: 20% "> Tipo</th>
          <th style="width: 15% "> Saldo </th>
          <th style="width: 15% "> Cuota</th>
          <th style="width: 15% "> Monto</th>
          <th style="width: 15% "> Fecha Vencimiento</th>
          <th style="width: 15% "> Seleccionar</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let cpp of  listacuotasprov | paginate: { itemsPerPage: regXpag, currentPage: p}">
          <td>{{ cpp.nroFactura }}</td>
          <td>{{ cpp.tipoFactura}}</td>
          <td>{{ cpp.saldo}}</td>
          <td>{{ cpp.nro }}</td>
          <td>{{ cpp.montoaPagar | iFormatNumber }}</td>
          <td>{{ cpp.fechaVencimiento | date:'dd/MM/yyyy'}}</td>
          <td>
            <p>
              <label>
                <input type="checkbox" class="filled-in" [(ngModel)]="cpp.internalSelected"/>
                <span></span>
              </label>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
        <div class="right">
            <button  (click)="pagar()" data-target="modalCompraPago" type="button" class="btn waves-light left " >Pagar</button>
        </div>
    <div>
    
        <div class="col s8 offset-s2 center-align">
          <br>
          <br>
            <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </div>

          <div class="col s1">
              <br>
              <br>
            <p class="right-align">Cant. reg:{{creg}} </p>
          </div>
          <div class="col s1 right">
            <!-- <label>Reg. por pag.</label> -->
            <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
        </div>
        </div>

</div>


<div id="modalCompraPago" class="modal" style="width: 70% !important;">
    <div class="modal-content">
        <h5 class="center">Gestionar Pagos</h5>
        <br>
        <div class="row">
         <p>Total a Pagar :{{datosPago.totalPagado | iFormatNumber}} </p> 
        </div>
        <div class="row">
            <div class="col s12">
               <h6>Forma de Pago</h6>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 15%">Medio</th>
                            <!-- <th style="width: 20%">Tipo</th> -->
                            <th>Fuente</th>
                            <th style="width: 15%">Monto</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detalle of detallespago; let i = index">
                            <td>
                               <select [(ngModel)]="detalle.abreviaturaMedio" class="browser-default" required name="idMedio">
                                    <option value="-1" disabled selected>Medio</option>
                                    <option *ngFor="let medio of listaMedios" value="{{ medio.abreviatura }}">{{ medio.descripcion }}</option>
                                </select>
                            </td>
                            <td *ngIf="detalle.abreviaturaMedio==='CQUE' ">
                                <select [(ngModel)]="detalle.idFuente" class="browser-default" style="width: 30%;display: unset;">
                                    <option value="-1" disabled selected>Seleccione una opción</option>
                                    <option *ngFor="let cheque of listaCheques" value="{{ cheque.id }}">{{ cheque.serie }}</option>
                                </select>
                                <input [(ngModel)]="detalle.nroCheque" placeholder="Cheque Nº" type="text" name="txtNroTarjeta" id="txtIdNroTarjeta"
                                    style="width: 20%; text-align: center">
                                <input [(ngModel)]="detalle.fechaEmision" placeholder="Fecha Emision" type="date" name="txtNroCupon" id="txtIdNroCupon"
                                    style="width: 20%; text-align: center">
                               <input [(ngModel)]="detalle.fechaPago" placeholder="Fecha Pago" type="date" name="txtNroCupon" id="txtIdNroCupon"
                                    style="width: 20%; text-align: center">
                            </td>

                            <td *ngIf="detalle.abreviaturaMedio==='CTA_CRIA'">
                                <select [(ngModel)]="detalle.idFuente" class="browser-default" style="width: 30%;display: unset;">
                                    <option value="-1" disabled selected>no</option>
                                    <option *ngFor="let ctaBanco of listaCuentaBanco" [value]="ctaBanco.id"
                                        [innerText]="ctaBanco.nombreCuenta"></option>
                                </select>
                            </td>

                            <td *ngIf="detalle.abreviaturaMedio==='EFE'">
                                <output>Recaudacion diaria</output>
                            </td>

                            <td *ngIf="detalle.abreviaturaMedio != null" >
                                <input [(ngModel)]="detalle.monto" placeholder="Monto" id="txtMonto" type="number">
                            </td>
                             <!--
                            <td>
                                <button *ngIf="(detalle.abreviaturaMedio != null && !this.search)"  class="btn-floating waves-light waves-effect right" (click)="eliminarDetallePago(i)"
                                    style="margin-top:15px;">
                                    <i class="material-icons">remove</i></button>
                            </td>-->
                        </tr>
                    </tbody>
                </table>

            </div>

           

        </div>

        <div class="modal-footer">
          <div class="col s6 right">
          <button  class="waves-effect waves-light btn" (click)="confirmarPago()">Confirmar</button>
          </div>
          <div class="col s6 left"> 
          <button  class="waves-effect waves-light btn" (click)="cancelarPago()">Cancelar</button>
        </div>
        </div>
    </div>
</div>