<app-menu *ngIf="auth.isAuth"></app-menu>
<router-outlet></router-outlet> 

<div class="filtro-overlay" (click)="ocultarFiltro()"></div>

<div id="modalAlertaGenerica" class="modal modal-alerta-generico modal-confirmacion">
  <div class="modal-content">
      <p style="text-align: center;" id="alertaGenericaInfoIcon"><i class="large material-icons modal-alerta-generico-info">check</i></p>
      <p style="text-align: center;" id="alertaGenericaWarnIcon"><i class="large material-icons color-dna">info_outline</i></p>
      <p style="text-align: center;" id="alertaGenericaErroIcon"><i class="large material-icons color-dna">close</i></p>
      <p style="text-align: center;" id="alertaGenericaDocIcon"><i class="large material-icons color-dna">insert_drive_file</i></p>
      <p style="text-align: center;" id="alertaGenericaMessages"></p>
  </div>
  <div class="modal-footer">
      <p class="left" id="alertaGenericaLeftMessage"></p>
      <a id="alertaGenericaAceptarBtn" class="modal-close waves-effect waves-red btn-flat btn-dna" style="text-transform: capitalize;">Aceptar</a>
  </div>
</div>

<!--footer  *ngIf="auth.isAuth" class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © Supermercado San Justo
      </div>
    </div>
</footer-->
