<div id="modalTimbradoPtoExp" class="modal modal5060">
  <div class="modal-content">
    <div class="row popup">
      <h6>Registro de Comprobante</h6>
      <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
        <div class="row popup popup_int">

          <div class="input-field col s4">
            <select [(ngModel)]="datosTimbradoPtoExp.idTimbrado" required #idTimbrado="ngModel" name="idTimbrado">
              <option value="-1" disabled selected>Timbrado</option>
              <option *ngFor="let tipos of listaTimbrados" value="{{ tipos.id }}">{{ tipos.numero }}</option>
            </select>
            <label>Timbrado</label>
          </div>

          <div class="input-field col s4">
            <select [(ngModel)]="datosTimbradoPtoExp.idPtoExpedicion" required #idPtoExpedicion="ngModel" name="idPtoExpedicion">
              <option value="-1" disabled selected>Pto. de Expedición</option>
              <option *ngFor="let punto of listaPtosExp" value="{{ punto.id }}">{{ punto.puntoExp }}</option>
            </select>
            <label>Punto de Expedición</label>
          </div>

          <div class="input-field col s4">
            <select [(ngModel)]="datosTimbradoPtoExp.tipoComprobante" required #tipoComprobante="ngModel" name="tipoComprobante">
              <option value="-1" disabled selected>Tipo de Comprobante</option>
              <option value="F">{{ "Factura Venta" }}</option>
              <option value="N">{{ "Nota de Crédito" }}</option>
            </select>
            <label>Tipo de Comprobante</label>
          </div>
          
          
          <div class="input-field col s4">
            <select [(ngModel)]="datosTimbradoPtoExp.idEstado" required #idEstado="ngModel" name="idEstado">
              <option value="-1" disabled selected>Estado</option>
              <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{ estados.descripcion }}</option>
            </select>
            <label>Estado</label>
          </div>
          
          <div class="input-field col s4">
            <input [(ngModel)]="datosTimbradoPtoExp.numeroDesde" required name="numeroDesde" #numeroDesde="ngModel" type="text" autofocus>
            <label for="numeroDesde">Nro. Inicial</label>
          </div>
          <div class="input-field col s4">
            <input [(ngModel)]="datosTimbradoPtoExp.numeroHasta" required name="numeroHasta" #numeroHasta="ngModel" type="text" autofocus>
            <label for="numeroHasta">Nro. Final</label>
          </div>

          <div class="col s4 offset-s2">
            <br>
            <button type="submit" class="btn waves-light left">Agregar</button>
          </div>
          <div class="col s6 pull-s2">
            <br>
            <button type="button" (click)="resetForm()" id="cancelModalTimbPtoExp" class="btn btnDel waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>