<div class="container">
  <br>
  <div *ngIf="!facturaVenta">
    <h5 class="managingTitle">Clientes</h5>

    <a *ngIf="this.auth.tienePermiso('addcli')"  class="  waves-light btn modal-trigger" (click)="getLstEstados()" href="#modalCliente">Agregar Cliente</a>
    <br>
    <br>
    <br>
    <div class="card">
      <div class="row">
        <div class="col s2">
          <label>Buscar</label>
          <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
        </div>
      </div>
     
      <table class="striped">
        <thead>
          <tr>
            <th style="width: 10%;">Ruc</th>
            <th style="width: 15%;">Razon Social</th>
            <th style="width: 15%;">Nombre Fantasia</th>
            <th style="width: 15%;">Direccion</th>
            <th style="width: 10%;">Telefono</th>
            <th style="width: 10%;">Correo</th>
            <th style="width: 10%;">Fecha de Registro</th>
            <!--<th style="width: 5%;">Estado</th>-->
            <th style="width: 20%;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaClientes | paginate: { itemsPerPage: regXpag, currentPage: p} | busqueda: searchText">
            <td>{{ item.ruc }}</td>
            <td>{{ item.razonSocial }}</td>
            <td>{{ item.nombreFantasia }}</td>
            <td>{{ item.direccion }}</td>
            <td>{{ item.telefono }}</td>
            <td>{{ item.correo }}</td>
            <td>{{ item.fechaRegistro | date:'dd/MM/yyyy' }}</td>
            <!--<td>{{ (item.idEstado == 1) ? 'Activo' : 'Inactivo' }}</td>-->
            <td style="width:350px">
              <button *ngIf="this.auth.tienePermiso('editcli')" (click)="getInfoCliente(item.id)" class="btn btnAction waves-light   modal-trigger tooltipped"
                data-target="modalCliente" data-tooltip="Editar datos del Cliente" style="float: inherit">
                <i class="material-icons">edit</i>
              </button>
              <!--gestionar listas de precios asociadas al cliente-->
            <button  *ngIf="this.auth.tienePermiso('conLPcli')" (click)="getClienteListasPrecios(item.id)" class="btn btnAction waves-light modal-trigger tooltipped"
            data-target="modalLPasociadas" data-tooltip="Ver lista de precios asociadas" style="float: inherit">
            <i class="material-icons">library_books</i>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <!-- <label>Reg. por pag.</label> -->
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div id="modalCliente" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
          <div class="row popup popup_int">
              <div *ngIf="(!this.updCli && !this.search)" class="row" style="text-align:center">
                  <h6 >Nuevo Cliente</h6>
              </div>
            <div class="col s8 offset-s2">
              
              <div class="input-field col s12">
                <input [(ngModel)]="datosCliente.ruc" required name="ruc" #nombre="ngModel" id="ruc_txt" type="text" class="validate" >
                <label for="nombre_txt">Ruc</label>
              </div>
              <div class="input-field col s12">
                <input [(ngModel)]="datosCliente.razonSocial" required name="razonSocial" #apellido="ngModel" id="razonSocial_txt" type="text" class="validate">
                <label class="active" for="apellido_txt">Razon Social</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosCliente.nombreFantasia" required name="nombreFantasia" #apellido="ngModel" id="nombreFantasia" type="text" class="validate">
                <label class="active" for="nombreFantasia">Nombre Fantasia</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosCliente.direccion" required name="direccion" #usuario="ngModel" id="direccion_txt" type="text" class="validate">
                <label class="active" for="direccion_txt">Direccion</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosCliente.telefono" required name="telefono" #usuario="ngModel" id="telefono_txt" type="text" class="validate">
                <label for="telefono_txt">Telefono</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosCliente.correo" required name="correo" #usuario="ngModel" id="correo_txt" type="text" class="validate">
                <label class="active" for="correo_txt">Correo</label>
              </div>
              <!--
              <div class="col s10 left" style="padding: 0px;">
                <label>Estado</label>
                    <select [(ngModel)]="datosCliente.idEstado" class="browser-default" required #idEstado="ngModel" name="idEstado">
                      <option value="-1" disabled selected>Estado</option>
                      <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{estados.descripcion }}</option>
                    </select>
              </div> -->

              <div class="col s6">
                <br>
                <button type="submit" class="btn   waves-light left">Guardar</button>
              </div>
              <div class="col s6">
                <br>
                <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn   waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div id="modalLPasociadas" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <h6>Listas de Precios asociadas al cliente <b>{{ datosCliente.razonSocial }}</b></h6>
        </div>
        <div class="col s6">
          <div class="switch right-align">
            Incluir asociaciones vencidas ?
            <label> 
              No
              <input name="incluirVencidas" [(ngModel)]="incVencidas" type="checkbox" (change)="buscarAsociaciones(datosCliente.id)">
              <span class="lever"></span>
              Sí
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div *ngIf="this.auth.tienePermiso('asoclilp')" class="col s12 center-align">
          <a class="waves-light btn modal-trigger" style="float:none" (click)="nuevaAso(datosCliente.id)" href="#modalNuevaAsociacion">Asociar Lista de Precios</a>
        </div>
      </div>
      <br>
      <div class="row">
          <table class="striped">
            <thead>
              <tr>
                <th>Id Lista de Precios</th>
                <th>Observación</th>
                <th>Inicio Vigencia</th>
                <th>Fin Vigencia</th>
                <th>Sucursal</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of clientesLP">
                <td>{{ item.idListaPrecio }}</td>
                <td>{{ item.observacion}}</td>
                <td>{{ item.fechaInicio | date:'dd/MM/yyyy' }}</td>
                <td>{{ item.fechaFin | date:'dd/MM/yyyy' }}</td>
                <td>{{ codSucursal(item.idSucursalListaP) }}</td>
                <td>
                  <!-- vencer vigencia -->
                  <button *ngIf="(this.auth.tienePermiso('dasoCli')) && vigente(item.fechaFin)" (click)="vencerAsoLP(item)" class="btn btnAction btnDel waves-light tooltipped"
                    data-tooltip="Finalizar la vigencia" style="float: inherit">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col s12">
            <button type="button" (click)="resetForm()" id="CloseModal3" class="btn waves-light right modal-close">Cerrar</button>
          </div>
      </div>
    </div>
  </div>

  <div id="modalNuevaAsociacion" class="modal">
    <div class="modal-content">
      <h6 class="center-align">Nueva Asociación</h6>
      <form class="col s12" #forma3="ngForm">
        <div class="row popup popup_int">
          <div class="col s10 offset-s1">
            <div class="input-field col s12">
              <select [(ngModel)]="newAso.idListaPrecio" #idListaPrecio="ngModel" name="idListaPrecio">
                <option value="-1" disabled selected>selecciona una sucursal</option>
                <option *ngFor="let lp of listasPrecio" value="{{ lp.id }}">{{ lp.id + ' - ' +  lp.tipoListaDTO?.descripcion + ' - ' + lp.descripcion }}</option>
              </select>
              <label>Listas de precios existentes</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="newAso.observacion" id="observacion" placeholder="" name="observacion" type="text" class="validate">
              <label for="observacion">Observacion</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="newAso.fechaInicio" id="fechaInicio" placeholder="" name="fechaInicio" type="date" class="validate">
              <label for="fechaInicio">Inicio Vigencia</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="newAso.fechaFin" id="fechaFin" placeholder="" name="fechaFin" type="date" class="validate">
              <label for="fechaFin">Fin Vigencia</label>
            </div>
            <div class="col s6">
              <br><button type="submit" (click)="guardarAsociacion()" class="btn waves-light left">Guardar</button>
            </div>
            <div class="col s6">
              <br><button type="button" (click)="resetForm()" id="CloseModal4" class="btn waves-light right modal-close">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>