<div id="notaCredito" class="container">
  <div class="row">
    <div class="col s12">
      <div class="card col s12" style="margin-top:40px">

        <div class="row">
          <div class="col s12">
            <h5 class="center-align">Nota de Crédito</h5>
          </div>
        </div>

        <div class="row">

          <div class="input-field  col s2">
            <input id="fechaCreacion" type="date" [(ngModel)]="fechaHoy" readonly>
            <label for="fechaCreacion">Fecha</label>
          </div>

          <div class="input-field col s2">
            <input placeholder="Nro de Factura" id="nroFactura" type="text" (blur)="buscarFacturaXnroFactura()" [(ngModel)]="nroFactura">
            <label for="nroFactura">Nro. Factura</label>
          </div>

          <div class="input-field  col s4">
            <input placeholder="Razón Social" id="razonSocial" type="text" readonly [(ngModel)]="datosNotaCre.cliente.razonSocial">
            <label for="razonSocial">Razón Social</label>
          </div>

          <div class="input-field col s2">
            <input placeholder="ruc" id="ruc" type="text" readonly [(ngModel)]="datosNotaCre.cliente.ruc">
            <label for="ruc">R.U.C</label>
          </div>

          <div class="input-field  col s2">
            <input placeholder="fecha emisión" id="ruc" type="text" readonly [(ngModel)]="datosNotaCre.fechaFactura">
            <label for="ruc">Emisión de la Factura:</label>
          </div>
        </div>

        <div class="row">

          <div class="col s12">

            <table>
              <thead>
                <tr>
                  <th style="width: 5%"></th>
                  <th style="width: 10%">Código</th>
                  <th>Producto</th>
                  <th style="width: 5%">Uni. Med.</th>
                  <th style="width: 10%">Cantidad</th>
                  <th style="width: 15%">Precio U.</th>
                  <th style="width: 15%">Precio Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of datosNotaCre.detalles; let i = index">
                  <td>
                    <button class="btn-floating waves-light waves-effect right" (click)="removeRegistro(i)" style="margin-top:15px;">
                      <i class="material-icons">remove</i>
                    </button>
                  </td>
                  <td [innerText]="item.producto.cod">
                    <!-- <input type="text" name="cod" id="cod" [(ngModel)]="item.producto.cod"> -->
                  </td>
                  <td [innerText]="item.producto.nombre">
                    <!-- <input type="text" name="descripcion" id="descripcion" [(ngModel)]="item.producto.descripcion"> -->
                  </td>
                  <td class="left-align" [innerText]="item.producto.unidadMed">
                    <!-- <input type="text" name="unidadMed" id="unidadMed" [(ngModel)]="item.producto.unidadMed"> -->
                  </td>
                  <td>  
                    <input class="right-align" type="number" name="cantidad" id="cantidad" [(ngModel)]="item.cantidad">
                  </td>
                  <td class="right-align" [innerText]="item.precioUni | currency:'PYG':'code':'2.0-0':'es-PY' ">
                    <!-- <input type="text" name="precioUni" id="precioUni" [(ngModel)]="item.precioUni"> -->
                  </td>
                  <td class="right-align" [innerText]="((item.cantidad && item.precioUni) ? (item.cantidad * item.precioUni) : 0) | iFormatNumber">
                    <!-- <input type="text" name="total" id="total" [(ngModel)]="item.total"> -->
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>

        <div class="row">

          <div class="col s12 left-align">
            <h5 class="center-align">Total:
              <!-- <span style="font-size: 40px">50.000</span> -->
              <input type="text" readonly id="txtTotalGs" name="nameTotalGs" [value]="datosNotaCre.detalles | totalNCventa | iFormatNumber"
                style="text-align: center">
            </h5>

        </div>

          <!-- <div class="col s8">
            <div class="row">
              <div class="col s12">
                <b>Total IVA 5%:</b>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <b>Total IVA 10%:</b>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <b>Exenta:</b>
              </div>
            </div>
          </div> -->

        </div>

        <div class="row">

          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Cancelar</button>
            <button class="btn waves-effect waves-light" type="submit" (click)="registrarNC()"> Registrar</button>
          </div>

        </div>

      </div>
    </div>
  </div>