<div id="modalMarca" class="modal smallModal">
    <div class="modal-content">
      <div class="row popup">
        <h6>Nueva Marca</h6>
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
          <div class="row popup popup_int">
            <div class="input-field col s12">
              <input [(ngModel)]="marca.descripcion" required name="descripcion" #descripcion="ngModel" id="descripcion_txt" type="text" class="validate"
                autofocus>
              <label for="nombre_txt">Marca</label>
            </div>
              
            <div class="col s6">
              <br>
              <button type="submit" class="btn   waves-light left">Agregar</button>
            </div>
            <div class="col s6">
              <br>
              <button type="button" (click)="resetForm()" id="btnCancelModalMarca" class="btn waves-light right modal-close">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>