<div class="container">
  <br>
  <h5 class="managingTitle">Compras Realizadas</h5>

  <a *ngIf="this.auth.tienePermiso('addftprov')"  routerLink="/facturaCompra"  class="waves-effect waves-light btn modal-trigger" (click)="chargeLstNewOrder()" >Registrar Compra</a>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="row">
      <div class="col s2">
        <label><b>Buscar</b></label>
        <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
      </div>
    </div>
    <table class="striped" id="gestionCompra">
      <thead>
        <tr>
            <th style="width: 15%;">N° Factura</th>
            <th style="width: 15%;">Proveedor</th>
            <th style="width: 20%;">Total Factura</th>
             <th style="width: 20%;">Saldo a Pagar</th>
            <th style="width: 10%;">Fecha </th>
            <th style="width: 10%;">Estado</th>
            <th style="width: 10%;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fc of (listaFacturasCompra | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p}">
            <td>{{ fc.nroFactura }}</td>
            <td>{{ fc.proveedor }}</td>
            <td >{{ fc.total | iFormatNumber }}</td>
            <td >{{ fc.saldo | iFormatNumber }}</td>
            <td s>{{fc.fecha| date:'dd/MM/yyyy' }}</td>
            <td>{{fc.estado}}</td>
            <td>           
            <button (click)="getInfoCompra(fc.id); search = true"  class="btn tooltipped btnAction waves-light modal-trigger" data-position="top" data-delay="50" data-tooltip="Ver Factura Compra"
              data-target="modalCompra" style="float: inherit">
              <i class="material-icons">search</i>
            </button>  
            
              <button *ngIf="this.auth.tienePermiso('delfc')" (click)="borrarFactura(fc.id)" class="btn  btnDel btnAction waves-light modal-trigger tooltipped"
              data-position="top" data-delay="50" data-tooltip="Eliminar Factura Compra" style="float: inherit">
              <i class="material-icons">delete</i>
              </button>   
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginado -->
    <div class="row"> 
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>
</div>


<div id="modalCompra" class="modal bigModal">
    <div class="modal-content">
      <div class="form-group">
        <div class= "col s12 cabecera">
          <div  style="text-align: center"><h5>Factura Compra</h5> <br><br></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col s3">
            <p style="display: inline-block">Nro. Factura: </p>
            <output >   {{ datosFacturaCompra.nroFactura }}</output>
          </div>
          <div class="col s3">
            <p style="display: inline-block">Razon Social: </p>
            <output>    {{ proveedorDato.nombre }}</output>
          </div>
          <div class="col s3">
            <p style="display: inline-block">Fecha: </p>
            <output>    {{ datosFacturaCompra.fecha | date:'dd/MM/yyyy' }}</output>
          </div>
          <div class="col s3">
            <p style="display: inline-block">Estado: </p>
            <output>    {{datosFacturaCompra.estado}}</output>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col s12 detalle">
            <div class="">
                <table class="striped">
                  <thead>
                    <tr>
                      <th style="width: 16%">Codigo</th>
                      <th style="width: 40%">Descripcion</th>
                      <th style="width: 8%" class="sumable">Cantidad</th>
                      <th style="width: 15%" class="sumable">Costo Unitario</th>
                      <th class="sumable">Costo Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detFC of listaDetFC; let i = index">
                      <td>
                        <span *ngIf="(this.search)">{{detFC.codProducto}}</span>
                      </td>
                      <td>
                        <span>{{detFC.producto}}</span>
                      </td>
                      <td class="sumable">
                        <input *ngIf="(!this.search)" [(ngModel)]="detOc.cantidad" [disabled]="!detOc.producto" name="cantidad" #cantidad="ngModel" id="cantidad_txt" type="text" class="validate sumable2">
                        <span *ngIf="(this.search)">{{ detFC.cantidad}}</span>
                      </td>
                       <td class="sumable">
                        <input *ngIf="(!this.search)" [(ngModel)]="detOc.ultCostoCompra" (blur)="calcMontoTotal(detOc, i)" [disabled]="!detOc.producto" name="costo" #costo="ngModel" id="costo_txt" type="text" class="validate sumable2">
                        <span *ngIf="(this.search)">{{ detFC.precioUnitario}}</span>
                      </td>
                      <td class="sumable">
                          <span>{{ detFC.precioTotal }}</span>
                      </td>
                    </tr>
                  </tbody>
                  
                </table>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <hr>
        <div class="col s12">
          <p style="display: inline-block; margin-right: 15px;">Monto Total Gs.: </p>
          <output *ngIf="(this.updOC || this.search)" >{{ datosFacturaCompra.total | iFormatNumber }} </output>
        </div>
      </div>
      <div class="form-group">
        <hr>
        <div class="row">
          <div class="col s4">
            <p style="display: inline-block; margin-right: 15px;">Total I.V.A. 5%: </p>
            <output *ngIf="(this.updOC || this.search)" >{{ datosFacturaCompra.iva5 | iFormatNumber }}</output>
           </div>
          <div class="col s4" style="text-align: center;">
            <p style="display: inline-block; margin-right: 15px;">Total I.V.A. 10%: </p>
            <output *ngIf="(this.updOC || this.search)" >{{ datosFacturaCompra.iva10 | iFormatNumber}}</output>
          </div>
          <div class="col s4" style="text-align: end;">
            <p style="display: inline-block; margin-right: 15px;">Total exentas: </p>
            <output *ngIf="(this.updOC || this.search)" >{{ datosFacturaCompra.exenta | iFormatNumber}}</output>
          </div>
        </div>
      </div>
      <div class="form-group">
        <hr>
        <div class="col s6">
          <br>
          <button *ngIf="search" type="button" (click)="resetForm()" id="btnCancelModal" class="btn waves-light right modal-close">Cerrar</button>
        </div>
      </div>
    </div>
</div>
