<div id="notaCredito" class="container">
    <div class="row">
        <div class="col s12">
            <div class="card col s12" style="margin-top:40px">
                <div class="row">
                    <div class="col s12">
                        <h5 class="center-align"><b>Factura Compra</b></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <label for="txtNroFactura">Nro. Factura</label>
                        <input class="form-control" placeholder="Nro Factura" id="txtNroFactura" type="text" [(ngModel)]="datosFacturaCompra.nroFactura">
                    </div>
                    <div class="col s3">
                        <label>Tipo</label>
                        <select class="form-control" name="nameTipoFactura" id="txtTipoFactura" [(ngModel)]="datosFacturaCompra.tipoFactura" (change)="getTipoFact(datosFacturaCompra.tipoFactura)" >
                            <option *ngFor="let tipoCompra of listaTipoCompra" [value]="tipoCompra.id"
                                [innerText]="tipoCompra.descripcion"></option>
                        </select>
                    </div>
                    <div class="col s3">
                        <label for="txtFecha">Fecha</label>
                        <input placeholder="Fecha" id="txtFecha" type="date" [(ngModel)]="datosFacturaCompra.fecha" required/>
                    </div>
                    <div class="col s3" style="margin-top: 15px">
                        <span style="float: left">O.C.</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" #occAsociada
                                    (change)="cambiarEstadoOCasociada(occAsociada.checked)">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div *ngIf="datosFacturaCompra.ocAsociada" class="col s2">
                        <label for="txtNroFactura">Nro. Orden de Compra</label>
                        <div style="display: flex;justify-content: flex-start;align-items: center;">
                            <input placeholder="Nro° OC" id="txtOc" type="text" (blur)="buscarPorNroOc()" [(ngModel)]="nroOrdenCompra">
                            <i class="material-icons prefix" style="cursor: pointer; position: relative;right: 30px; " title="Buscar" (click)="abrirModalBuscarOc()">search</i>
                        </div>
                    </div>                    
                    <div class="col s2">
                        <label for="txtProveedor">Ruc Proveedor</label>
                        <div style="display: flex;justify-content: flex-start;align-items: center;">
                            <input placeholder="Proveedor" id="txtProveedor" type="text" [attr.readonly]="ocAsociada" [(ngModel)]="proveedorDato.ruc">
                            <i class="material-icons prefix" (click)="abrirModalBuscarProveedor()" style="cursor: pointer; position: relative;right: 30px; " title="Buscar">search</i>
                        </div>
                    </div>
                    <div class="col" [ngClass]="{'s5': datosFacturaCompra.ocAsociada , 's7': !datosFacturaCompra.ocAsociada }">
                        <label>Razón social</label>
                        <input placeholder="Razón Social" id="txtNameProveedor" type="text" readonly [(ngModel)]="proveedorDato.nombre">
                    </div>
                    <!--div class="input-field col s2">
                        <input placeholder="RUC" id="txtRuc" type="text" [(ngModel)]="proveedorDato.ruc" readonly>
                        <label for="txtRuc">RUC</label>
                    </div-->
                    <div class="col s2">
                        <label for="txtTimbrado">Timbrado</label>
                        <input placeholder="Timbrado" id="txtTimbrado" type="text" [(ngModel)]="datosFacturaCompra.timbrado" required>
                    </div>
                </div>
                <div *ngIf="!datosFacturaCompra.ocAsociada " class="row">
                    <div class="col s12" style="margin-left: 0.4% !important">
                        <label>Motivo</label>
                        <input placeholder="Motivo" id="txtMotivo" type="text" [(ngModel)]="datosFacturaCompra.motivo">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 5%"></th>
                                    <th style="width: 20%">Codigo</th>
                                    <th>Descripción</th>
                                    <th style="width: 10%">Cantidad</th>
                                    <th style="width: 10%">Precio</th>
                                    <th style="width: 10%">Valor</th>
                                    <th style="width: 5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of datosFacturaCompra.detalles; let i = index">
                                    <td>
                                        <button *ngIf="!search" class="btn-floating waves-light waves-effect right" (click)="removeRegistro(i)">
                                            <i class="material-icons">remove</i>
                                        </button>
                                    </td>
                                    <td>
                                        <div style="display: flex;justify-content: flex-start;align-items: center;">
                                            <input type="text" (blur)="buscarProducto(i)" name="txtProductoCod" id="txtProductoCod" [(ngModel)]="producto.codProducto" style="text-align: center">
                                            <button class="btn btn-outline-secondary-sm" (click)="abrirModalBuscarProducto(i)" type="button" style="margin-left: 5px; margin-bottom: 8px;"><i class="material-icons">search</i></button>
                                        </div>
                                    </td>
                                    <td [innerText]="producto.producto"></td>
                                    <td class="sumable">
                                        <input type="text" name="txtNameCant" id="txtCant" [(ngModel)]="producto.cantidad" style="text-align: right" (blur)="calcMontoTotal(producto, i)" class="validate sumable2">
                                    </td>
                                    <td class="sumable">
                                        <input type="text" name="txtNameCant" id="txtCant" [(ngModel)]="producto.precioUnitario" style="text-align: right" (blur)="calcMontoTotal(producto, i)"  class="validate sumable2">
                                    </td>
                                    <td [innerText]="producto.precioTotal | iFormatNumber"></td>
                                    <td>
                                        <button *ngIf="!search" class="btn-floating waves-light waves-effect right" (click)="agregarRegistro()">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10">
                        <b>Total Guaranies:</b> {{ datosFacturaCompra.detalles | totalFacCompra | iFormatNumber }}
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col s3">
                        <b>Liquidación</b>
                    </div>
                    <div class="col s3">
                        <b>IVA(5%):</b>
                        <output>{{( (datosFacturaCompra.detalles | sumasFacturaCompra: 15) / 21 ) | number:'1.0-0'}}</output>
                    </div>
                    <div class="col s3">
                        <b>IVA(10%):</b>
                        <output>{{( (datosFacturaCompra.detalles | sumasFacturaCompra: 16) / 11 ) | number:'1.0-0'}}</output>
                    </div>
                    <div class="col s3">
                        <b>Total Iva:</b> {{ datosFacturaCompra.total | number:'1.0-0' }}
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="button" name="action" (click)="registrarCompra()" style="float:left"> Registrar</button>
                    </div>
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action" (click)="volver()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCompraPago" class="modal modal-fixed-footer">
    <div class="modal-content">
        <br>        
        <h5 class="center">Gestionar Cuotas</h5>
        <br>
        <div class="row">
            <div class="col s3">
                <b>Nro Factura: </b> {{ datosFacturaCompra.nroFactura }}
            </div>
            <div class="col s6">
                <b>Proveedor: </b> {{ proveedorDato.nombre }}
            </div>
            <div class="col s3">
                <b>Monto Total:</b> {{ datosFacturaCompra.detalles | totalFacCompra | iFormatNumber }}
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <b>Entrega:</b>
            </div>
            <div class="col s10">
                <div class="switch">
                    <label>                    
                      <input #chkEntrega type="checkbox" (change)="actualizarCampos()">
                      <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" *ngIf="chkEntrega.checked">
            <div class="col s6">
                <label>Medio</label>
                <select class="browser-default" #medioSelect (change)="cargarFuentes(medioSelect.value)" [(ngModel)]="datosFacturaCompra.pagos.detalles[0].idMedio">
                    <option *ngFor="let medioPago of listaMedioPagos" [value]="medioPago.id" >{{ medioPago.descripcion }}</option>
                </select>
            </div>
            <!--div class="col s3" [ngClass]="{'s3': medioSelect.value == 'CQUE', 's6': medioSelect.value != 'CQUE'}">
                <label>Fuente</label>
                <select *ngIf="medioSelect.value == 'CQUE'" [(ngModel)]="datosFacturaCompra.pagos.detalles[0].idFuente" class="browser-default">
                    <option *ngFor="let fuente of listaCheques" [value]="fuente.id" >{{ fuente.serie }}</option>
                </select>
                <select *ngIf="medioSelect.value == 'CTA_CRIA'" [(ngModel)]="datosFacturaCompra.pagos.detalles[0].idFuente" class="browser-default">
                    <option *ngFor="let fuente of listaCuentaBanco" [value]="fuente.id" >{{ fuente.nombreCuenta }}</option>
                </select>
                <select *ngIf="medioSelect.value == 'EFE'" class="browser-default">
                    <option value="-1" selected disabled>Recaudación del día</option>
                </select>
            </div-->
            <div *ngIf="medioSelect.value == 'CQUE'" class="col s3" style="padding-top: 1.45%">
                <input placeholder="Nro Cheque" [(ngModel)]="datosFacturaCompra.pagos.detalles[0].nroCheque" id="txtNroCheque" type="text">
            </div>
            <div class="col s6">
                <label for="txtMontoEntrega">Monto a entregar</label>
                <input class="form-control"  [(ngModel)]="datosFacturaCompra.cuotas.montoEntregado" id="txtMontoEntrega" type="number">
            </div>
        </div>

        <h6>Cuotas</h6>
        <div class="row">
            <div class="col s6">
                <label for="txtNroCuota">Nro de Cuotas</label>
                <input class="form-control" id="txtNroCuota" [(ngModel)]="datosFacturaCompra.cuotas.cantidadCuotas" type="number" (blur)="calcularMontoCuota()">
            </div>
            <div class="col s6">
                <label>Periodicidad</label>
                <select class="browser-default" (change)="calcularMontoCuota()" [(ngModel)]="periodicidadItem">                   
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%">Cuota</th>
                            <th style="width: 20%; text-align: right">Monto</th>
                            <th style="text-align: center">Vencimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cuota of datosFacturaCompra.cuotas.detalles">
                            <td>{{ cuota.nroCuota }}</td>
                            <td style="text-align: right">{{ cuota.monto | iFormatNumber }}</td>
                            <td style="text-align: center">{{ cuota.fechaVencimiento }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat" (click)="registrarCompra(true)">Confirmar</a>
        <a class="modal-close waves-effect waves-green btn-flat left" (click)="cerrarModalPago()">Volver</a>
   
    </div>
</div>

<div id="busquedaProveedor" class="modal largeModal" style="width: 90% !important;">
    <div class="modal-content">
      <h5 class="center">Proveedores</h5>
      <div class="row">
        <div class="col s2">
            <label for="textBuscarProveedor">Buscar</label>
            <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <table>
            <thead>
              <tr>
                <th>RUC</th>
                <th>Razón Social</th>
                <th>Nombre Fantasia</th>
                <th>Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prov of (listaProv | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p } " style="cursor: pointer;" (click)="seleccionarProveedor(prov)">
                <td>{{prov.ruc}}</td>
                <td>{{prov.razonSocial}}</td>
                <td>{{prov.nombreFantasia}}</td>
                <td>{{prov.direccion}}</td>
              </tr>
            </tbody>
          </table>
          <!-- paginado -->
      <div class="row"> 
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<div id="busquedaProducto" class="modal largeModal" style="width: 90% !important;">
    <div class="modal-content">
      <h5 class="center">Productos</h5>
      <div class="row">
        <div class="col s2">
          <label for="textBuscarProveedor">Buscar</label>
          <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th style="min-width: 140px;">Codigo</th>
            <th style="min-width: 160px;">Producto</th>
            <th style="min-width: 300px;">Descripcion</th>
            <th style="min-width: 100px;">Unidad de Medida</th>
            <th>Stock Minimo</th>
            <th >Agrupación</th>
            <th >Marca</th>
            <th>Detalle Fiscal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (listaProd | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p }" (click)="seleccionarProducto(item)">
            <td>{{ item.cod }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ (item.unidadMed) }}</td>
            <td>{{ item.stockMin }}</td>
            <td>{{ item.grupo }}</td>
            <td>{{ item.marca }}</td>
            <td>{{ item.tipoTributo }}</td>        
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row"> 
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<div id="busquedaOC" class="modal" style="width: 90% !important;">
    <div class="modal-content">
      <h5 class="center">Ordenes de Compra</h5>
      <div class="row">
        <div class="col s2">
          <label for="textBuscarProveedor">Buscar</label>
          <input class="form-control" type="text" placeholder="Buscar.." [(ngModel)]="searchText">
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th style="width: 16% !important; max-width: 16% !important;">N° Orden de Compra</th>
            <th>Proveedor</th>
            <th style="width: 13% !important; max-width: 13% !important;"> Monto Total</th>
            <th style="width: 13% !important; max-width: 13% !important;">Fecha registro</th>
            <th style="width: 13% !important; max-width: 13% !important;">Estado</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oc of (listaOC | busqueda: searchText) | paginate: { itemsPerPage: regXpag, currentPage: p}" (click)="seleccionarOC(oc)">
                <td>{{ oc.nroOrdenCompra }}</td>
                <td>{{ oc.proveedor }}</td>
                <td>{{ oc.montoTotal | iFormatNumber }}</td>
                <td>{{ oc.fechaRegistro | date:'dd/MM/yyyy' }}</td>
                <td>{{ oc.estado }}</td>
            </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row"> 
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>