<div class="container">
  <br>
  <h5 class="managingTitle">Recaudaciones</h5>
  <br>
  <div class="row">
    <a class="waves-light btn left" (click)="updateLst()">Actualizar</a>
    <a class="waves-light btn modal-trigger rigth" href="#modalDeposito">Registrar Depósito de dinero</a>
  </div>

  <div class="row">

    <div class="col s12" style="padding: unset;">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3">
          <a class="active" href="#recaudaciones" (click)="getLstRecaudaciones()">Recaudaciones</a>
        </li>
        <li class="tab col s3">
          <a href="#depositos" (click)="getLstDepositos()">Depositos de dinero</a>
        </li>
      </ul>
    </div>

    <div class="card" id="recaudaciones" style="position: unset;">
      <table class="striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Saldo Inicial</th>
            <th>Ingresos</th>
            <th>Egresos</th>
            <th>Saldo Final</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaRecau | paginate: { itemsPerPage: regXpag, currentPage: p1, id:'first' }">
            <td>{{ item.fecha | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.saldoInicial }}</td>
            <td>{{ item.ingresos }}</td>
            <td>{{ item.egresos }}</td>
            <td>{{ item.saldoFinal }}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="p1= $event" id="first" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <!-- <label>Reg. por pag.</label> -->
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card" id="depositos" style="position: unset;">
      <table class="striped">
        <thead>
          <tr>
            <th>Fecha Deposito</th>
            <th>Monto</th>
            <th>Banco</th>
            <th>Nro. Cuenta</th>
            <th>Fecha Registro</th>
            <th>Usuario Registro</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaDepositos | paginate: { itemsPerPage: regXpag, currentPage: p2, id:'second' }">
            <td>{{ item.fechaDeposito | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.monto }}</td>
            <td>{{ nombreBanco(item.idBanco) }}</td>
            <td>{{ item.nroCuenta }}</td>
            <td>{{ item.fechaCreacion | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.usuarioCreacion }}</td>
            <td>
              <button *ngIf="this.auth.tienePermiso('editDepo')" (click)="getInfoDepo(item.id)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped" data-target="modalDeposito"
                data-tooltip="Editar" style="float: inherit">
                <i class="material-icons">edit</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col s8 offset-s2 center-align">
          <pagination-controls (pageChange)="changePag($event)" id="second" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <!-- <label>Reg. por pag.</label> -->
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div id="modalDeposito" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <h6>Registrar depóstito de dinero</h6>
        <div class="col s12">
          <div class="row popup popup_int">

            <div class="input-field col s6"> 
              <input *ngIf="!updDep"  [(ngModel)]="datosDepositos.fechaDeposito" required name="fechaDeposito" type="date" autofocus>
              <input *ngIf="updDep"  [(ngModel)]="datosDepositos.fechaDeposito" required name="fechaDeposito" type="text" autofocus>
              <label for="fechaDeposito">Fecha depósito</label>
            </div>

            <div class="input-field col s6">
              <input [(ngModel)]="datosDepositos.monto" required name="monto" #monto="ngModel" type="number" autofocus>
              <label for="monto">Monto</label>
            </div>

            <div class="input-field col s6">
              <select [(ngModel)]="datosDepositos.idBanco" required #idBanco="ngModel" name="idBanco">
                <option value="-1" disabled selected>Banco</option>
                <option *ngFor="let banco of lstBancos" value="{{ banco.id }}">{{ banco.nombre }}</option>
              </select>
              <label>Banco</label>
            </div>

            <div class="input-field col s6">
              <input [(ngModel)]="datosDepositos.nroCuenta" required name="nroCuenta" #nroCuenta="ngModel" type="text" autofocus>
              <label for="nroCuenta">Nro. Cuenta</label>
            </div>

            <div class="col s4 offset-s2">
              <br>
              <button *ngIf="!updDep" type="submit" class="btn waves-light left" (click)="guardarDeposito()">Registrar</button>
              <button *ngIf="updDep" type="submit" class="btn waves-light left" (click)="guardarDeposito()">Actualizar</button>
            </div>
            <div class="col s6 pull-s2">
              <br>
              <button type="button" (click)="resetForm()" id="cancelModal" class="btn btnDel waves-light right modal-close">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>