<div class="container">
    <br>
    <br>
    <br>
  <h5 class="managingTitle">Pago a Proveedores</h5>


  <div class="col s6">
    <div class="switch right-align">
      <label>
        Pagados
        <input id type="checkbox" id="switchModo" (change)="switchModoChanged()">
        <span class="lever"></span>
        Pendientes
      </label>
    </div>
  </div>


  <br>
  <div class="card-tabs">
    <table *ngIf="modoTrabajo==='PAGADOS'" class="striped" id="pagoProveedores">
      <thead>
        <tr>
          <th style="width: 20% ">Proveedor</th>
          <th style="width: 15% "> Monto </th>
          <th style="width: 15% "> Fecha Pago</th>
         
          <th style="width: 15% ">Acciones</th>
        </tr>
        
      </thead>
      <tbody>
        <tr *ngFor="let p of  listaPago | paginate: { itemsPerPage: regXpag, currentPage: p}">
          <td>{{ p.proveedor }}</td>
          <td style="width: 15% ">
            {{ p.totalPagado | iFormatNumber }}
          </td>
          <td>{{ p.fecha | date:'dd/MM/yyyy'}}</td>
         
          <td>
            <button *ngIf="p.idOp!=null" (click)="descargar(p.idOp)"
              class="btn btnAction tooltipped waves-light waves-effect modal-trigger" data-position="top"
              data-delay="50" data-tooltip="Descargar Orden de Pago" style="float: inherit">
              <i class="material-icons">file_download</i>
            </button>

            <button (click)="getInfoPago(p.id)" class="btn btnAction tooltipped waves-light waves-effect modal-trigger" data-position="top"
            data-delay="50" data-tooltip="Ver detalle Pago" style="float: inherit" data-target="verPago">
            <i class="material-icons">search</i>
          </button>




          </td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="modoTrabajo==='PENDIENTES'" class="striped" id="pagoProveedores">
      <thead>
        <tr>
          <th style="width: 20% ">Proveedor</th>
          <th style="width: 25% "> Monto </th>
          <th style="width: 15% "> Facturas pendientes</th>
          <th style="width: 15% ">Acciones</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let cp of  lstcuotaspendientes | paginate: { itemsPerPage: regXpag, currentPage: p}">
          <td>{{  cp.proveedor }}</td>
          <td> {{ cp.montoTotal | iFormatNumber  }}</td>
          <td>{{ cp.cuotaspendientes}}</td>
          <td>
            <button *ngIf="this.auth.tienePermiso('addpago')"  routerLink="/gestionPagos/{{cp.idProveedor}}"
              class="btn btnAction waves-light waves-effect modal-trigger tooltipped" 
              data-tooltip="Gestionar Pago" style="float: inherit" data-target="modalPago" > 
              <i class="material-icons">add_circle</i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
    
    <div>
    <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">Cant. reg:{{creg}} </p>
      </div>
      <div class="col s1 right">
        <!-- <label>Reg. por pag.</label> -->
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
    </div>
    </div>

  </div>




  <div id="modalGestionPago" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <div class="col s12">

          <div class="row popup popup_int">
            <div *ngIf="(!this.updCli && !this.search)" class="row" style="text-align:center">
              <h6>Gestionar Pago</h6>
            </div>
            <div class="col s8 offset-s2">
              <div>
                <br>
                <br>
                <br>
                <table class="striped" id="gestionPago">
                  <thead>
                    <tr>
                      <th style="width: 20% ">Factura</th>
                      <th style="width: 15% "> Cuota </th>
                      <th style="width: 15% "> Fecha Vencimiento</th>
                      <th style="width: 15% "> Monto</th>
                      <th style="width: 15% "> Seleccionar</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor="let cpp of  listacuotasprov | paginate: { itemsPerPage: regXpag, currentPage: p}">
                      <td>{{ cpp.nroFactura }}</td>
                      <td>{{ cpp.nro }}</td>
                      <td>{{ cpp.fechaVencimiento | date:'dd/MM/yyyy'}}</td>
                      <td>{{ cpp.monto | iFormatNumber }}</td>
                      <td>
                        <p>
                          <label>
                            <input type="checkbox" class="filled-in" [(ngModel)]="cpp.internalSelected"/>
                            <span></span>
                          </label>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col s6">
                <br>
                <button  (click)="pagar()" type="button" class="btn waves-light left" >Guardar</button>
              </div>
              <div class="col s6">
                <br>
                <button type="button" (click)="resetForm()" id="btnCancelModal"
                  class="btn   waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div id="modalPago" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <form class="col s12" >

          <div class="row popup popup_int">
            <div *ngIf="(!this.updCli && !this.search)" class="row" style="text-align:center">
              <h6>Realizar Pago</h6>
            </div>
            <div class="col s8 offset-s2">
              <div>
                <br>
                <br>
               
              </div>

              <div class="col s6">
                <br>
                <button type="submit" (click)="guardar()" class="btn waves-light left">Guardar</button>
              </div>
              <div class="col s6">
                <br>
                <button type="button" (click)="resetForm()" id="btnCancelModal"
                  class="btn   waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>


  <div id="verPago" class="modal">
    <div class="modal-content">
      <div class="row popup">
        <div class= "col s12 cabecera">
           <div  style="text-align: center"><h6> Facturas Pagadas</h6> <br><br></div>
              <div class="col s6 lef">
                <p style="display: inline-block">Proveedor: </p>
                <output >{{ datosPago.proveedor }}</output>
              </div>
              <div class="col s6 right" style="text-align: end;">
                <p style="display: inline-block">Fecha: </p>
                <output>{{ datosPago.fecha | date:'dd/MM/yyyy' }}</output>
              </div>
           </div>
        <br><br><br>
        <div class="col s12 detalle" style="margin-top:50px">
            <div class="">
                <table class="striped">
                  <thead>
                    <tr>
                      <th style="width: 25%">Factura</th>
                      <th style="width: 25%">Cuota</th>
                      <th style="width: 25% ">Monto</th>
                      <th style="width: 25%">Medio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detP of listaDP">
                      <td>
                        <span>{{detP.nroFactura}}</span>
                      </td>
                      <td>
                        <span style="text-align:right">{{detP.idCuota}}</span>
                      </td>
                      <td>
                        <span >{{detP.monto| iFormatNumber}}</span>
                      </td>
                      <td>
                        <span>{{detP.medio}}</span>
                      </td>
   
                    </tr>
                  </tbody>
                  
                </table>
            </div>
        </div>
        <div class="col s12" style="margin-top:50px">
              <div class="col s12 right" style="text-align: end;">
                <p style="display: inline-block; margin-right: 35px;">Total Pagado: </p>
                <output >{{ datosPago.totalPagado| iFormatNumber }}</output>
              </div>
        </div>
          <div class="col s12">
            <br>
            <button  type="button" (click)="getLstPagos()" id="btnCancelModal" class="btn waves-light modal-close center" >Cerrar</button>
          </div>
        </div>
    </div>

</div>
































</div>