<div class="container">
  <br>
  <h5 class="managingTitle">Listas de Precios</h5>
  <div class="row">
    <a *ngIf="this.auth.tienePermiso('addLstP')" class="waves-light btn modal-trigger" (click)="addNewLP()" href="#modalListaPrecio">Nueva Lista Precio</a>
  </div>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tipo Lista</th>
          <th>Descripcion</th>
          <th>Inicio Vigencia</th>
          <th>Fin Vigencia</th>
          <th>Ultima Actualización</th>
          <th>Usuario Actualización</th>
          <th>Lista Completa?</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listasPrecio | paginate: { itemsPerPage: regXpag, currentPage: p }">
          <td>{{ item.id }}</td>
          <td>{{ item.tipoListaDTO.descripcion}}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.inicioVigencia | date:'dd/MM/yyyy' }}</td>
          <td>{{ item.finVigencia | date:'dd/MM/yyyy' }}</td>
          <td>{{ item.fechaUltimaActualizacion | date:'dd/MM/yyyy' }}</td>
          <td>{{ item.usuarioUltActualizacion }}</td>
          <th>
            <i *ngIf="item.lpIncompleta" class="material-icons color-red">error</i>
            <i *ngIf="!item.lpIncompleta" class="material-icons color-green">check</i>
          </th>
          <td>
           <!--editar datos de la LP-->
            <button *ngIf="this.auth.tienePermiso('updLstP')" (click)="getInfoLP(item.id); updLP = true" class="btn btnAction waves-light modal-trigger tooltipped"
              data-target="modalListaPrecio" data-tooltip="Editar datos de la Lista" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>
             <!-- ver detalles de la lista de precios -->
             <a class="waves-effect waves-light btn btnAction tooltipped" routerLink="/lpDetalles/{{item.id}}" data-tooltip="Ver detalle" ><i class="material-icons">search</i></a>
            <!-- asociar un descuento a una lista de precio -->
            <button *ngIf="this.auth.tienePermiso('addDsctoLp')" (click)="getDsctoLP(item.id)" class="btn btnAction waves-light modal-trigger tooltipped"
            data-target="modalDsctosAsociados" data-tooltip="Descuentos Asociados" style="float: inherit">
            <i class="material-icons">strikethrough_s</i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginado -->
    <div class="row"> 
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>

  <div id="modalListaPrecio" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar()">
          <div class="col s10 offset-s1">
            <div class="row">
              <div class="col s4" style="margin-top: 10.5px; color: rgb(163, 163, 166);">Tipo:</div>
              <div class="col s8 left">
                <select [(ngModel)]="datosLP.idTipoLista" class="browser-default" required #idTipoLista="ngModel" name="idTipoLista">
                  <option value="-1" disabled selected>Tipos</option>
                  <option *ngFor="let tipos of listaTiposLP" value="{{ tipos.id }}">{{ tipos.descripcion }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input [(ngModel)]="datosLP.descripcion" name="descripcion" id="descripcion" type="text">
                <label class="active" for="descripcion">Descripcion</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input [ngModel]="datosLP.inicioVigencia | date:'yyyy-MM-dd'" (ngModelChange)="datosLP.inicioVigencia = $event" name="inicioVigencia" id="inicioVigencia" type="date" class="validate">
                <label class="active" for="inicioVigencia">Inicio de Vigencia</label>
              </div>
              <div class="input-field col s6">
                <input [ngModel]="datosLP.finVigencia | date:'yyyy-MM-dd'" (ngModelChange)="datosLP.finVigencia = $event"  name="finVigencia" id="finVigencia" type="date" class="validate">
                <label class="active" for="finVigencia">Fin de Vigencia</label>
              </div>
            </div>

            <!-- *ngIf="!updLP" -->
              <div class="row"> 
              <div class="col s3" style="margin-top: 10.5px; color: rgb(163, 163, 166);">Tipo de costo base a utilizar:</div>
              <div class="input-field col s4">
                <select [(ngModel)]="datosLP.costoBase" class="browser-default" required #costoBase="ngModel" name="costoBase">
                  <option value="-1" disabled selected>Tipos</option>
                  <option value="PP">Promedio Ponderado</option>
                  <option value="UC">Ultimo Costo Compra</option>
                </select>
              </div>
              <div class="col s5" style="line-height: 44px; margin: 15px 0;">
                <div class="switch right-align">
                  Calcular precio de venta?
                  <label> 
                    No
                    <input name="calcPrecioVenta" type="checkbox" (change)="bandera()">
                    <span class="lever"></span>
                    Sí
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <br><button type="submit" class="btn waves-light left">Guardar</button>
              </div>
              <div class="col s6">
                <br><button type="button" (click)="resetForm()" id="closeLP" class="btn waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="modalDsctosAsociados" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <h6>Descuentos asociados a la Lista de Precios <b>{{ datosLP.id }}</b></h6>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col s12 center-align">
          <a class="waves-light btn modal-trigger" style="float:none" (click)="nuevaAso(datosLP.id)" href="#modalNuevaAsociacion">Asociar Descuento</a>
        </div>
      </div>
      <br>
      <div class="row">
          <table class="striped">
            <thead>
              <tr>
                <th>Descuento</th>
                <th>Inicio Vigencia</th>
                <th>Fin Vigencia</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaLPdscto">
                <td>{{ nombreDscto(item.idDescuento) }}</td>
                <td>{{ item.inicioVigencia | date:'dd/MM/yyyy' }}</td>
                <td>{{ item.finVigencia | date:'dd/MM/yyyy' }}</td>
                <td>{{ (item.vigente)? 'Activo' :  'Inactivo'}}</td>
                <td>
                  <!-- vencer vigencia -->
                  <button *ngIf="item.vigente" (click)="vencerAsoLP(item)" class="btn btnAction btnDel waves-light tooltipped"
                    data-tooltip="Finalizar la vigencia" style="float: inherit">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col s12">
            <button type="button" (click)="resetForm()" class="btn waves-light right modal-close">Cerrar</button>
          </div>
      </div>
    </div>
  </div>

  <div id="modalNuevaAsociacion" class="modal">
    <div class="modal-content">
      <h6 class="center-align">Nueva Asociación</h6>
      <div class="col s12">
        <div class="row popup popup_int">
          <div class="col s10 offset-s1">
            <div class="input-field col s12">
              <select [(ngModel)]="datosLPdscto.idDescuento" name="idListaPrecio">
                <option value="-1" disabled selected>selecciona un descuento</option>
                <option *ngFor="let item of listaDsctos" value="{{ item.id }}">{{ item.descripcion }}</option>
              </select>
              <label>Descuentos existentes</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="datosLPdscto.inicioVigencia" id="inicioVigencia" placeholder="" name="inicioVigencia" type="date" class="validate">
              <label for="inicioVigencia">Inicio Vigencia</label>
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="datosLPdscto.finVigencia" id="finVigencia" placeholder="" name="finVigencia" type="date" class="validate">
              <label for="finVigencia">Fin Vigencia</label>
            </div>
            <div class="col s6">
              <br><button type="submit" (click)="guardarAsociacion()" class="btn waves-light left">Guardar</button>
            </div>
            <div class="col s6">
              <br><button type="button" (click)="resetFormAso()" class="btn waves-light right modal-close">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>