<div class="container">
  <br>
  <h5 class="managingTitle">Volumen de Ventas por Horario</h5>
  <br>

  <div class="row">
    <div class="col s12 left" style="padding-left: 0">

      <a class="waves-effect waves-light btn btn-small left" (click)="mostrarFrmFiltro()" style="margin: 0">
        <i class="icon-filter_list right"></i>Filtrar</a>

      <div class="contenedorFiltro" id="filtroReporte">

        <div class="row">
          <div class="col s12 center-align">
            <button type="button" (click)="limpiarFiltro()" class="btn waves-light btn-primaryInvertido left btnLimpiarFiltro">Limpiar</button>

            <button type="button" class="btn waves-light btn-primary right btnListoFiltro" (click)="loadRegistros()">Listo</button>
          </div>
        </div>

        <div class="row" style="padding-top: 10px">
          <div class="col s6">
            desde:
            <div class="input-field">
              <input [(ngModel)]="filtro.fechaDesde" id="fechaDesde" name="fechaDesde" type="date" style="text-align: center;">
            </div>
          </div>

          <div class="col s6">
            hasta:
            <div class="input-field">
              <input [(ngModel)]="filtro.fechaHasta" id="fechaHasta" name="fechaHasta" type="date" style="text-align: center;">
            </div>
          </div>

        </div>
      </div>
      <app-show-chips-filter [lstFiltros]="listaFiltros" (removeFilter)="removerFiltro($event)"></app-show-chips-filter>
    </div>
  </div>

  <div class="row">

    <div class="card" id="listaHorarioVtas" style="position: unset;">
      <table *ngIf="(!filtro.grupo)" class="striped">
        <thead>
          <tr>
            <th>Horario</th>
            <th>Cantidad Vendida</th>
            <th>Monto Recaudado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaVentasDet | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.descripcion }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.monto | iFormatNumber }}</td>
          </tr>
        </tbody>
      </table>

      <!-- paginado -->
      <div class="row">
        <div class="col s2">
          <a class="waves-effect waves-light btn" (click)="getReporte()"><i class="material-icons right">file_download</i>Descargar Excel</a>
        </div>
        <div class="col s8 center-align">
          <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</div>