<div id="modalPtoExp" class="modal smallModal">
  <div class="modal-content">
    <div class="row popup">
      <h6>Nuevo Punto de Expedición</h6>
      <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
        <div class="row popup popup_int">

          <div class="input-field col s12">
            <input [(ngModel)]="datosPtoExp.puntoExp" required name="puntoExp" #puntoExp="ngModel" type="text" autofocus>
            <label for="puntoExp">Pto. de Expedición nro.:</label>
          </div>
          
          <div class="col s12">
            <div class="col s4" style="margin-top: 10.5px; color: rgb(163, 163, 166);">Estado:</div>
            <div class="col s8 left">
              <select [(ngModel)]="datosPtoExp.idEstado" class="browser-default" required #idEstado="ngModel" name="idEstado">
                <option value="-1" disabled selected>Estado</option>
                <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{ estados.descripcion }}</option>
              </select>
            </div>
          </div>

          <div class="col s4 offset-s2">
            <br>
            <button type="submit" class="btn waves-light left">Agregar</button>
          </div>
          <div class="col s6 pull-s2">
            <br>
            <button type="button" (click)="resetForm()" id="cancelModalTimb" class="btn btnDel waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>