<div class="container">
  <br>
  <h5 class="managingTitle">Bancos</h5>

  <a *ngIf="this.auth.tienePermiso('addbanco')" class="waves-effect waves-light btn modal-trigger" (click)="resetForm()"  href="#modalBancos">Agregar Banco</a>
  
  <br>
  <br>
  <br>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th style="width: 40%;">Nombre</th>
          <th style="width: 40%;">Abreviatura</th>
           <th style="min-width: 300px;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaBancos">
          <td>{{ item.nombre }}</td>
          <td>{{ item.abreviatura}}</td>
            
         <td style="width:20%">
            <button *ngIf="this.auth.tienePermiso('editbanco')" (click)="getInfoBanco(item.id)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
              data-target="modalBancos" data-tooltip="Editar datos del Banco" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>

          <button *ngIf="this.auth.tienePermiso('delbanco')" (click)="EliminarBanco(item.id)" class="btn  btnDel btnAction waves-light modal-trigger tooltipped"
            data-position="top" data-delay="50" data-tooltip="Eliminar Banco" style="float: inherit">
            <i class="material-icons">delete</i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 

  <div id="modalBancos" class="modal modal5060">
    <div class="modal-content">
      <div class="row popup">

        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">

          <div class="row popup popup_int">

              <div *ngIf="(!this.updBanco && !this.search)" class="row" style="text-align:center">
                  <h6 >Nuevo Banco</h6>
              </div>
            <div class="col s10 offset-s1">

              <div class="input-field col s12">
                <input [(ngModel)]="datosBanco.nombre" required name="nombre" #nombre="ngModel" id="nombre_txt" type="text" class="validate">
                <label class="active"  for="nombre_txt">Banco</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosBanco.abreviatura" name="abreviatura" #descripcion="ngModel" id="descripcion_txt" type="text" class="validate">
                <label class="active"  for="descripcion_txt">Abreviatura</label>
              </div> 
              
              <!-- <div *ngIf="this.updBanco" class="col s12">
                  <label>Estado</label>
                  <select [(ngModel)]="datosBanco.idEstado" class="browser-default" required #idEstado="ngModel" name="idEstado">
                    <option value="-1" disabled selected>Estado</option>
                    <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{ estados.descripcion }}</option>
                  </select>
              </div>-->

            
            </div>

              <div class="col s6">
                <br>
                <button type="submit" class="btn waves-effect waves-light left">Guardar</button>
              </div>
              
              <div class="col s6">
                <br>
                <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-effect waves-light right modal-close">Cancelar</button>
              </div>
             
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


