<div class="container">
  <br>
  <h5 class="managingTitle">Notas de Crédito Compra</h5>

  <a *ngIf="this.auth.tienePermiso('addncc')" class="waves-effect waves-light btn modal-trigger"
    (click)="chargeLstNewNota()" href="#modalNCCompra">Registrar Nota Credito</a>
  <br>
  <br>
  <br>
  <div class="card-tabs">
    <table class="striped" id="nCreditoCompra">
      <thead>
        <tr>
          <th style="width: 16% !important; max-width: 16% !important;">N° Nota Credito</th>
          <th>Proveedor</th>
          <th style="width: 13% !important; max-width: 13% !important;"> Monto Total</th>
          <th style="width: 13% !important; max-width: 13% !important;">Fecha registro</th>
          <th style="width: 19% !important">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nc of listaNC | paginate: { itemsPerPage: regXpag, currentPage: p}">
          <td>{{ nc.nroNotaCredito }}</td>
          <td>{{ nc.proveedor }}</td>
          <td>
            <p style="display: inline-block; text-align: left;">Gs. <br></p>{{ nc.montoTotal | iFormatNumber }}
          </td>
          <td style="text-align: center;">{{  nc.fechaCreacion | date:'dd/MM/yyyy' }}</td>
          <td>
            <button (click)="getInfoNC(nc.id)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
              data-target="modalDetallesNC" data-tooltip="Ver detalles" style="float: inherit">
              <i class="material-icons">search</i>
            </button>
            <button *ngIf="this.auth.tienePermiso('delfc')" (click)="borrarNota(nc.id)" class="btn  btnDel btnAction waves-light modal-trigger tooltipped"
            data-position="top" data-delay="50" data-tooltip="Eliminar Nota Crédito" style="float: inherit">
            <i class="material-icons">delete</i>
            </button>  
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">Cant. reg:{{creg}} </p>
      </div>
      <div class="col s1 right">
        <!-- <label>Reg. por pag.</label> -->
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>

  <div id="modalNCCompra" class="modal bigModal">
    <div class="modal-content">
      <div class="row popup">
        <div class="col s12 cabecera">
          <div *ngIf="(!this.updOC && !this.search)" style="text-align: center">
            <h5>Nueva Nota Crédito</h5><br><br>
          </div>
          <div *ngIf="(this.updOC || this.search)" style="text-align: center">
            <h5>Nota Crédito</h5> <br><br>
          </div>

          <div class="row col s12">

            <div class="input-field col s4 left">
              <input [(ngModel)]="datosNC.nroNotaCredito" required name="nroNotaCredito" id="nroNotaCredito" type="text"
                class="validate">
              <label class="active" for="nroNotaCredito">Nro. Nota de Crédito:</label>
            </div>

            <div class="input-field col s4" style="text-align: end;">
              <input [(ngModel)]="datosNC.fecha" required name="fecha" #fecha="ngModel" id="fecha" type="date"
                class="validate">
              <label class="active" for="fecha">Fecha:</label>
            </div>

            <div class="input-field col s4 right">
              <select [disabled]="search" [(ngModel)]="datosNC.idProveedor" required #idProveedor="ngModel"
                name="idProveedor" id="idProveedor">
                <option value="-1" disabled selected>Proveedor</option>
                <option *ngFor="let prov of listaProv" value="{{ prov.id }}">{{prov.razonSocial }}</option>
              </select>
            </div>

          </div>

          <div class="row cols12">
            <div class="input-field col s4">
              <p>
                <label>
                  <input type="checkbox" class="filled-in" (change)="buscarFacturas(datosNC.idProveedor)" />
                  <span>Devolucion Factura</span>
                </label>
              </p>
            </div>

            <div class="input-field col s4">
              <select [disabled]="search" [(ngModel)]="datosNC.idCabeceraCompra" required #idCabeceraCompra="ngModel"
                name="idCabeceraCompra" id="idCabeceraCompra" (change)="detalleFact(datosNC.idCabeceraCompra)">
                <option value="-1" disabled selected>Nro. Factura</option>
                <option *ngFor="let fc of listaFacturasCompra" value="{{fc.id }}">{{fc.nroFactura}}</option>
              </select>
            </div>

            <!-- mostrar aqui?-->
            <div class="col s4 right">
              <p style="display: inline-block">Estado: </p>
              <output>{{ (datosNC.estado == '') ? 'Pendiente' : datosNC.estado }}</output>
            </div>
          </div>

        </div>
        <br><br><br>
        <div class="col s12 detalle" style="margin-top:50px">
            <div class="">
                <table class="striped">
                  <thead>
                    <tr>
                      <th style="width: 5%" *ngIf="(!this.search)"></th>
                      <th style="width: 16%">Codigo</th>
                      <th style="width: 40%">Descripcion</th>
                      <th style="width: 8%" class="sumable">Cantidad</th>
                      <th style="width: 15%" class="sumable">Costo Unitario</th>
                      <th class="sumable">Costo Total</th>
                      <th class="sumable">Observacion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detNC of datosNC?.detalles ; let i = index">
                        <td>
                            <button class="btn-floating waves-light waves-effect right" (click)="removeRegistro(i)" style="margin-top:15px;">
                              <i class="material-icons">remove</i>
                            </button>
                        </td>
                        <td>
                            <input type="text" name="codProducto" id="codProducto" [(ngModel)]="detNC.codProducto" (blur)="getProductoByCod(detNC.codProducto,i)">
                        </td>

                        <td [innerText]="detNC.producto">
                        </td>


                        <td>
                            <input type="number" name="cantidad" id="cantidad" [(ngModel)]="detNC.cantidad">
                        </td>

                        <td [innerText]="detNC.costoUnitario" name="costoUnitario" [(ngModel)]="detNC.costoUnitario">
                            <!-- <input type="text" name="cod" id="cod" [(ngModel)]="item.producto.cod"> -->
                        </td>

                        <td [innerText]="((detNC.cantidad && detNC.costoUnitario) ? (detNC.cantidad * detNC.costoUnitario) : 0) | iFormatNumber">
                            <!-- <input type="text" name="total" id="total" [(ngModel)]="item.total"> -->
                        </td>

                        <td>
                            <input type="text" name="observacion" id="observacion" [(ngModel)]="detNC.observacion">
                        </td>

                       
                    </tr>
                  </tbody>
                  
                </table>
                  
                <div>
                  <button *ngIf="(!search && datosNC.idCabeceraCompra==null)" class="btn-floating waves-light waves-effect right" (click)="addProducto()" style="margin-top:15px;">
                    <i class="material-icons">add</i>
                  </button>
                </div>
            </div>
        </div>
        <div class="row">

          <div class="col s12 left-align">
            <h5 class="center-align">Total:
              <!-- <span style="font-size: 40px">50.000</span> -->
              <input type="text" readonly id="txtTotalGs" name="nameTotalGs"
                [value]="datosNC.detalles | totalNCcompra | iFormatNumber" style="text-align: center">
            </h5>
          </div>

          <div class="col s6">
            <br>
            <button *ngIf="!search" type="submit" (click)="guardar()" class="btn waves-light left">Guardar</button>
          </div>
          <div class="col s6">
            <br>
            <button *ngIf="!search" type="button" (click)="resetForm()" id="btnCancelModal"
              class="btn btnDel waves-light right modal-close">Cancelar</button>
            <button *ngIf="search" type="button" (click)="resetForm()" id="btnCancelModal"
              class="btn waves-light right modal-close">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modalDetallesNC" class="modal">
    <div class="modal-content">
      <h6>Nota de Credito {{ datosNC.nroNotaCredito }}</h6>
      <br>
      <div class="card">
        <table class="striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Uni</th>
              <th>Precio Total</th>
              <th>Observacion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaDetNC">
              <td>{{ codProducto(item.idProducto) }}</td>
              <td>{{ nombreProducto(item.idProducto) }}</td>
              <td>{{ item.cantidad }}</td>
              <td class="sumable">{{ item.total/item.cantidad | iFormatNumber }}</td>
              <td class="sumable">{{ item.total | iFormatNumber }}</td>
              <td>{{ item.observacion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn">Cerrar</a>
    </div>
  </div>

</div>