<div class="container">
  <br>
  <h5 class="managingTitle">Gestión de Cuentas Bancarias</h5>

  <a *ngIf="this.auth.tienePermiso('addctabanc')" class="waves-light btn modal-trigger" (click)="addNewCuenta()" href="#modalCuentaBanco">Agregar Cuenta</a>
  <br>
  <br>
  <br>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th style="width:15%">Banco</th>
          <th style="width:15%">Nro.Cuenta</th>
          <th style="width:15%">Tipo</th>
          <th style="width:15%">Nombre</th>
          <th style="width:15%">Titular</th>
          <th style="width:10%">Estado</th>
          <th style="width:15%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cuentaBanco of listaCuentaBanco">
          <td>{{ cuentaBanco.banco }}</td>
          <td>{{ cuentaBanco.nroCuenta }}</td>
          <td>{{ cuentaBanco.tipoCuenta }}</td>
          <td>{{ cuentaBanco.nombreCuenta }}</td>
          <td>{{ cuentaBanco.titular }}</td>
          <td>{{ cuentaBanco.estado }}</td>
          <td style="width:450px">
            <!--editar datos de la cuenta bancaria-->
            <button *ngIf="this.auth.tienePermiso('editctabanc')" (click)="getInfoCtaBanco(cuentaBanco.id)" class="btn btnAction waves-light modal-trigger tooltipped"
              data-target="modalCuentaBanco" style="float: inherit" data-tooltip="Editar datos de la Cuenta">
              <i class="material-icons">edit</i>
            </button>
            <!--Ver chequeras activas-->
            <button  *ngIf="this.auth.tienePermiso('lstcheques')" (click)="getInfoChequesCta(cuentaBanco.id)" class="btn btnAction waves-light modal-trigger tooltipped"
                data-target="modalChequesAsociados" data-tooltip="Ver chequeras activas" style="float: inherit">
                <i class="material-icons">search</i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="modalCuentaBanco" class="modal">
    <div class="modal-content">
      <div class="row popup">
        
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
          <div class="row popup popup_int">
            <div class="col s10 offset-s1">
               <div class="col s10 left" style="padding: 0px;">
                  <label class="active" >Banco</label>
                  <select [disabled]="search" [(ngModel)]="datosCuentaBanco.idBanco" class="browser-default" required #idBanco="ngModel" name="idBanco">
                    <option value="-1" disabled selected>Banco</option>
                    <option *ngFor="let banco of listaBancos"  value="{{banco.id }}">{{banco.nombre}}</option>
                  </select>
                </div>

                 <div class="input-field col s12">
                  <input [(ngModel)]="datosCuentaBanco.nombreCuenta" required name="nombreCuenta" #nombreCuenta="ngModel" id="nombreCuenta" type="text" class="validate active"
                    autofocus>
                  <label for="nombreCuenta">Nombre</label>
                </div>

                <div class="col s10 left" style="padding: 0px;">
                  <label class="active" >Tipo Cuenta</label>
                  <select [(ngModel)]="datosCuentaBanco.idTipoCuenta" class="browser-default" required #idTipoCuenta="ngModel" name="idTipoCuenta">
                    <option value="-1" disabled selected>Tipo Cuenta</option>
                    <option *ngFor="let tipoCuenta of listaTipoCuentas"  value="{{tipoCuenta.id}}">{{ tipoCuenta.descripcion }}</option>
                  </select>
                </div>

                <div class="input-field col s12">
                  <input [(ngModel)]="datosCuentaBanco.nroCuenta" required name="nroCuenta" #nroCuenta="ngModel" id="nroCuenta" type="text" class="validate active">
                  <label class="active"  for="nroCuenta">Nro. Cuenta</label>
                </div>

                <div class="input-field col s12">
                  <input [(ngModel)]="datosCuentaBanco.titular" required name="titular" #titular="ngModel" id="titular" type="text" class="validate">
                  <label class="active" for="titular">Titular</label>
                </div>

              <div class="col s10 left" style="padding: 0px;">
              <label class="active" >Estado</label>
                  <select [(ngModel)]="datosCuentaBanco.idEstado" class="browser-default" required #idEstado="ngModel" name="idEstado">
                    <option value="-1" disabled selected>Estado</option>
                    <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{ estados.descripcion }}</option>
                  </select>
              </div> 

                  <div class="col s6">
                    <br><button type="submit" class="btn waves-light left">Guardar</button>
                  </div>
                  <div class="col s6">
                    <br><button type="button" (click)="resetForm()" id="btnCancelModal" class="btn waves-light right modal-close">Cancelar</button>
                  </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="modalChequesAsociados" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s10">
          <h6>Chequeras asociadas a la Cuenta Bancaria Nro.:<b> {{datosCuentaBanco.nroCuenta }}</b></h6>
        </div>
        <div class="col s6">
  </div>
      </div>
      <br>
      <div class="row">
          <table class="striped">
            <thead>
              <tr>
                <th>Serie</th>
                <th>Nro. Inicial</th> 
                <th>Nro. final</th>            
                <th>Tipo</th> 
              </tr> 
            </thead> 
            <tbody>
              <tr *ngFor="let item of listaCheques">
                <td style="width: 25%">{{ item.serie }}</td>
                <td style="width: 25%">{{ item.numeroInicial }}</td>
                <td style="width: 25%">{{ item.numeroFinal}}</td>
                <td style="width: 25%">{{ item.tipoCheque }}</td>      
              </tr>
            </tbody>
          </table>
          <div class="col s12">
            <br><button type="button" (click)="resetForm()" id="CloseModal3" class="btn waves-light right modal-close">Cerrar</button>
          </div>
      </div>
    </div>
  </div>



</div>
