/*.container {
    height: 100%;
    overflow: hidden;
}
.row.total{
    padding-top: 5%;
    height: 90%;
}

/*.card{
    width: 75%;
    height: 75px;
    align-items: center;
    text-align: center;
}

.opc{
    background: linear-gradient(135deg, rgba(105,186,71,1) 0%, rgba(76,166,71,1) 76%, rgba(67,160,71,1) 100%);;
    color: white;
}

h5.titleOpc {
    color: var(--color-principal);
    text-align: center;
    margin: 0px !important;
}

.divider2 {
    width: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    height: 100%;
    display: inline-block;
    margin-left: -10px;
}

.scroll {
    height: 100%;
    overflow-y: overlay;
}*/