<section>
  <nav class="nav-extended" style="background-color: #343a40;">
    <div class="nav-content">
      <ul class="tabs tabs-transparent row">
        <li white font-12 pointer identacion id="idMedida" class="tab col s2" (click)="efectAction('idMedida'); newMenu='MEDIDA'">
          Unidades de Medida</li>
        <li white font-12 pointer identacion id="idMarca" class="tab col s2" (click)="efectAction('idMarca'); newMenu='MARCA'">
          Marcas</li>
        <li white font-12 pointer identacion id="idAgrupacion" class="tab col s2" (click)="efectAction('idAgrupacion'); newMenu='AGRUPACION'">
          Agrupaciones</li>
        <li white font-12 pointer identacion id="idTimbrado" class="tab col s2" (click)="efectAction('idTimbrado'); newMenu='TIMBRADO'">
          Timbrados</li>
        <li white font-12 pointer identacion id="idPunto" class="tab col s2" (click)="efectAction('idPunto'); newMenu='PUNTO'">
          Puntos de Expedición</li>
        <li white font-12 pointer identacion id="idComprobante" class="tab col s2" (click)="efectAction('idComprobante'); newMenu='COMPROBANTE'">
          Comprobantes</li>
      </ul>
    </div>
  </nav>
    <div [ngSwitch]="newMenu"> 
      <p *ngSwitchCase="'MEDIDA'"></p>
      <p *ngSwitchCase="'MARCA'"></p>
      <p *ngSwitchCase="'AGRUPACION'"></p>
      <p *ngSwitchCase="'TIMBRADO'"></p>
      <p *ngSwitchCase="'PUNTO'"></p> 
      <p *ngSwitchCase="'COMPROBANTE'"></p> 
      <p *ngSwitchDefault></p>
    </div>
    
    <div [ngSwitch]="newMenu">
      <ng-template [ngSwitchCase]="'MEDIDA'">
        <ng-container *ngTemplateOutlet="menuMedida"></ng-container> 
      </ng-template>
      <ng-template [ngSwitchCase]="'MARCA'">
        <ng-container *ngTemplateOutlet="menuMarca"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'AGRUPACION'">
        <ng-container *ngTemplateOutlet="menuAgrupacion"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'TIMBRADO'">
        <ng-container *ngTemplateOutlet="menuTimbrado"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'PUNTO'">
        <ng-container *ngTemplateOutlet="menuPunto"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'COMPROBANTE'">
        <ng-container *ngTemplateOutlet="menuComprobante"></ng-container>
      </ng-template>
      <ng-template [ngSwitchDefault]>
        <ng-container *ngTemplateOutlet="menuDefault"></ng-container>
      </ng-template>
    </div>
</section>

<ng-template #menuMedida>
  <div class="row" [formGroup]="form">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 font-weight">Unidades de Medida</span>
        </div>
        <div class="card-content lighten-4">
          <div class="row">
           
          </div>
          <div class="row">
            <div class="col s5">
              <label class="black-label-view text-titulo-view">Unidades de Medida</label>
              <!--ng-select [(ngModel)]="datosUniMed.id" class="ngselectborder" [clearable]="true" appearance="outline" (click)="getdatosUniMed()" #idProveedor="ngModel" name="idUniMed" id="idUniMed">
                <ng-option *ngFor="let uniMed of listaUniMeds" [value]="uniMed.id">{{ uniMed.descripcion }}</ng-option>
              </ng-select-->
              <ng-select [items]="listaUniMeds" bindLabel="descripcion" [clearable]="false" [placeholder]="placeHolderTxt(datosUniMed.id)" bindValue="id" formControlName="medida">
              </ng-select>
            </div>
           <div class="col s4 offset-s3">
            <a class="waves-light btn modal-trigger" boton="positivo" href="#modalUniMed" (click)="newUniMed()">Agregar Unidad de Medida</a>
           </div>
            <!--select class="browser-default" name="idUniMed" [(ngModel)]="datosUniMed.id" (click)="getdatosUniMed()">
              <option value="-1" disabled selected>Unidades de Medida</option>
              <option *ngFor="let uniMed of listaUniMeds"  value="{{ uniMed.id }}">{{ uniMed.descripcion }}</option>
            </select-->
          </div>
          <div class="row">
            <div class="input-field col s5">
              <input id="unidadMedida" placeholder type="text" formControlName="medidaDescripcion" name="descripcionUniMed">
              <label class="active" for="unidadMedida">Unidad de Medida</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <button type="button" (click)="guardarUniMed()" boton="positivo" class="btn waves-light left">Actualizar</button>
            
              <button type="button" (click)="resetForm()" boton="negativo" class="btn waves-light left">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #menuMarca>
  <div class="row" [formGroup]="form">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 font-weight">Marcas</span>
        </div>
        <div class="card-content lighten-4">
          <div class="row">
           
          </div>
          <div class="row">
            <div class="col s5">
              <label class="black-label-view text-titulo-view">Marcas</label>
              <!--ng-select [(ngModel)]="datosUniMed.id" class="ngselectborder" [clearable]="true" appearance="outline" (click)="getdatosUniMed()" #idProveedor="ngModel" name="idUniMed" id="idUniMed">
                <ng-option *ngFor="let uniMed of listaUniMeds" [value]="uniMed.id">{{ uniMed.descripcion }}</ng-option>
              </ng-select-->
              <ng-select [items]="listaMarcas" bindLabel="descripcion" [clearable]="false" [placeholder]="placeHolderTxt(datosMarca.id)" bindValue="id" formControlName="marca">
              </ng-select>
            </div>
           <div class="col s4 offset-s3">
            <a class="waves-light btn modal-trigger" boton="positivo"  href="#modalMarca" (click)="newMarca()">Agregar Marca</a>
           </div>
            <!--select class="browser-default" name="idUniMed" [(ngModel)]="datosUniMed.id" (click)="getdatosUniMed()">
              <option value="-1" disabled selected>Unidades de Medida</option>
              <option *ngFor="let uniMed of listaUniMeds"  value="{{ uniMed.id }}">{{ uniMed.descripcion }}</option>
            </select-->
          </div>
          <div class="row">
            <div class="input-field col s5">
              <input id="descripcionMarca" placeholder type="text" formControlName="marcaDescripcion" name="descripcionMarca">
              <label class="active" for="descripcionMarca">Marcas</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <button type="button" (click)="guardarMarca()" boton="positivo" class="btn waves-light left">Actualizar</button>
            
              <button type="button" (click)="resetForm()" boton="negativo" class="btn waves-light left">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #menuAgrupacion>
  <div class="row" [formGroup]="form">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 font-weight">Agrupación de Productos</span>
        </div>
        <div class="card-content lighten-4">
          <div class="row">
            <!--div class="col s4 offset-s7">
              <a class="waves-light btn modal-trigger" boton="positivo"  href="#modalFamilia" (click)="newGroup()">Agregar Nueva Agrupación</a>
            </div-->
          </div>
          <div class="row">
            <div class="col s5">
              <label class="black-label-view text-titulo-view">Agrupaciones</label>
              <ng-select [items]="listaFlias" bindLabel="nombre" [clearable]="false" [placeholder]="placeHolderTxt(datosFlia.id)" bindValue="id" formControlName="agrupacion">
              </ng-select>
            </div>
            <div class="col s4 offset-s3">
              <a class="waves-light btn modal-trigger" boton="positivo"  href="#modalFamilia" (click)="newGroup()">Agregar Nueva Agrupación</a>
            </div>
            <!--div class="col s5 offset-s1">
              <label class="black-label-view text-titulo-view">Agrupación Padre</label>
              <ng-select [items]="listaFlias" bindLabel="nombre" [clearable]="false" [placeholder]="placeHolderTxt(datosFlia.idPadre)" bindValue="id" formControlName="agrupacionPadre">
              </ng-select>
            </div-->
           
          </div>
          <div class="row">
            <div class="input-field col s5">
              <input id="descripcionGroup" placeholder type="text" formControlName="agrupacionDescripcion" name="descripcionGroup">
              <label class="active" for="descripcionGroup">Agrupación</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <button type="button" (click)="guardarAgrupacion()" boton="positivo" class="btn waves-light left">Actualizar</button>
            
              <button type="button" (click)="resetForm()" boton="negativo" class="btn waves-light left">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #menuTimbrado>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Timbrados</span>
        </div>
        <div class="card-content lighten-4">
          <div class="row">
            <div *ngIf="this.auth.tienePermiso('addTimb')" class="col s4 offset-s8">
              <a class="waves-light btn modal-trigger" boton="positivo" href="#modalTimbrado" (click)="newTimb()">Agregar Nuevo Timbrado</a>
            </div>
          </div>
          <div class="row">
            <div class="col xl2 l2 m2 s12 offset-m10 offset-l10 offset-xl10">
              <input class="form-control margen-cero" placeholder="Buscar" [(ngModel)]="buscarTexto">
          </div>
            <div class="col s12">
              <!--TABLA-->
              <table class="striped" style="margin-bottom: unset">
                <thead>
                  <tr>
                    <th class="tabla-header-izquierda sortOrderActive" (click)="sortBy('numero')">Timbrado <span>{{sortIcon('numero')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('inicioVigencia')" style="width: 16%">Inicio Vigencia <span>{{sortIcon('inicioVigencia')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('finVigencia')" style="width: 15%">Fin Vigencia <span>{{sortIcon('finVigencia')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('vigente')">Estado <span>{{sortIcon('vigente')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('usuarioCreacion')" style="width: 15%">Usuario Creación <span>{{sortIcon('usuarioCreacion')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('fechaCreacion')" style="width: 15%">Fecha Creación <span>{{sortIcon('fechaCreacion')}}</span></th>
                    <th class="tabla-header-derecha">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let timbrado of listaTimbrados  | busqueda : buscarTexto | paginate: { itemsPerPage: regXpag, currentPage: p, id: 'tablaTimbrado' }">
                    <td>{{ timbrado.numero }}</td>
                    <td>{{ timbrado.inicioVigencia | date:'dd/MM/yyyy' }}</td>
                    <td>{{ timbrado.finVigencia | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ (timbrado.vigente) ? 'Vigente' : 'Vencido' }}</td>
                    <td>{{ timbrado.usuarioCreacion }}</td>
                    <td>{{ timbrado.fechaCreacion | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>
                      <!--dar de baja un Timbrado-->
                      <button *ngIf="(this.auth.tienePermiso('vencTimb')) && (timbrado.vigente)" (click)="cerrarVigTimbrado(timbrado.id)" class="btn btnAction waves-light tooltipped"
                        style="float: inherit" data-tooltip="Cerrar vigencia">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="listaTimbrados.length==0">
                    <td colspan="7">
                      <p class="novalue">No se encontraron registros</p>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="listaTimbrados.length">
                  <tr>
                    <th colspan="7">
                      <pagination-controls id="tablaTimbrado" class="paginationcss" (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </th>
                  </tr>
                </tfoot>
              </table>
              <!--TABLA-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #menuPunto>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 font-weight">Puntos de Expedición</span>
        </div>
        <div class="card-content lighten-4">
          <div class="row">
            <div *ngIf="this.auth.tienePermiso('addPtoExp')" class="col s4 offset-s8">
              <a class="waves-light btn modal-trigger" boton="positivo" href="#modalPtoExp" (click)="newPtoExp()">Nuevo Pto. de Expedición</a>
            </div>
          </div>
          <div class="row">
            <div class="col xl2 l2 m2 s12 offset-m10 offset-l10 offset-xl10">
              <input class="form-control margen-cero" placeholder="Buscar" [(ngModel)]="buscarTexto">
          </div>
            <div class="col s12">
              <!--TABLA-->
              <table class="striped" style="margin-bottom: unset">
                <thead>
                  <tr>
                    <th class="tabla-header-izquierda sortOrderActive" (click)="sortBy('puntoExp')">Pto. Expedición <span>{{sortIcon('puntoExp')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('idEstado')">Estado <span>{{sortIcon('idEstado')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('fechaCreacion')">Fecha Creación <span>{{sortIcon('fechaCreacion')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('usuarioCreacion')">Usuario creación <span>{{sortIcon('usuarioCreacion')}}</span></th>
                    <th class="tabla-header-derecha">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pto of listaPtosExp  | busqueda : buscarTexto | paginate: { itemsPerPage: regXpag, currentPage: p, id: 'tablaPuntos' }">
                    <td>{{ pto.puntoExp }}</td>
                    <td>{{ estado(pto.idEstado) }}</td>
                    <td>{{ pto.fechaCreacion | date:'dd/MM/yyyy' }}</td>
                    <td>{{ pto.usuarioCreacion }}</td>
                    <td>
                      <!--inactivar un pto de expedición-->
                      <button *ngIf="(this.auth.tienePermiso('updEst') && abrevEstado(pto.idEstado) == 'PEACT')" (click)="inactivarPtoExp(pto.id)" class="btn btnAction waves-light tooltipped"
                        style="float: inherit" data-tooltip="Inactivar">
                        <i class="material-icons">close</i>
                      </button>
                    
                      <!--activar un pto de expedición-->
                      <button *ngIf="(this.auth.tienePermiso('updEst') && abrevEstado(pto.idEstado) == 'PEINA')" (click)="activarPtoExp(pto.id)" class="btn btnAction waves-light tooltipped"
                        style="float: inherit" data-tooltip="Activar">
                        <i class="material-icons">check</i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="listaPtosExp.length==0">
                    <td colspan="5">
                      <p class="novalue">No se encontraron registros</p>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="listaPtosExp.length">
                  <tr>
                    <th colspan="5">
                      <pagination-controls id="tablaPuntos" class="paginationcss" (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </th>
                  </tr>
                </tfoot>
              </table>
              <!--TABLA-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #menuComprobante>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 font-weight">Comprobantes</span>
        </div>
        <div class="card-content lighten-4">
          <div class="row">
            <div *ngIf="this.auth.tienePermiso('addPtoExp')" class="col s4 offset-s8">
              <a class="waves-light btn modal-trigger" boton="positivo" href="#modalTimbradoPtoExp" (click)="newTimbPtoExp()">Nuevo Comprobante</a>
            </div>
          </div>
          <div class="row">
            <div class="col m2 s12 offset-m10">
              <input class="form-control margen-cero" placeholder="Buscar" [(ngModel)]="buscarTexto">
          </div>
            <div class="col s12">
              <!--TABLA-->
              <table class="striped" style="margin-bottom: unset">
                <thead>
                  <tr>
                    <th class="tabla-header-izquierda sortOrderActive" (click)="sortBy('idTimbrado')">Timbrado <span>{{sortIcon('idTimbrado')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('idPtoExpedicion')">Pto. de Expedicion <span>{{sortIcon('idPtoExpedicion')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('idEstado')">Estado <span>{{sortIcon('idEstado')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('numeroDesde')">Nro. desde <span>{{sortIcon('numeroDesde')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('numeroHasta')">Nro. hasta <span>{{sortIcon('numeroHasta')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('ultimoNumero')">Ultimo nro. <span>{{sortIcon('ultimoNumero')}}</span></th>
                    <th class="sortOrderActive" (click)="sortBy('tipoComprobante')">Tipo Comprobante <span>{{sortIcon('tipoComprobante')}}</span></th>
                    <th class="tabla-header-derecha">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pto of listaTimbradosPtoExp  | busqueda : buscarTexto | paginate: { itemsPerPage: regXpag, currentPage: p, id: 'tablaComprobantes' }">
                    <td>{{ nroTimbrado(pto.idTimbrado)  }}</td>
                    <td>{{ nroPtoExp(pto.idPtoExpedicion) }}</td>
                    <td>{{ estado(pto.idEstado) }}</td>
                    <td>{{ pto.numeroDesde }}</td>
                    <td>{{ pto.numeroHasta }}</td>
                    <td>{{ pto.ultimoNumero }}</td>
                    <td>{{ (pto.tipoComprobante == 'F')? "Factura":"Nota Crédito" }}</td>
                    <td>
                      <a *ngIf="this.auth.tienePermiso('updTPE')" href="#modalTimbradoPtoExp" (click)="editTPE(pto.id)" class="waves-light btn modal-trigger tooltipped"
                      data-tooltip="Editar">
                      <i class="material-icons">edit</i>
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="listaTimbradosPtoExp.length==0">
                    <td colspan="8">
                      <p class="novalue">No se encontraron registros</p>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="listaTimbradosPtoExp.length">
                  <tr>
                    <th colspan="8">
                      <pagination-controls id="tablaComprobantes" class="paginationcss" (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </th>
                  </tr>
                </tfoot>
              </table>
              <!--TABLA-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #menuDefault></ng-template>

<app-mantenimiento-marca [mantenimiento]="true"></app-mantenimiento-marca>
<app-mantenimiento-unidad-medida [mantenimiento]="true"></app-mantenimiento-unidad-medida>
<app-mantenimiento-familia [mantenimiento]="true"></app-mantenimiento-familia>
<app-gestion-timbrados [mantenimiento]="true"></app-gestion-timbrados>
<app-gestion-puntos-expedicion [mantenimiento]="true"></app-gestion-puntos-expedicion>
<app-gestion-timbrado-punto-exp [mantenimiento]="true"></app-gestion-timbrado-punto-exp>