<div id="listaDescuentos" class="container">
  <br>
  <h5 class="managingTitle">Descuentos</h5>
  <div class="row">
    <a *ngIf="this.auth.tienePermiso('addLstP')" class="waves-light btn" (click)="addNewDscto()">Nuevo Descuento</a>
  </div>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tipo de Descuento</th>
          <th>Descripcion</th>
          <th>Usuario de Creación</th>
          <th>Fecha Creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaDescuentos | paginate: { itemsPerPage: regXpag, currentPage: p, id: 'principal' }">
          <td>{{ item.id }}</td>
          <td>{{ item.tipoDescuento.descripcion}}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.usuarioCreacion }}</td>
          <td>{{ item.fechaCreacion | date:'dd/MM/yyyy' }}</td>
          <td>
            <!-- ver detalles de la lista de precios -->
            <button class="waves-effect waves-light btn btnAction modal-trigger tooltipped" data-target="detDescuento" data-tooltip="Ver detalle"
              (click)="getInfoDetallesDscto(item)">
              <i class="material-icons">search</i>
            </button>
            <!--editar datos de la LP-->
            <button *ngIf="this.auth.tienePermiso('editdscto')" (click)="editDescuento(item.id)" class="btn btnAction waves-light tooltipped"
              data-tooltip="Editar datos del Descuento" style="float: inherit">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginado -->
    <div class="row">
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="changePag($event)" id="principal" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>

  <div id="detDescuento" class="modal bigModal modal-fixed-footer">
    <div class="modal-content" style="padding-bottom: 0px">
      <div class="row">
        <div class="s12 center-align">
          <h6>Detalles del Descuento</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s10 offset-s1">

          <div class="">

            <!-- grilla lista de descuentos -->
            <table class="striped" style="margin-bottom: unset;">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Producto</th>
                  <th *ngIf="tipDscto == 'PORC'">Porcentaje</th>
                  <th *ngIf="tipDscto == 'MFIJO'">Monto</th>
                  <th *ngIf="tipDscto == 'PXY'">Cant. a llevar</th>
                  <th *ngIf="tipDscto == 'PXY'">Cant. a cobrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaDsctoDetalle | paginate: { itemsPerPage: regXpag2, currentPage: p2, id: 'modalDet' }">
                  <th>{{ codProducto(item.idProducto) }}</th>
                  <th>{{ nombreProducto(item.idProducto) }}</th>
                  <th *ngIf="tipDscto == 'PORC'">
                    <input [attr.readonly]="updDscto" type="number" [(ngModel)]="item.porcentaje">
                  </th>
                  <th *ngIf="tipDscto == 'MFIJO'">
                    <input [attr.readonly]="updDscto" type="number" [(ngModel)]="item.monto">
                  </th>
                  <th *ngIf="tipDscto == 'PXY'">
                    <input [attr.readonly]="updDscto" type="number" [(ngModel)]="item.cantALlevar">
                  </th>
                  <th *ngIf="tipDscto == 'PXY'">
                    <input [attr.readonly]="updDscto" type="number" [(ngModel)]="item.cantACobrar">
                  </th>
                </tr>
              </tbody>
            </table>

            <!-- paginacion -->
            <div class="row">
              <div class="col s8 offset-s1 center-align">
                <pagination-controls (pageChange)="p2=$event" id="modalDet" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
              </div>
              <div class="col s2">
                <p class="right-align">cant. reg.</p>
              </div>
              <div class="col s1">
                <!-- <label>Reg. por pag.</label> -->
                <select class="browser-default" name="regXpag2" [(ngModel)]="regXpag2">
                  <option value="6">6</option>
                  <option value="12">12</option>
                  <option value="15">15</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!-- row boton cerrar -->
      <div class="col s12 right">
        <button type="button" id="btnCancelModal" (click)="modalDsctoClose()" class="btn waves-light right modal-close">Cerrar</button>
      </div>
    </div>
  </div>

</div>


<div id="modalDescuento" class="container hide">

  <div class="row" style="padding: 10px;">
    <a class="waves-effect waves-light btn left" (click)="goBack()">
      <i class="material-icons left" style="margin-right: 5px;">arrow_back</i>
      Volver
    </a>
    <h6 style="text-align: center;">Nuevo Descuento</h6>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="col s10 offset-s1">
        <div class="row" style="margin-top: 15px;     margin-bottom: 0px;">
          <div class="col s2" style="margin-top: 10.5px; color: rgb(163, 163, 166);">Tipo Descuento:</div>
          <div class="col s4 left">
            <select [(ngModel)]="datosCD.idTipoDescuento" (change)="inicializarV()" class="browser-default" required #idTipoDescuento="ngModel"
              name="idTipoDescuento">
              <option value="-1" disabled selected>Tipos</option>
              <option *ngFor="let tipos of listaTiposDscto" value="{{ tipos.id }}">{{ tipos.descripcion }}</option>
            </select>
          </div>

          <div *ngIf="(!updDscto) && (datosCD.idTipoDescuento == tipoDescuento('PORC'))" class="col s6">
            Porcentaje:
            <div class="input-field inline" style="margin: unset;">
              <input [(ngModel)]="porcentaje" name="porcDscto" id="porcDscto" type="text" class="validate">
            </div>
            %
          </div>
          <div *ngIf="(!updDscto) && (datosCD.idTipoDescuento == tipoDescuento('MFIJO'))" class="col s6">
            Monto:
            <div class="input-field inline" style="margin: unset;">
              <input [(ngModel)]="monto" name="montoDscto" id="montoDscto" type="text" class="validate">
            </div>
            Gs.
          </div>
          <div *ngIf="(!updDscto) && (datosCD.idTipoDescuento == tipoDescuento('PXY'))" class="col s6">
            Cantidad a llevar:
            <div class="input-field inline" style="margin: unset; width: 100px;">
              <input [(ngModel)]="cantLlevar" name="cantLlevar" id="cantLlevar" type="text" class="validate">
            </div>
            Cantidad a pagar:
            <div class="input-field inline" style="margin: unset; width: 100px;">
              <input [(ngModel)]="cantPagar" name="cantPagar" id="cantPagar" type="text" class="validate">
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="col s12">
            Descripcion:
            <div class="input-field inline" style="width: 80%; vertical-align: unset;">
              <input [(ngModel)]="datosCD.descripcion" name="descripcion" id="descripcion" type="text">
            </div>
          </div>
        </div>

        <div *ngIf="(!updDscto)" class="row" style="margin-bottom: 0px;">
          <div class="col s2" style="margin-top: 10.5px; color: rgb(163, 163, 166);">Grupos de productos:</div>
          <div class="col s4 left">
            <select multiple name="grupos" [(ngModel)]="datosParaCons.grupos">
              <option value="-1" disabled selected>Grupos</option>
              <option *ngFor="let grupo of listaGrupos" [ngValue]="grupo">{{ grupo.nombre }}</option>
            </select>
          </div>

          <div class="col s6 right" style="line-height: 44px; margin: 15px 0;">
            <div class="switch right-align">
              Incluir subgrupos de los grupos seleccionados?
              <label>
                No
                <input [(ngModel)]="datosParaCons.incSubgroups" name="incluirSubGrupos" type="checkbox" (change)="bandera()">
                <span class="lever"></span>
                Sí
              </label>
              <input type="checkbox">
            </div>
          </div>
        </div>

        <div *ngIf="(!updDscto)" class="row" style="margin-bottom: 0px;">
          <div class="col s6 right">
            <br>
            <button type="submit" class="btn waves-light" (click)="crearDscto()">Crear</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="tableDetDscto" class="row hide">
    <div col s12>
      <div class="card">
        <table class="striped">
          <thead>
            <tr>
              <th style="width: 5%"></th>
              <th (click)="mostrarInfo(datosCD)">Codigo</th>
              <th>Producto</th>
              <th *ngIf="datosCD?.idTipoDescuento == tipoDescuento('PORC')">Porcentaje</th>
              <th *ngIf="datosCD?.idTipoDescuento == tipoDescuento('MFIJO')">Monto</th>
              <th *ngIf="datosCD?.idTipoDescuento == tipoDescuento('PXY')">Cant. a llevar</th>
              <th *ngIf="datosCD?.idTipoDescuento == tipoDescuento('PXY')">Cant. a cobrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datosCD.detalles; let i = index">
              <td style="width:350px">
                <button class="btn-floating btnAction waves-light waves-effect" (click)="lessProducto(i)" style="float: inherit">
                  <i class="material-icons">remove</i>
                </button>
              </td>
              <td *ngIf="!item.idProducto">
                <input (blur)="getProductoByCod(idProducto.value, i)" #idProducto name="idProducto" id="codProducto_txt" type="text">
              </td>
              <td *ngIf="item.idProducto">{{ item.producto?.cod }}</td>

              <td>{{ item.producto?.nombre }}</td>

              <td *ngIf="datosCD?.idTipoDescuento == tipoDescuento('PORC')">
                <input type="number" [(ngModel)]="item.porcentaje">
              </td>
              <td *ngIf="datosCD?.idTipoDescuento == tipoDescuento('MFIJO')">
                <input type="number" [(ngModel)]="item.monto">
              </td>
              <td *ngIf="datosCD?.idTipoDescuento == tipoDescuento('PXY')">
                <input type="number" [(ngModel)]="item.cantALlevar">
              </td>
              <td *ngIf="datosCD?.idTipoDescuento == tipoDescuento('PXY')">
                <input type="number" [(ngModel)]="item.cantACobrar">
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row" style="padding-right: 35px">
          <div>
            <button *ngIf="!search" class="btn-floating waves-light waves-effect right tooltipped" data-tooltip="agregar producto" (click)="addProducto()" >
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
        
        <div class="row">
          <div class="col s6">
            <br>
            <button type="submit" (click)="guardar()" class="btn waves-light left">Guardar</button>
          </div>
          <div *ngIf="(!updDscto)" class="col s6">
            <br>
            <button type="button" (click)="limpiar()" id="btnCancelModal" class="btn waves-light right modal-close">Limpiar</button>
          </div>
          <div *ngIf="(updDscto)" class="col s6">
            <br>
            <button type="button" (click)="goBack()" id="btnCancelModal" class="btn waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>