<div class="container">
  <br>
  <h5 class="managingTitle">Gestión de Sucursales</h5>
  <!-- *ngIf="this.auth.tienePermiso('addsuc')" -->
  <a  class="waves-light btn modal-trigger" (click)="resetForm()" href="#modalSucursal">Agregar Sucursal</a>
  <br>
  <br>
  <br>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th>Sucursal</th>
          <th style="width:15%">Nombre</th>
          <th style="width:30%">Dirección</th>
          <th style="width:15%">Teléfono</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sucursales of listaSucursales | paginate: { itemsPerPage: regXpag, currentPage: p }">
          <td>{{ sucursales.codigoSucursal }}</td>
          <td>{{ sucursales.descripcion }}</td>
          <td>{{ sucursales.direccion }}</td>
          <td>{{ sucursales.telefono }}</td>
          <td>{{ sucursales.estado }}</td>
          <td style="width:450px">
            <!--editar datos de la Sucursal-->
            <button *ngIf="this.auth.tienePermiso('editsuc')" (click)="getInfoSuc(sucursales.id)" class="btn btnAction waves-light modal-trigger tooltipped"
              data-target="modalSucursal" style="float: inherit" data-tooltip="Editar datos de la Sucursal">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col s8 offset-s2 center-align">
        <pagination-controls (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
      <div class="col s1">
        <p class="right-align">cant. reg.</p>
      </div>
      <div class="col s1">
        <!-- <label>Reg. por pag.</label> -->
        <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
    </div>
    </div>
  </div>

  <div id="modalSucursal" class="modal">
    <div class="modal-content">
      <div class="row popup">
        
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardar(forma)">
          <div class="row popup popup_int">
            <div class="col s10 offset-s1">
              
              <div *ngIf="this.updSuc" class="input-field col s12">
                <input [(ngModel)]="datosSucursal.codigoSucursal" required name="codigoSucursal" #codigoSucursal="ngModel" id="codigoSucursal" type="text" class="validate active">
                <label for="codigoSucursal">Código Sucursal</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosSucursal.descripcion" required name="descripcion" #descripcion="ngModel" id="descripcion" type="text" class="validate active"
                  autofocus>
                <label for="descripcion">Nombre nueva Sucursal</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosSucursal.direccion" required name="direccion" #direccion="ngModel" id="direccion" type="text" class="validate active">
                <label for="direccion">Dirección</label>
              </div>

              <div class="input-field col s12">
                <input [(ngModel)]="datosSucursal.telefono" required name="telefono" #telefono="ngModel" id="telefono" type="text" class="validate">
                <label for="telefono">Nro. de Teléfono</label>
              </div>
              
              <div *ngIf="this.updSuc" class="col s12">
                <label>Estado</label>
                <select [(ngModel)]="datosSucursal.idEstado" class="browser-default" required #idEstado="ngModel" name="idEstado">
                  <option value="-1" disabled selected>Estado</option>
                  <option *ngFor="let estados of listaEstados" value="{{ estados.id }}">{{ estados.descripcion }}</option>
                </select>
              </div>

              <div class="col s6">
                <br><button type="submit" class="btn waves-light left">Guardar</button>
              </div>
              <div class="col s6">
                <br><button type="button" (click)="resetForm()" id="btnCancelModal" class="btn waves-light right modal-close">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>