/* You can add global styles to this file, and also import other style files */

/* ICONOS MATERIAL */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(assets/iconfont/MaterialIcons-Regular.woff) format('woff'), url(assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* ICONOS MATERIAL */

:root {
    --color-principal: #000000;
    --color-principal-titulo: #007bffc7;
    --principal-transparent: #0014ff38;
    --color-hover: #f2ba1a;
    --color-hover-light: #f2b81a5e;
    --hover-transparent: #f2b81a2f;
    --color-texto: #1e1e1e;
    --color-textoLighter: #6f6f6f;
    --color-back-lightgray: #6f6f6f20;
    --color-base: #fff;
    --color-red: rgb(141, 12, 12);
    --color-fondo: #e9ecef;
    --font-size-principal: small;
    --font-size-secundario: x-small;
    --text-color: #1C1C1C;
}

/*
INICIO CONFIGURACION WDTV
*/
body {
    background-color: var(--color-fondo);
}
.logincss {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}
/*.card{
    padding-top: 5%;
}
.card .card-title {
    font-weight: 550;
}
.card .card-title-inicio {
    white-space: pre;
}*/
/*.input-field .prefix {
    position: absolute;
    top: 1px;
    right: 8px;
    cursor: pointer;
    background-color: white;
    margin-right: 5px;
    height: 79%;
    display: flex;
    width: 12%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color:#777;
}
.input-field {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border: 1px solid #26a69a;
    border-radius: 5px;
    outline: none;
    height: 2.5rem;
    width: 100%;
    font-size: 13px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s;
    text-indent: 5px;
}
.input-field {
    margin-bottom: 0px;
}
*/
.espacio-inicial {
    padding: 0px 20px 0px;
}
.btn {
    text-transform: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    float: right;   
}
.imgcontainer {
    position: relative;
    height: 90%;
    background-image: url("/assets/img/android-chrome-192x192.png");
    opacity: 0.15;
    background-repeat: no-repeat;
    overflow: auto;
    background-size: contain;
    background-position: center;
}
.logoPacheco {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 136px;
}
.logoimg{
    width: 70px;
    margin-left: 80px;
}
main {
    padding-left: 300px;
    /*background: #ffffffc2;*/
}
.colorblack {
    width:120px;
    display: flex;
    float: right;
}
.colorblack a{
    color:black;
}
/*pag*/

nav {
    color: #fff;
    background-color: #00000070;
    width: 100%;
    height: 56px !important;
    line-height: 56px !important;
}
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 68px;
    line-height: 58px;
}
.sidenav, .sidenav .collapsible-body {
    background-color: #343a40;   
}
.sidenav li > a {
    color: #fff;
    background-color: #343a40;
}
.sidenav .collapsible-header:hover, .sidenav li.active,
.sidenav.fixed .collapsible-header:hover {
    background-color: rgba(255,255,255,.1) !important;
    color: #fff !important;
}
.sidenav .collapsible-body li:hover,
.sidenav.fixed .collapsible-body li:hover {
    background-color: rgba(255,255,255,.1) !important;
    color: #fff !important;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.iconswhite {
    color: #fff !important;
    margin-right: 10px !important;
}
.font-size-small {
    font-size: medium !important;
}
[white] {
    color: white;
}
[font-12] {
    font-size: 12px;
}
[pointer] {
    cursor: pointer;
}
[identacion] {
    text-indent: 5px;
}
.tabactivo {
    filter: drop-shadow(0px 0px 10px white);
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    background: #ffffff14;
    border-bottom: none;
}
.sidenav li .tabactivo > a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
}
.novalue {
    color: gray;
    font-size: 14px;
    text-align: center;
}
.paginationcss {
    font-weight: 400;
}
.paginationcss nav {
    color: #fff;
    background-color: #c9e4f6;
    width: 100%;
    height: 35px !important;
    line-height: 35px !important;
}
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #2199e8 !important;
    color: #fff !important;
    cursor: default;
    height: 35px !important;
    line-height: 35px !important;
}
.tabla-header-derecha {
    border-top-right-radius: 5px;
}
.tabla-header-izquierda {
    border-top-left-radius: 5px;
}
.ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #6f6f6f !important;
    cursor: default;
}
.sortOrderActive {
    cursor: pointer;
}
@media only screen and (min-width: 0) {
    html {
      font-size: 13px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    html {
      font-size: 13px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 13px;
    }
}
td, th {
    padding: 10px 5px ;
}





html, body {
    height: 100% !important;
}
header {
    height: 70px;
    margin-bottom: 2px;
}
main {
    height: calc(100% - 72px);
}

.color-green {
    color: var(--color-principal);
}
.color-red {
    color: var(--color-red)
}

.dropdown-content{
    overflow: visible !important;
    width: max-content !important;
    height:auto !important;
}

.dropdown-content .dropdown-content {
    margin-left: 100% !important;
    left: 0px !important;
}

/* estilos de los tabs */

.tabs .indicator {
    background-color: var(--color-hover) !important;
}

/*.tab {
    overflow-x: hidden !important;
}*/

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: var(--color-hover-light);
    color: var(--color-principal) !important;
}

.tab a {
    color: var(--color-principal) !important;
}


.managingTitle {
    text-align: center;
    color: var(--color-principal);
}

/*input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: var(--color-principal) !important;
}*/


.mdl-button--raised.mdl-button--colored {
    background: var(--color-hover) !important;
}


.btnDel:hover {
    background-color: var(--color-red) !important;
}

.btnAction {
    float: left !important;
}

.btnTransparent {
    background-color: var(--color-base) !important;
    color: var(--color-principal) !important;
    box-shadow: none !important;
    padding: unset !important;
    margin: unset !important;
}

.btn-floating {
    display: inline-block;
    color: var(--color-base);
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    background-color: var(--color-principal);
    border-radius: 50%;
}
.btn-floating.small {
    width: 20px;
    height: 20px;
    margin-top: 30px;
}
.btn-floating:hover {
    background-color: #2e552c;
}
.btn-floating i {
    width: inherit;
    text-align: center;
    color: var(--color-base);
    font-size: 1.4rem;
    line-height: 30px;
    vertical-align: middle;
}
.btn-floating.small i {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.popup {
    margin: 10px auto !important;
}

.popup_int {
    padding-top: 20px !important;
}

table, th, td {

    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-bottom: 40px ;
}

table thead tr th {
    font-weight: normal !important;
    background-color: var(--color-principal-titulo) !important;
    color: var(--color-base);
}

table tbody tr:hover {
    background-color: var(--hover-transparent) !important;
}

.toastOkColor {
    background-color: var(--principal-transparent);
    color: var(--color-texto);
    font-style: italic;
}

.toastErrorColor{
    background-color: lightcoral;
    color: var(--color-texto);
    font-style: italic;
}
@media only screen and (min-width: 993px) {
    .container {
      width: 90% !important;
      max-width: unset !important;
    }
}

.bigModal {
    height: 90% !important;
    max-height: 90% !important;
    width: 90% !important;
    top: 5% !important;
}
.largeModal {
    height: 90% !important;
    max-height: 90% !important;
    width: 75% !important;
    top: 5% !important;
}
.mediumModal {
    height: 80% !important;
    max-height: 80% !important;
    width: 75% !important;
    top: 10% !important;
}
.smallModal {
    height: 40% !important;
    max-height: 40% !important;
    width: 40% !important;
    top: 30% !important;
}
.modal5060 {
    height: 50% !important;
    max-height: 50% !important;
    width: 60% !important;
    top: 25% !important;
}
  
footer {
    background-color: var(--color-principal) !important;
    margin-top: 50px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
}





/*personalizando el datatable*/
#ordenCompra_filter{
    width: 30%;
    float: left;
    text-align: left;
}
#ordenCompra_filter input {
    height: 1.5rem;
}


/*personalizando el datepiker*/

.picker__date-display, .picker__weekday-display{
    background-color: var(--color-principal); 
} 

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { 
background-color: var(--color-principal); 
} 
div.picker__day.picker__day--infocus.picker__day--today{
color: var(--color-principal); 
} 

button.picker__today, button.picker__close { 
color: var(--color-principal); 
} 



[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-principal)!important;;
    background-color: var(--color-principal)!important;;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-principal)!important;;
    background-color: var(--color-principal)!important;;
    z-index: 0;
  }

/* Switch
   ========================================================================== */

.switch label input[type=checkbox]:checked + .lever {
  background-color: var(--principal-transparent);
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: var(--color-principal);
}




.filtro-overlay {
    background: none;
    position: fixed;
    z-index: 9998;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    will-change: opacity;
    background-color: black;
    opacity: 0.4;
}

.chip {
    background-color: transparent;
    border: 1px solid var(--color-principal);
    box-sizing: border-box;
    color: #1E1E1E;
    margin: 0 20px;
}


/*---------------estilos del filtro------------------*/

.contenedorFiltro {
    position: absolute;
    padding: 10px;
    z-index: 9999;
    background-color: white;
    margin-top: 40px;
    display: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 25px;
}

.contenedorFiltro .row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.contenedorFiltro .row .col {
    padding: 0 20px;
}

.contenedorFiltro label {
    color: #6f6f6f;
}

/*.contenedorFiltro .input-field.col label {
    left: 20px;
    color: #6f6f6f;
}

.contenedorFiltro input {
    margin-bottom: 5px !important;
    border-bottom: 1px solid #989898 !important;
    font-size: 14px !important;
    height: unset !important;
    margin-top: 18px!important;
}

.contenedorFiltro .input-field {
    margin-top: 5px;
}
*/
.contenedorFiltro ::-webkit-input-placeholder,
.contenedorFiltro -moz-placeholder,
.contenedorFiltro -ms-input-placeholder {
    color: var(--sqf2-placeholders-color) !important;
    font-style: italic !important;
}

.contenedorFiltro .input-field input[type=text]:focus+label {
    color: var(--sqf2-secondary-color);
}

.contenedorFiltro .btn {
    width: 85px;
}

.btnLimpiarFiltro {
    background-color: transparent !important;
    color: var(--color-principal);
    border: solid 1px var(--color-principal);
    box-sizing: border-box;
    border-radius: 5px;
}

.btnListoFiltro {
    border-radius: 5px;
    background-color: var(--color-principal);
    color: white;
}

.black-label-view {
    color: black;
}

label.active.text-titulo-view {
    font-size: var(--font-size-principal) !important;
}

.ng-select .ng-select-container {
    min-height: auto;
}

.ng-select .ng-select-container {
    cursor: default;
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid black;
    min-height: 40px !important;
    text-indent: 5px;
    font-size: 12px;
    
}

.ng-select .ng-select-container .ng-value-container {
    padding: 0;
    border-top: 0;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 2rem;
    font-size: 12px;
    text-indent: 5px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    text-indent: 5px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container {
    padding-left: 5px;
}

.ng-select .ng-select-container {
    cursor: pointer !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    font-size: 12px;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
    cursor: pointer !important;
}

[boton="negativo"], .swal2-deny, .swal2-cancel {
    margin-left: 5px;
    background: gray;
    border-radius: 5px;
    border: 1px solid white;
}

[boton="negativo"]:focus, [boton="negativo"]:hover,
.swal2-deny:focus, .swal2-deny:hover,
.swal2-cancel:focus, .swal2-cancel:hover {
    background-color: rgb(159, 159, 159) ;
}

[boton="positivo"],
.swal2-confirm {
    background-color: #007bff;
    border-radius: 5px;
    border: 1px solid #70b5ff;
}

[boton="positivo"]:focus, [boton="positivo"]:hover,
.swal2-confirm:focus, .swal2-confirm:hover {
    background-color: #3495fd;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #007bff;
    box-shadow: 0 1px 0 0 #70b5ff;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: black;
}

.modal-alerta-generico-info {
    color: #006c00 !important;
}

.color-dna {
    color: var(--color-red) !important;
}

.btn, .btn-large, .btn-small {
    background-color: #007bff;
    border-radius: 5px;
    border: 1px solid #70b5ff;
}
.btn:hover, .btn-large:hover, .btn-small:hover  {
    background-color: #3495fd;
}
.cssipunt {
    border: 1px solid #808080ba !important;
    border-radius: 5px !important;
    box-shadow: 0px 5px 10px #808080e6 !important;
}
.font-weight {
    font-weight: 500 !important;
}
.logincssp {
    display: inline-flex;
}
.input-field .prefix {
    top: 0 !important;
    border: 1px solid #70b5ff;
    background: #007bff;
    color: white;
}