<div class="container">
    <br>
    <br>
    <h5 class="managingTitle">Cuotas Proximas a Vencer</h5>
    <br>
    <div class="row">
      <div class="col s12 left" style="padding-left: 0">
    
        <a class="waves-effect waves-light btn btn-small left" (click)="mostrarFrmFiltro()" style="margin: 0"> 
          <i class="icon-filter_list right"></i>Filtrar</a>
    
        <div class="contenedorFiltro" id="filtroCuotasaVencer">
    
          <div class="row">
            <div class="col s12 center-align">
              <button type="button" (click)="limpiarFiltro()" class="btn waves-light btn-primaryInvertido left btnLimpiarFiltro">Limpiar</button>
    
              <button type="button" class="btn waves-light btn-primary right btnListoFiltro" (click)="loadRegistros()">Listo</button>
            </div>
          </div>
    
          <div class="row" style="padding-top: 10px">
            <div  class="col s6">
              desde:
              <div class="input-field">
                <input [(ngModel)]="filtro.fechaDesde" id="fechaDesde" name="fechaDesde" type="date" style="text-align: center;">
              </div>
            </div>
    
            <div class="col s6">
              hasta:
              <div class="input-field">
                  <input [(ngModel)]="filtro.fechaHasta" id="fechaHasta" name="fechaHasta" type="date" style="text-align: center;">
              </div>
            </div>
    
          </div>
          <div>
              <div class="col s12">
                  <select [disabled]="search" [(ngModel)]="filtro.idProveedor" required #idProveedor="ngModel"
                  name="idProveedor" id="idProveedor">
                  <option value="-1" disabled selected>Proveedor</option>
                  <option *ngFor="let prov of listaProv" value="{{prov.id}}">{{prov.razonSocial }}</option>
                </select>
              </div>
          </div>
    
        </div>
        <app-show-chips-filter [lstFiltros]="listaFiltros" (removeFilter)="removerFiltro($event)"></app-show-chips-filter>
      </div>
    </div>
  
    <div class="row">
  
      <div class="col s12" style="padding: unset;">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3">
            <a class="active" href="#listaCuotas">Cuotas</a>
          </li>
          <li class="tab col s3">
              <a  href="#Grafico">Gráfico</a>
          </li>
        </ul>
      </div>
  
      <div class="card" id="listaCuotas" style="position: unset;">
        <br><br><br>
        <h5 class="center-align">Total Cuotas Pendientes: {{cuotasPendientes.total | iFormatNumber }} </h5>
        <br>
        <table class="striped">
          <thead>
            <tr>
              <th>Proveedor</th>
              <th class="center-align">N° Factura</th>
              <th class="center-align">Cuota</th>
              <th class="center-align">Monto</th>
              <th class="center-align">Fecha Vencimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaCV | paginate: { itemsPerPage: regXpag, currentPage: p }">
              <td>{{ item.proveedor }}</td>
              <td class="center-align">{{ item.nroFactura  }}</td>
              <td class="center-align">{{ item.nro }}</td>
              <td class="center-align">{{ item.montoaPagar | iFormatNumber }}</td>
              <td class="center-align">{{ item.fechaVencimiento | date:'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
        <!-- paginado -->
        <div class="row offset-s2">
            <div class="col s2">
              <a class="waves-effect waves-light btn" (click)="getReporte()"><i class="material-icons right">file_download</i>Descargar Excel</a>
            </div>
         
          <div class="col s8  center-align">
            <pagination-controls (pageChange)="changePag($event)" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
          <div class="col s1">
            <p >cant. reg.</p>
          </div>
          <div class="col s1">
            <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
        </div>
      </div>
  
      <div id="Grafico"   class="contenedorGraphic">
        <br> <br>
          <div class="row">
            <canvas id="grafCtas" #grafCtas height="80%"></canvas>
          </div>
      </div>
  
    </div>
  </div>
