<div *ngIf="this.auth.tienePermiso('caja')"  class="container">
  <br>
  <h5 class="managingTitle">Gestionar Cajas</h5> 
  <br>
  <br>
  <div class="card">
    <table class="striped">
      <thead>
        <tr>
          <th style="width: 10%;">Pto. Expedicion</th>
          <th style="width: 10%;">Cajero</th>
          <th style="width: 10%;">Inicio</th>
          <th style="width: 15%;">Egresos</th>
          <th style="width: 15%;">Ingresos</th>
          <th style="width: 15%;">Saldo Caja</th>
          <th style="width: 20%;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaCajas | paginate: { itemsPerPage: regXpag, currentPage: p}">
          <td>{{ item.puntoExp }}</td>
          <td>{{ item.usuario}}</td>
          <td>{{ item.inicio| date:'HH:mm:ss' }}</td>
          <td>{{ item.egresos| iFormatNumber}}</td>
          <td >{{ item.ingresos | iFormatNumber}}</td>
          <td>{{ item.saldo | iFormatNumber}}</td>
  
         <td>

           <button *ngIf="(this.auth.tienePermiso('asoCajaUser') && this.item.usuario==null )" (click)="getInfoCajas(item.idPuntoExpedicion)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
                data-target="modalCajaUser" data-tooltip="Asignar Cajero" style="float: inherit">
                <i class="material-icons">person_add</i>
            </button>

          <button *ngIf="this.auth.tienePermiso('apercaja') && this.item.usuario!=null  && this.item.inicio==null " (click)="genApertura(item.id)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
                 data-target="modalApertura" data-tooltip="Generar Apertura Caja" style="float: inherit">
                <i class="material-icons">lock_open</i>
           </button>
           
           <button *ngIf="this.auth.tienePermiso('movcaja') && this.item.usuario!=null  && this.item.inicio!=null " (click)="nuevoMovimiento(item.id)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
                data-target="modalIngresosEgresos" data-tooltip="Movimiento de Caja" style="float: inherit">
                <i class="material-icons">import_export</i>
          </button>
         
          <button *ngIf="(this.auth.tienePermiso('cierrecaja') && this.item.inicio!=null )" (click)="gencierre(item.idPuntoExpedicion)"  class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
                data-target="modalCierre" data-tooltip="Cerrar Caja" style="float: inherit">
                <i class="material-icons">lock_outline</i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 

  <div id="modalCajaUser" class="modal modal5060">
    <div class="modal-header">
      <div *ngIf="(!this.updBanco && !this.search)" class="row" style="text-align:center">
        <h5><b>Asociar cajero al Pto. Expedicion {{datosCajaUser.puntoExp }} </b></h5>
      </div>
    </div>
    <div class="modal-content">
      <div class="form-group">
        <form #forma="ngForm" (ngSubmit)="guardar(forma)">
          <div class="row">
            <div class="col s10 offset-s1">
              <label>Cajeros </label>
              <select [(ngModel)]="datosCajaUser.idUsuario" class="browser-default" required #idUsuario="ngModel" name="Cajero">
                <option value="-1" disabled selected></option>
                <option *ngFor="let cajeros of listaCajeros"  value="{{cajeros.id}}">{{ cajeros.usuario }}</option>
              </select>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="row">
            <div class="col s6">
              <br>
              <button type="submit" class="btn waves-effect waves-light left">Guardar</button>
            </div>
            <div class="col s6">
              <br>
              <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-effect waves-light right modal-close">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="modalApertura" class="modal modal5060">
    <div class="modal-header">
      <div class="row" style="text-align:center">
        <h5><b>Generar Apertura </b></h5>
      </div>
    </div>
    <div class="modal-content">
      <div class="form-group">
        <form class="col s12" #forma="ngForm" (ngSubmit)="guardarApertura(forma)">
          <div class="row">
            <div class="col s4" >
              <label>Pto. Expedicion </label>
              <input [(ngModel)]="this.datosCajaUser.puntoExp" required name="puntoExp" type="text" class="form-control" disabled>
              <!--select [(ngModel)]="apertura.idPuntoExpedicion" class="form-control" required #idPuntoExpedicion="ngModel" name="idPuntoExpedicion" disabled>
                <option value="-1" disabled selected>Pto. Expedicion</option>
                <option *ngFor="let cajas of listaCajas"  value="{{cajas.idPuntoExpedicion}}">{{ cajas.puntoExp }}</option>
              </select-->
            </div>
            <div class="col s4" >
              <label>Cajero </label>
              <input [(ngModel)]="this.datosCajaUser.usuario" required name="usuario" type="text" class="form-control" disabled>
              <!--select [(ngModel)]="apertura.idUsuarioCaja" class="form-control" required #idUsuarioCaja="ngModel" name="idUsuarioCaja" disabled>
                <option value="-1" disabled selected></option>
                <option *ngFor="let cajeros of listaCajeros"  value="{{cajeros.id}}">{{ cajeros.usuario }}</option>
              </select-->
            </div>
            <div class="col s4">
              <label for="saldoInicial">Monto Inicial</label>
              <input [(ngModel)]="apertura.saldoInicial" required name="saldoInicial" #saldoInicial="ngModel" id="saldoInicial" type="number" class="form-control">
            </div>              
          </div>
          <div class="row">
            <div class="col s6">
              <br>
              <button type="submit" class="btn waves-effect waves-light left">Guardar</button>
            </div>
            
            <div class="col s6">
              <br>
              <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-effect waves-light right modal-close">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div *ngIf="this.auth.tienePermiso('accaja')" class="container">
  <br>
  <br>
  <h5 class="managingTitle"> Caja </h5> 
  <br>
  <br>

  <div class="card">
      <table class="striped">
        <thead>
          <tr>
            <th style="width: 25%;">Pto. Expedicion</th>
            <th style="width: 25%;">Cajero</th>
            <th style="width: 25%;">Inicio</th>
            <th style="width: 25%;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userCajas">
            <td>{{ item.puntoExp }}</td>
            <td>{{ item.usuario}}</td>
            <td>{{ item.inicio| date:'HH:mm:ss' }}</td>
            <td>
            <button *ngIf="this.auth.tienePermiso('movcaja') && this.item.usuario!=null  && this.item.inicio!=null " (click)="nuevoMovimiento(item.id)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
                  data-target="modalIngresosEgresos" data-tooltip="Movimiento de Caja" style="float: inherit">
                  <i class="material-icons">import_export</i>
              </button>
    
              <button *ngIf="(this.auth.tienePermiso('cierrecaja') && this.item.inicio!=null)" (click)="gencierre(item.idPuntoExpedicion)" class="btn btnAction waves-light waves-effect modal-trigger tooltipped"
                    data-target="modalCierre" data-tooltip="Cerrar Caja" style="float: inherit">
                    <i class="material-icons">lock_outline</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
</div>

<div id="modalIngresosEgresos" class="modal medium">
  <div class="modal-header">
    <div class="row" style="text-align:center">
      <h5><b>Movimiento Pto. Expedicion {{datosCajaUser.puntoExp }}</b></h5>
    </div>
  </div>
  <div class="modal-content">
    <div class="form-group">
      <form class="col s12" #forma="ngForm" (ngSubmit)="guardarMovimiento(forma)">
        <div class="row">
          <div class="col s10 offset-s1">
            <div class="col s10 left" style="padding: 0px;">
              <label class="active" >Tipo Movimiento</label>
              <select [(ngModel)]="datosMovimiento.idTipoMovimiento" class="browser-default" required #idMovimiento="ngModel" name="idMovimiento">
                <option value="-1" disabled selected>Tipo Movimiento</option>
                <option *ngFor="let tipoMov of listaTipoMovimientos"  value="{{tipoMov.id}}">{{ tipoMov.descripcion }}</option>
              </select>
            </div>

            <div class="col s10 left" style="padding: 0px;">
                <label class="active" >Movimiento</label>
                <select [(ngModel)]="datosMovimiento.idMovimiento" class="browser-default" required #idMovimiento="ngModel" name="idMovimiento">
                  <option value="-1" disabled selected>Movimiento</option>
                  <option *ngFor="let mov of listaMovimientos"  value="{{mov.id}}">{{ mov.descripcion }}</option>
                </select>
            </div>
            <div class="col s10">
              <label for="descripcion">Observacion</label>
              <input [(ngModel)]="datosMovimiento.descripcion" required name="descripcion" #descripcion="ngModel" id="nombre_txt" type="text" class="validate">
            </div>
            <div class="col s10">
              <label for="monto">Monto</label>
              <input [(ngModel)]="datosMovimiento.monto" required name="monto" #monto="ngModel" id="monto" type="number" class="form-control"> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <br>
            <button type="submit" class="btn waves-effect waves-light left">Guardar</button>
          </div>
          
          <div class="col s6">
            <br>
            <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-effect waves-light right modal-close">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modalCierre" class="modal">
  <div class="modal-header">
    <div class="row" style="text-align:center">
      <h5><b>Cierre Pto. Expedicion {{datosCajaUser.puntoExp }}</b></h5>
    </div>
  </div>
  <div class="modal-content">
    <div class="form-group">
      <form class="col s12" #forma="ngForm" (ngSubmit)="generarCierre(forma)">
        <div class="row">
          <div class="col s10 offset-s1">
            <div class="col s4" >
              <label  for="descripcion">Cajero: </label>
              <output name="Ingresos" class="form-control" >  {{apertura.usuario}}</output>
           </div>
           <div class="col s4 right">
              <label  for="descripcion">Inicio: </label>
              <output name="Ingresos" class="form-control" >  {{apertura.fechaApertura| date:'HH:mm:ss'}}</output>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label class="active"  for="montoEfectivo">Monto Efectivo</label>
            <input [(ngModel)]="datosEntregaCaja.montoEfectivo" required name="montoEfectivo" #montoEfectivo="ngModel" id="montoEfectivo" type="number" class="validate">
          </div>
          <div class="col s4">
            <label class="active"  for="montoTarjeta">Monto Tarjeta</label>
            <input [(ngModel)]="datosEntregaCaja.montoTarjeta" required name="montoTarjeta" #montoTarjeta="ngModel"  (blur)="calcMontoCierre(datosEntregaCaja,apertura)" id="montoTarjeta" type="number" class="validate" required>
          </div>
          <div class="col s4">
            <label class="active"  for="total">Monto Total</label>
            <input [(ngModel)]="datosEntregaCaja.total" required name="total" #total="ngModel" id="total" type="number" class="validate" disabled>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s6">
            <br>
            <button type="submit" class="btn waves-effect waves-light left">Cerrar e Imprimir</button>
          </div>
          
          <div class="col s6">
            <br>
            <button type="button" (click)="resetForm()" id="btnCancelModal" class="btn btnDel waves-effect waves-light right modal-close">Cancelar</button>
          </div>
        </div>         
      </form>
    </div>
  </div>
</div>

