<div class="container">
  <br>
  <h5 class="managingTitle">Ventas Realizadas</h5>
  <br>

  <div class="row">
    <div class="col s12 left" style="padding-left: 0">

      <a class="waves-effect waves-light btn btn-small left" (click)="mostrarFrmFiltro()" style="margin: 0">
        <i class="icon-filter_list right"></i>Filtrar</a>

      <div class="contenedorFiltro" id="filtroConsultaVenta">

        <div class="row">
          <div class="col s12 center-align">
            <button type="button" (click)="limpiarFiltro()" class="btn waves-light btn-primaryInvertido left btnLimpiarFiltro">Limpiar</button>

            <button type="button" class="btn waves-light btn-primary right btnListoFiltro" (click)="loadRegistros()">Listo</button>
          </div>
        </div>

        <div class="row" style="padding-top: 10px">
          <div class="col s6">
            desde:
            <div class="input-field">
              <input [(ngModel)]="filtro.fechaDesde" id="fechaDesde" name="fechaDesde" type="date" style="text-align: center;">
            </div>
          </div>

          <div class="col s6">
            hasta:
            <div class="input-field">
              <input [(ngModel)]="filtro.fechaHasta" id="fechaHasta" name="fechaHasta" type="date" style="text-align: center;">
            </div>
          </div>

        </div>

      </div>
      <app-show-chips-filter [lstFiltros]="listaFiltros" (removeFilter)="removerFiltro($event)"></app-show-chips-filter>
    </div>
  </div>

  <div class="row">

    <div class="col s12" style="padding: unset;">
      <ul class="tabs tabs-fixed-width" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);">
        <li class="tab col s3">
          <a class="active" href="#Grafico">Gráfico</a>
        </li>
        <li class="tab col s3">
          <a href="#listaVentas">Listado</a>
        </li>
      </ul>
    </div>

    <div class="card" id="listaVentas" style="position: unset;">
      <br>
      <br>
      <br>
      <h5 class="center-align">Total de Ventas: {{ ventasRealizadas.totalVendido | iFormatNumber }}</h5>
      <br>
      <table class="striped">
        <thead>
          <tr>
            <th>N° Factura</th>
            <th class="center-align">Fecha</th>
            <th class="center-align">Gravadas 5</th>
            <th class="center-align">Gravadas 10</th>
            <th class="center-align">Exentas</th>
            <th class="center-align">IVA 5</th>
            <th class="center-align">IVA 10</th>
            <th class="center-align">Descuentos</th>
            <th class="center-align">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaCV | paginate: { itemsPerPage: regXpag, currentPage: p }">
            <td>{{ item.nroFactura }}</td>
            <td class="center-align">{{ item.fechaCreacion | date:'dd/MM/yyyy' }}</td>
            <td style="text-align: right">{{ item.gravada5 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.gravada10 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.exenta | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.iva5 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.iva10 | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.descuento | iFormatNumber }}</td>
            <td style="text-align: right">{{ item.neto | iFormatNumber }}</td>
          </tr>
        </tbody>
      </table>
      <!-- paginado -->
      <div class="row">
        <div class="col s2 left">
          <a class="waves-effect waves-light btn" (click)="getReporte()"><i class="material-icons right">file_download</i>Descargar Excel</a>
        </div>
        <div class="col s8 center-align">
          <pagination-controls (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col s1">
          <p class="right-align">cant. reg.</p>
        </div>
        <div class="col s1">
          <select class="browser-default" name="regXpag" [(ngModel)]="regXpag">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

    <div id="Grafico" class="contenedorGraphic">
      <br> <br>
      <div class="row">
        <canvas id="grafVtas" #grafVtas height="80%"></canvas>
      </div>
    </div>

  </div>
</div>